@model QueuedEmailModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Queued emails");
}

<form asp-controller="QueuedEmail" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.System.QueuedEmails.EditQueuedEmailDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.System.QueuedEmails.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="requeue" class="btn btn-success">
                <i class="far fa-clone"></i>
                @T("Admin.System.QueuedEmails.Requeue")
            </button>
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="queuedEmail-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.QueuedEmailDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="queuedEmail-delete" />
