@model PredefinedProductAttributeValueModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.AddNew").Text;
}

<form asp-controller="ProductAttribute" asp-action="PredefinedProductAttributeValueCreatePopup"
      asp-route-productAttributeId="@Context.Request.Query["productAttributeId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.AddNew")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_attribute_predefined_value_details_buttons" })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdatePredefinedProductAttributeValue", Model)
</form>