@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Forums.Manage").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Manage forums");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.Forums.Manage")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("CreateForumGroup")" class="btn btn-primary">@T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup")</a>
        <a href="@Url.Action("CreateForum")" class="btn btn-primary">@T("Admin.ContentManagement.Forums.Forum.CreateForum")</a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="forumgroup-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#forumgroup-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ForumGroupList", "Forum"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @Html.Partial("_GridPagerMessages")
                                },
                                //details grid
                                detailInit: detailInit,
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Name",
                                        title: "@T("Admin.ContentManagement.Forums.ForumGroup.Fields.Name")",
                                        width: 300
                                    }, {
                                        field: "DisplayOrder",
                                        title: "@T("Admin.ContentManagement.Forums.ForumGroup.Fields.DisplayOrder")",
                                        width: 100
                                    }, {
                                        field: "CreatedOn",
                                        title: "@T("Admin.ContentManagement.Forums.ForumGroup.Fields.CreatedOn")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 80,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="EditForumGroup/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });

                        //details grid
                        function detailInit(e) {
                            $("<div/>").appendTo(e.detailCell).kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ForumList", "Forum"))?forumGroupId=" + e.data.Id,
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                scrollable: false,
                                sortable: true,
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @Html.Partial("_GridPagerMessages")
                                },
                                columns: [
                                    {
                                        field: "Name",
                                        title: "@T("Admin.ContentManagement.Forums.Forum.Fields.Name")",
                                        width: 300
                                    }, {
                                        field: "DisplayOrder",
                                        title: "@T("Admin.ContentManagement.Forums.Forum.Fields.DisplayOrder")",
                                        width: 150
                                    }, {
                                        field: "CreatedOn",
                                        title: "@T("Admin.ContentManagement.Forums.Forum.Fields.CreatedOn")",
                                        width: 150,
                                        type: "date",
                                        format: "{0:G}"
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 80,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="EditForum/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>