@using Nop.Plugin.Feed.GoogleShopping.Models;
@model FeedGoogleShoppingModel
@{
    Layout = "_ConfigurePlugin";

    Html.AddCssFileParts("~/Plugins/Feed.GoogleShopping/Content/styles.css");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script>
        $(document).ready(function() {
            bindBootstrapTabSelectEvent('googlebase-configure');
        });
    </script>

    <div id="googlebase-configure" class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            @Html.RenderBootstrapTabHeader("tab-general", @T("Plugins.Feed.GoogleShopping.General"), true)
            @Html.RenderBootstrapTabHeader("tab-override", @T("Plugins.Feed.GoogleShopping.Override"))
        </ul>
        <div class="tab-content">
            @Html.RenderBootstrapTabContent("tab-general", await Html.PartialAsync("~/Plugins/Feed.GoogleShopping/Views/_Configure.General.cshtml", Model), true)
            @Html.RenderBootstrapTabContent("tab-override", await Html.PartialAsync("~/Plugins/Feed.GoogleShopping/Views/_Configure.Override.cshtml", Model))
        </div>
    </div>
}