@model Nop.Web.Models.Boards.ForumBreadcrumbModel
@using Nop.Services.Forums;
@using Nop.Services.Seo;
<div class="forumbreadcrumb">
    @* Uncomment the following to override the Model provided separator *@ 
    @*@{Model.Separator = " &gt; ";}*@
    @* Another example  *@ 
    @*@{Model.Separator = " / ";}*@
    <a href="@Model.StoreLocation" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a>
    @Html.Raw(@Model.Separator)
    @Html.RouteLink(@T("Forum.Forums").Text, "Boards", null, new { title = @T("Forum.Breadcrumb.ForumHomeTitle") })
    @if (@Model.ForumGroupModel != null)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumGroupModel.ForumGroup.Name, "ForumGroupSlug",
            new { id = @Model.ForumGroupModel.ForumGroup.Id, slug = @Model.ForumGroupModel.ForumGroup.GetSeName() },
            new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.ForumGroupTitle"), @Model.ForumGroupModel.ForumGroup.Name) })
    }
    @if (@Model.ForumModel != null)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumModel.Forum.Name, "ForumSlug",
             new { id = @Model.ForumModel.Forum.Id, slug = @Model.ForumModel.Forum.GetSeName() },
             new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.ForumTitle"), @Model.ForumModel.Forum.Name) })
    }
    @if (@Model.ForumTopicPostsModel != null &&
        @Model.ForumTopicPostsModel.ForumTopic != null &&
        !String.IsNullOrEmpty(@Model.ForumTopicPostsModel.ForumTopic.Subject) &&
        @Model.ForumTopicPostsModel.ForumTopic.Id > 0)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumTopicPostsModel.ForumTopic.Subject, "TopicSlug",
            new { id = @Model.ForumTopicPostsModel.ForumTopic.Id, slug = @Model.ForumTopicPostsModel.ForumTopic.GetSeName() },
            new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.TopicTitle"), @Model.ForumTopicPostsModel.ForumTopic.Subject) })
    }
</div>
