<<<<<<< HEAD
<<<<<<< HEAD
﻿<div class="search-box forum-search-box">
    <form asp-route="Search" method="get">
        <div class="basic">
            <input type="text" class="search-box-text" id="forums-small-searchterms" name="searchterms" placeholder="@T("Forum.SearchForumsTooltip")" />
            <button type="submit" class="button-2 search-box-button">@T("Forum.SearchButton")</button>
        </div>
        <div class="advanced">
            @Html.RouteLink(T("Forum.AdvancedSearch").Text, "Search", new { advs = true }, new { title = T("Forum.AdvancedSearch").Text })
        </div>
    </form>
=======
=======
=======
<<<<<<< HEAD
﻿<div class="search-box forum-search-box">
    <form asp-route="Search" method="get">
        <div class="basic">
            <input type="text" class="search-box-text" id="forums-small-searchterms" name="searchterms" placeholder="@T("Forum.SearchForumsTooltip")" />
            <button type="submit" class="button-2 search-box-button">@T("Forum.SearchButton")</button>
        </div>
        <div class="advanced">
            @Html.RouteLink(T("Forum.AdvancedSearch").Text, "Search", new { advs = true }, new { title = T("Forum.AdvancedSearch").Text })
        </div>
    </form>
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿<div class="search-box forum-search-box">
    <form asp-route="Search" method="get">
        <div class="basic">
            <input type="text" class="search-box-text" id="forums-small-searchterms" name="searchterms" placeholder="@T("Forum.SearchForumsTooltip")" />
            <button type="submit" class="button-2 search-box-button">@T("Forum.SearchButton")</button>
        </div>
        <div class="advanced">
            @Html.RouteLink(T("Forum.AdvancedSearch").Text, "Search", new { advs = true }, new { title = T("Forum.AdvancedSearch").Text })
        </div>
    </form>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
</div>