<div class="forumsearchbox">    
    @using (Html.BeginForm("Search", "Boards", FormMethod.Get))
    {
        var searchText = T("Forum.SearchForumsTooltip");
        @Html.TextBox("searchterms", searchText, new { @class = "forumsearchboxtext", onclick = String.Format("if(this.value=='{0}')this.value=''", searchText), onblur = String.Format("if(this.value=='')this.value='{0}';", searchText) })
        <input type="submit" value="@T("Forum.SearchButton")" class="forumsearchboxbutton" />
        <br />        
        @Html.RouteLink(@T("Forum.AdvancedSearch").Text, "Search", new { adv = true }, new { title = @T("Forum.AdvancedSearch").Text })
    }
</div>
