@model ForumBreadcrumbModel
@using Nop.Web.Models.Boards;
<div class="forumbreadcrumb">
    @* Uncomment the following to override the Model provided separator *@ 
    @*@{Model.Separator = " &gt; ";}*@
    @* Another example  *@ 
    @*@{Model.Separator = " / ";}*@
    <a href="@Model.StoreLocation" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a>
    @Html.Raw(@Model.Separator)
    @Html.RouteLink(@T("Forum.Forums").Text, "Boards", null, new { title = @T("Forum.Breadcrumb.ForumHomeTitle") })
    @if (@Model.ForumGroupId > 0)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumGroupName, "ForumGroupSlug",
            new { id = @Model.ForumGroupId, slug = @Model.ForumGroupSeName },
            new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.ForumGroupTitle"), @Model.ForumGroupName) })
    }
    @if (@Model.ForumId > 0)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumName, "ForumSlug",
             new { id = @Model.ForumId, slug = @Model.ForumSeName },
             new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.ForumTitle"), @Model.ForumName) })
    }
    @if (@Model.ForumTopicId > 0)
    {
        @Html.Raw(@Model.Separator)
        @Html.RouteLink(@Model.ForumTopicSubject, "TopicSlug",
            new { id = @Model.ForumTopicId, slug = @Model.ForumTopicSeName },
            new { title = String.Format("{0}: {1} ", @T("Forum.Breadcrumb.TopicTitle"), @Model.ForumTopicSubject) })
    }
</div>
