@model LastPostModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Boards;
@using Nop.Web.Framework;
@using Nop.Services.Customers;
@using Nop.Services.Forums;
@using Nop.Services.Helpers;
@using Nop.Services.Seo;
@if (@Model.Id > 0)
{
    <div class="LastPost">
        @Model.PostCreatedOnStr<br />
        @if (Model.ShowTopic)
        {
            <text>@T("Forum.In"):</text>
            @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug", new { id = @Model.ForumTopicId, slug = @Model.ForumTopicSeName })
            <br />
        }
        @if (@Model.CustomerId > 0)
        {
            var authorText = @T("Forum.By");
            var authorName = Html.Encode(@Model.CustomerName);
            if (Model.AllowViewingProfiles && !Model.IsCustomerGuest)
            {
                var output = String.Format("{0}: <a href=\"{2}\">{1}</a>", authorText, authorName, @Url.RouteUrl("CustomerProfile", new { id = Model.CustomerId }));
                @Html.Raw(output)
            }
            else
            {
                var output = String.Format("{0}: {1}", authorText, authorName);
                @output
            }
        }
    </div>
}
else
{
    <div class="nopost">
        @T("Forum.NoPosts")
    </div>
}
