@model LastPostModel
@using Nop.Web.Models.Boards;
@if (Model.Id > 0)
{
    <div class="last-post">
        <div class="createdon">@Model.PostCreatedOnStr</div>
        @if (Model.ShowTopic)
        {
            <div class="origin">
                <label>@T("Forum.In"):</label>
                @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })
            </div>
        }
        @if (Model.CustomerId > 0)
        {
            <div class="author">
                @if (Model.AllowViewingProfiles && !Model.IsCustomerGuest)
                {
                    @T("Forum.By")<text>:</text> @Html.RouteLink(Model.CustomerName, "CustomerProfile", new { Id = Model.CustomerId })
                }
                else
                {
                    @T("Forum.By")<text>:</text> @Model.CustomerName
                }
            </div>
        }
    </div>
}
else
{
    <div class="no-post">
        @T("Forum.NoPosts")
    </div>
}
