@model TopicMoveModel
@using Nop.Web.Models.Boards;
@using Nop.Services.Seo;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="page move-forum-topic">
        @Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })
        <div class="clear">
        </div>
        <div class="title">
            @T("Forum.MoveTopic")
        </div>
        <div class="clear">
        </div>
        <div class="page-body">
            <table class="move-topic">
                <tr>
                    <td class="fieldname">
                        @T("Forum.SelectTheForumToMoveTopic"):
                    </td>
                    <td>
                        @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="options">
                        <input type="submit" value="@T("Forum.Submit")" class="button-1 submit-forum-topic-button" />
                        <input type="button" class="button-2 cancel-forum-topic-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = @Model.Id, slug = @Model.TopicSeName })')" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}