@model Nop.Plugin.Payments.PayPalStandard.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<script type="text/javascript">
	$(document).ready(function () {

		$("#@Html.IdFor(model => model.EnableIpn)").click(toggleEnableIpn);
        $("#@Html.IdFor(model => model.PassProductNamesAndTotals)").click(togglePassProductNamesAndTotals);
	    toggleEnableIpn();
	    togglePassProductNamesAndTotals();
	});

	function toggleEnableIpn() {
	    if ($('#@Html.IdFor(model => model.EnableIpn)').is(':checked')) {
			$('#pnlIpnUrl').show();
		}
		else {
			$('#pnlIpnUrl').hide();
		}
	}

    function togglePassProductNamesAndTotals() {
        warningValidation('@Url.Action("RoundingWarning", "PaymentPayPalStandard")', '@Html.NameFor(model => model.PassProductNamesAndTotals)',
            { passProductNamesAndTotals: $('#@Html.IdFor(model => model.PassProductNamesAndTotals)').is(':checked') });
    }
</script>
<form asp-controller="PaymentPayPalStandard" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Payments.PayPalStandard.Instructions"))
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="BusinessEmail_OverrideForStore" asp-input="BusinessEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="BusinessEmail" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="BusinessEmail" />
                        <span asp-validation-for="BusinessEmail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PdtToken_OverrideForStore" asp-input="PdtToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PdtToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PdtToken" />
                        <span asp-validation-for="PdtToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PdtValidateOrderTotal_OverrideForStore" asp-input="PdtValidateOrderTotal" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PdtValidateOrderTotal" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PdtValidateOrderTotal" />
                        <span asp-validation-for="PdtValidateOrderTotal"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PassProductNamesAndTotals_OverrideForStore" asp-input="PassProductNamesAndTotals" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PassProductNamesAndTotals" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PassProductNamesAndTotals" />
                        <span asp-validation-for="PassProductNamesAndTotals"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnableIpn_OverrideForStore" asp-input="EnableIpn" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableIpn" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableIpn" />
                        <span asp-validation-for="EnableIpn"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlIpnUrl">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IpnUrl_OverrideForStore" asp-input="IpnUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IpnUrl" />
                        @*TODO: Move to hint <em>@T("Plugins.Payments.PayPalStandard.Fields.EnableIpn.Hint2")</em>*@
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IpnUrl" />
                        <span asp-validation-for="IpnUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AddressOverride_OverrideForStore" asp-input="AddressOverride" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AddressOverride" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressOverride" />
                        <span asp-validation-for="AddressOverride"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ReturnFromPayPalWithoutPaymentRedirectsToOrderDetailsPage_OverrideForStore" asp-input="ReturnFromPayPalWithoutPaymentRedirectsToOrderDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ReturnFromPayPalWithoutPaymentRedirectsToOrderDetailsPage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ReturnFromPayPalWithoutPaymentRedirectsToOrderDetailsPage" />
                        <span asp-validation-for="ReturnFromPayPalWithoutPaymentRedirectsToOrderDetailsPage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>