@inject IThemeContext themeContext
@{
    var themeName = themeContext.WorkingThemeName;
}
<!DOCTYPE html>
<html @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link href="@Url.Content($"~/Themes/{themeName}/Content/css/print.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/lib/jquery-1.10.2.min.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
