<p>
    <h4>@T("Admin.Configuration.Settings.Order.ReturnRequestActions")</h4>
</p>
<p>
    <em>@T("Admin.Configuration.Settings.Order.ReturnRequestActions.Hint")</em>
</p>
<div>
    <a href="@Url.Action("ReturnRequestActionCreate")" class="k-button">@T("Admin.Common.AddNew")</a>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="returnrequestactions-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#returnrequestactions-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ReturnRequestActionList"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Admin.Configuration.Settings.Order.ReturnRequestActions.Name")",
                            width: 300
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.Configuration.Settings.Order.ReturnRequestActions.DisplayOrder")",
                            width: 100
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="@Url.Content("~/Admin/Setting/ReturnRequestActionEdit/")#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>