@model ForumSettingsModel
@using Telerik.Web.Mvc.UI;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.Forums")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ForumsEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ForumsEnabled)
                @Html.ValidationMessageFor(model => model.ForumsEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.RelativeDateTimeFormattingEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.RelativeDateTimeFormattingEnabled)
                @Html.ValidationMessageFor(model => model.RelativeDateTimeFormattingEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShowCustomersPostCount):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ShowCustomersPostCount)
                @Html.ValidationMessageFor(model => model.ShowCustomersPostCount)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowGuestsToCreatePosts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowGuestsToCreatePosts)
                @Html.ValidationMessageFor(model => model.AllowGuestsToCreatePosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowGuestsToCreateTopics):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowGuestsToCreateTopics)
                @Html.ValidationMessageFor(model => model.AllowGuestsToCreateTopics)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToEditPosts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomersToEditPosts)
                @Html.ValidationMessageFor(model => model.AllowCustomersToEditPosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToDeletePosts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomersToDeletePosts)
                @Html.ValidationMessageFor(model => model.AllowCustomersToDeletePosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToManageSubscriptions):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomersToManageSubscriptions)
                @Html.ValidationMessageFor(model => model.AllowCustomersToManageSubscriptions)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TopicsPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TopicsPageSize)
                @Html.ValidationMessageFor(model => model.TopicsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PostsPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PostsPageSize)
                @Html.ValidationMessageFor(model => model.PostsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchResultsPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchResultsPageSize)
                @Html.ValidationMessageFor(model => model.SearchResultsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ForumEditor):
            </td>
            <td class="adminData">
                @(Html.Telerik().DropDownList()
                    .Name("forumEditor")
                    .BindTo(Model.ForumEditorValues)
                    .HtmlAttributes(new { style = "width:255px" })
                )
                @Html.ValidationMessageFor(model => model.ForumEditor)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SignaturesEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SignaturesEnabled)
                @Html.ValidationMessageFor(model => model.SignaturesEnabled)
            </td>
        </tr>
        <tr class="adminSeparator">
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowPrivateMessages):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowPrivateMessages)
                @Html.ValidationMessageFor(model => model.AllowPrivateMessages)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShowAlertForPM):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ShowAlertForPM)
                @Html.ValidationMessageFor(model => model.ShowAlertForPM)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.NotifyAboutPrivateMessages):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.NotifyAboutPrivateMessages)
                @Html.ValidationMessageFor(model => model.NotifyAboutPrivateMessages)
            </td>
        </tr>
        <tr class="adminSeparator">
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ForumFeedsEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ForumFeedsEnabled)
                @Html.ValidationMessageFor(model => model.ForumFeedsEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ForumFeedCount):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ForumFeedCount)
                @Html.ValidationMessageFor(model => model.ForumFeedCount)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ActiveDiscussionsFeedEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ActiveDiscussionsFeedEnabled)
                @Html.ValidationMessageFor(model => model.ActiveDiscussionsFeedEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ActiveDiscussionsFeedCount):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ActiveDiscussionsFeedCount)
                @Html.ValidationMessageFor(model => model.ActiveDiscussionsFeedCount)
            </td>
        </tr>
    </table>
}