@model MediaSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Media").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.Media")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Action("StoreScopeConfiguration", "Setting")
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PicturesStoredIntoDatabase):
            </td>
            <td class="adminData">
                @if (Model.PicturesStoredIntoDatabase)
                {
                    @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Database")
                }
                else
                {
                    @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.FileSystem")
                }
                <input type="submit" name="change-picture-storage" class="k-button" onclick="return confirm('@T("Admin.Common.AreYouSure")');" value="@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")" />
                <br />
                <span>@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Note")</span>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AvatarPictureSize_OverrideForStore, model => model.AvatarPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AvatarPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AvatarPictureSize)
                @Html.ValidationMessageFor(model => model.AvatarPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSize_OverrideForStore, model => model.ProductThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ProductThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ProductThumbPictureSize)
                @Html.ValidationMessageFor(model => model.ProductThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ProductDetailsPictureSize_OverrideForStore, model => model.ProductDetailsPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ProductDetailsPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ProductDetailsPictureSize)
                @Html.ValidationMessageFor(model => model.ProductDetailsPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSizeOnProductDetailsPage_OverrideForStore, model => model.ProductThumbPictureSizeOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ProductThumbPictureSizeOnProductDetailsPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                @Html.ValidationMessageFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AssociatedProductPictureSize_OverrideForStore, model => model.AssociatedProductPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AssociatedProductPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AssociatedProductPictureSize)
                @Html.ValidationMessageFor(model => model.AssociatedProductPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.CategoryThumbPictureSize_OverrideForStore, model => model.CategoryThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.CategoryThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CategoryThumbPictureSize)
                @Html.ValidationMessageFor(model => model.CategoryThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ManufacturerThumbPictureSize_OverrideForStore, model => model.ManufacturerThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ManufacturerThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ManufacturerThumbPictureSize)
                @Html.ValidationMessageFor(model => model.ManufacturerThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.VendorThumbPictureSize_OverrideForStore, model => model.VendorThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.VendorThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.VendorThumbPictureSize)
                @Html.ValidationMessageFor(model => model.VendorThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.CartThumbPictureSize_OverrideForStore, model => model.CartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.CartThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CartThumbPictureSize)
                @Html.ValidationMessageFor(model => model.CartThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MiniCartThumbPictureSize_OverrideForStore, model => model.MiniCartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MiniCartThumbPictureSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MiniCartThumbPictureSize)
                @Html.ValidationMessageFor(model => model.MiniCartThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MaximumImageSize_OverrideForStore, model => model.MaximumImageSize, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MaximumImageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MaximumImageSize)
                @Html.ValidationMessageFor(model => model.MaximumImageSize)
            </td>
        </tr>
      <tr>
        <td class="adminTitle">
          @Html.OverrideStoreCheckboxFor(model => model.MultipleThumbDirectories_OverrideForStore, model => model.MultipleThumbDirectories, Model.ActiveStoreScopeConfiguration)
          @Html.NopLabelFor(model => model.MultipleThumbDirectories):
        </td>
        <td class="adminData">
          @Html.EditorFor(model => model.MultipleThumbDirectories)
          @Html.ValidationMessageFor(model => model.MultipleThumbDirectories)
        </td>
      </tr>
      <tr>
        <td class="adminTitle">
          @Html.OverrideStoreCheckboxFor(model => model.DefaultImageQuality_OverrideForStore, model => model.DefaultImageQuality, Model.ActiveStoreScopeConfiguration)
          @Html.NopLabelFor(model => model.DefaultImageQuality):
        </td>
        <td class="adminData">
          @Html.EditorFor(model => model.DefaultImageQuality)
          @Html.ValidationMessageFor(model => model.DefaultImageQuality)
        </td>
      </tr>
    </table>
}