@model ReturnRequestReasonModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Order.ReturnRequestReasons.EditDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.Order.ReturnRequestReasons.EditDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Configuration.Settings.Order.ReturnRequestReasons.BackToList") + ")", "ReturnRequestReasonList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="returnrequestreason-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate.ReturnRequestReason", Model)
}
@Html.DeleteConfirmation("ReturnRequestReasonDelete", "returnrequestreason-delete")