@model ReturnRequestActionModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Order.ReturnRequestActions.EditDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.Order.ReturnRequestActions.EditDetails") - @Model.Name
            <small>@Html.ActionLink("(" + T("Admin.Configuration.Settings.Order.ReturnRequestActions.BackToList") + ")", "ReturnRequestActionList")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <span id="returnrequestaction-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("_CreateOrUpdate.ReturnRequestAction", Model)
        </div>
    </div>
}
@Html.DeleteConfirmation("ReturnRequestActionDelete", "returnrequestaction-delete")