@model VendorSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Vendor").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.Vendor")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    
    @Html.Action("StoreScopeConfiguration", "Setting")
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.VendorsBlockItemsToDisplay_OverrideForStore, model => model.VendorsBlockItemsToDisplay, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.VendorsBlockItemsToDisplay):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.VendorsBlockItemsToDisplay)
                @Html.ValidationMessageFor(model => model.VendorsBlockItemsToDisplay)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ShowVendorOnProductDetailsPage_OverrideForStore, model => model.ShowVendorOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ShowVendorOnProductDetailsPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ShowVendorOnProductDetailsPage)
                @Html.ValidationMessageFor(model => model.ShowVendorOnProductDetailsPage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToContactVendors_OverrideForStore, model => model.AllowCustomersToContactVendors, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AllowCustomersToContactVendors):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomersToContactVendors)
                @Html.ValidationMessageFor(model => model.AllowCustomersToContactVendors)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToApplyForVendorAccount_OverrideForStore, model => model.AllowCustomersToApplyForVendorAccount, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AllowCustomersToApplyForVendorAccount):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomersToApplyForVendorAccount)
                @Html.ValidationMessageFor(model => model.AllowCustomersToApplyForVendorAccount)
            </td>
        </tr>
    </table>
}