@model VendorSettingsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Vendor").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.Vendor")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Action("StoreScopeConfiguration", "Setting")
            @Html.ValidationSummary(false)

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.VendorsBlockItemsToDisplay_OverrideForStore, model => model.VendorsBlockItemsToDisplay, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.VendorsBlockItemsToDisplay)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.VendorsBlockItemsToDisplay)
                                @Html.ValidationMessageFor(model => model.VendorsBlockItemsToDisplay)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ShowVendorOnProductDetailsPage_OverrideForStore, model => model.ShowVendorOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ShowVendorOnProductDetailsPage)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ShowVendorOnProductDetailsPage)
                                @Html.ValidationMessageFor(model => model.ShowVendorOnProductDetailsPage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToContactVendors_OverrideForStore, model => model.AllowCustomersToContactVendors, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AllowCustomersToContactVendors)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowCustomersToContactVendors)
                                @Html.ValidationMessageFor(model => model.AllowCustomersToContactVendors)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToApplyForVendorAccount_OverrideForStore, model => model.AllowCustomersToApplyForVendorAccount, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AllowCustomersToApplyForVendorAccount)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowCustomersToApplyForVendorAccount)
                                @Html.ValidationMessageFor(model => model.AllowCustomersToApplyForVendorAccount)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AllowSearchByVendor_OverrideForStore, model => model.AllowSearchByVendor, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AllowSearchByVendor)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowSearchByVendor)
                                @Html.ValidationMessageFor(model => model.AllowSearchByVendor)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.MaximumProductNumber_OverrideForStore, model => model.MaximumProductNumber, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MaximumProductNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumProductNumber)
                                @Html.ValidationMessageFor(model => model.MaximumProductNumber)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
