@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.ProductModel>
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Nop/Admin/Content/images/ico-catalog.png")" />
        @T("Admin.Catalog.Products.Manage")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
        <a href="@Url.Action("Export")" class="t-button">@T("Admin.Common.ExportToXml")</a>
    </div>
</div>
<table style="margin-bottom:10px;" class="adminContent">
        <tbody><tr>
            <td class="adminTitle">
                Name
            </td>
            <td class="adminData">
                <div id="select-language" class="t-widget t-combobox t-header"><div class="t-dropdown-wrap t-state-default"><input type="text" value="English" name="select-language-input" id="select-language-input" class="t-input" autocomplete="off"><span class="t-select t-header"><span class="t-icon t-arrow-down">select</span></span></div><input type="text" value="1" style="display:none" name="select-language" id="select-language-value"></div>
                <script type="text/javascript">
                    function onLanguageSelected(e) {
                        window.location = "/Admin/Language/Resources?languageId=" + e.value;
                    }
                </script>
            </td>
        </tr>
    </tbody></table>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Admin.Models.ProductModel>(Model.Data)
                    .Name("products-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name);
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(10))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Product"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>