@model DiscountModel
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts.EditDiscountDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "discount-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Discounts.EditDiscountDetails") - @Model.Name
            <small>@Html.ActionLink("(" + T("Admin.Promotions.Discounts.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <span id="discount-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("discount-delete")