@model InstallModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Install;
@using Nop.Web.Infrastructure.Installation;
@{
    Layout = null;
    //localization service for installation service
    //we do not use standard nopCommerce localization because database is not installed yet
    //locale resources for installation process are stored into \App_Data\Localization\Installation directory
    var ILS = EngineContext.Current.Resolve<IInstallationLocalizationService>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ILS.GetResource("Title")</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (ILS.GetCurrentLanguage().IsRightToLeft)
    {
        <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.rtl.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/Install/style.rtl.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/Install/style.css")" rel="stylesheet" />
    }
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/public.common.js")"></script>
</head>
<body>
    @using (Html.BeginForm("Index", "Install", FormMethod.Post, new { id = "installation-form" }))
    {
        <div class="container container-narrow container-installer">
            <div class="top-bar row">
                <div class="col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3 col-md-offset-10 col-md-2">
                    @Html.DropDownList("language", Model.AvailableLanguages, new { onchange = "window.location.href = this.value;", @class = "form-control input-sm" })
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading text-center">
                    <img src="~/Content/install/images/logo-installation.png" class="logo" title="@ILS.GetResource("Title")" />
                </div>
                <div class="panel-body">
                    <p>
                        @ILS.GetResource("Tooltip2")
                    </p>
                    <div class="text-danger bg-danger">
                        @Html.ValidationSummary(false)
                    </div>
                    <h2 class="h3 page-header">
                        @ILS.GetResource("StoreInformation")
                    </h2>
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label for="AdminEmail" class="control-label col-sm-4">@ILS.GetResource("AdminEmail")</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.AdminEmail, new { @class = "form-control", @type = "email" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="AdminPassword" class="control-label col-sm-4">
                                @ILS.GetResource("AdminPassword")
                            </label>
                            <div class="col-sm-8">
                                @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="ConfirmPassword" class="control-label col-sm-4">
                                @ILS.GetResource("ConfirmPassword")
                            </label>
                            <div class="col-sm-8">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        @if (!Model.DisableSampleDataOption)
                        {
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label for="InstallSampleData">
                                            @Html.CheckBoxFor(x => x.InstallSampleData) @ILS.GetResource("CreateSampleData")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h2 class="h3 page-header">
                        @ILS.GetResource("DatabaseInformation")
                    </h2>
                    @if (!Model.DisableSqlCompact)
                {
                        <div class="radio">
                            <label for="provider_sqlce">
                                @Html.RadioButton("DataProvider", "sqlce", (Model.DataProvider == "sqlce"), new { id = "provider_sqlce" })
                                @ILS.GetResource("SqlCompact")
                            </label>
                        </div>
                    }
                    <div class="radio">
                        <label for="provider_sqlserver">
                            @Html.RadioButton("DataProvider", "sqlserver", (Model.DataProvider == "sqlserver"), new { id = "provider_sqlserver" })
                            @ILS.GetResource("SqlStandard") <strong>@ILS.GetResource("Recommended")</strong>
                        </label>
                    </div>
                    <div class="form-horizontal" id="sqlConnectionInfo">
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label for="SqlServerCreateDatabase">
                                        @Html.CheckBoxFor(x => x.SqlServerCreateDatabase)
                                        @ILS.GetResource("CreateDatabaseIfDoesNotExist")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <strong>@ILS.GetResource("ConnectionProperties")</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <label for="sqlconnectioninfo_values">
                                        @Html.RadioButton("SqlConnectionInfo", "sqlconnectioninfo_values", (Model.SqlConnectionInfo == "sqlconnectioninfo_values"), new { id = "sqlconnectioninfo_values" })
                                        @ILS.GetResource("ConnectionStringValues")
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="sqlconnectioninfo_raw">
                                        @Html.RadioButton("SqlConnectionInfo", "sqlconnectioninfo_raw", (Model.SqlConnectionInfo == "sqlconnectioninfo_raw"), new { id = "sqlconnectioninfo_raw" })
                                        @ILS.GetResource("RawConnectionString")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="jumbotron" id="sqlDatabaseInfo">
                            <div class="form-group form-group-sm">
                                <label for="SqlServerName" class="col-sm-4 control-label">
                                    @ILS.GetResource("SqlServerName")
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(x => x.SqlServerName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="SqlDatabaseName" class="col-sm-4 control-label">
                                    @ILS.GetResource("DatabaseName")
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(x => x.SqlDatabaseName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    <strong>@ILS.GetResource("Authentication")</strong>
                                </div>
                                <div class="col-sm-8">
                                    <div class="radio">
                                        <label for="sqlauthenticationtype_windows">
                                            @Html.RadioButton("SqlAuthenticationType", "windowsauthentication", (Model.SqlAuthenticationType == "windowsauthentication"), new { id = "sqlauthenticationtype_windows" })
                                            @ILS.GetResource("WindowsAuthentication")
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="sqlauthenticationtype_sql">
                                            @Html.RadioButton("SqlAuthenticationType", "sqlauthentication", (Model.SqlAuthenticationType == "sqlauthentication"), new { id = "sqlauthenticationtype_sql" })
                                            @ILS.GetResource("SqlAuthentication")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" id="pnlSqlServerUsername">
                                <label for="SqlServerUsername" class="col-sm-4 control-label">
                                    @ILS.GetResource("SqlServerUsername"):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(x => x.SqlServerUsername, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group form-group-sm" id="pnlSqlServerPassword">
                                <label for="SqlServerPassword" class="col-sm-4 control-label">
                                    @ILS.GetResource("SqlServerPassword"):
                                </label>
                                <div class="col-sm-8">
                                    @Html.PasswordFor(x => x.SqlServerPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="jumbotron" id="sqlDatabaseConnectionString">
                            <div class="form-group form-group-sm">
                                <label for="DatabaseConnectionString" class="col-sm-4 control-label">
                                    @ILS.GetResource("ConnectionString"):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(x => x.DatabaseConnectionString, new { @class = "form-control" })
                                    <small class="help-block">
                                        @ILS.GetResource("Example"): Data Source=sqlServerName; Initial Catalog=dbName; Persist Security; UserID=userName; Password=password
                                        <br />
                                        Find more info <a href="http://www.connectionstrings.com/" target="_blank">here</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label for="UseCustomCollation">
                                        @Html.CheckBoxFor(x => x.UseCustomCollation)
                                        @ILS.GetResource("CustomCollation")
                                    </label>
                                    @Html.TextBoxFor(x => x.Collation, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <a href="@Url.Action("RestartInstall", "Install")" class="btn btn-link" title="@ILS.GetResource("RestartInstallationTooltip")">@ILS.GetResource("RestartInstallation")</a>
                    <button type="submit" class="btn btn-primary">@ILS.GetResource("Install")</button>
                </div>
            </div>
            <div class="bottom-bar">
                <small>@ILS.GetResource("Documentation1") <a href="http://docs.nopcommerce.com/display/nc/nopCommerce+Documentation?utm_source=installation-page&utm_medium=footer&utm_campaign=installation-page" target="_blank">@ILS.GetResource("Documentation2")</a></small>
            </div>
        </div>

    }
    <div class="throbber">
        <div class="curtain"></div>
        <div class="curtain-content">
            <h1 class="h3">@ILS.GetResource("Installing")</h1>
            <img src="@Url.Content("~/content/install/images/install-synchronizing.gif")" />
        </div>
    </div>
    <!-- Contributor : The orchard project. Thanks a lot! -->
    <script>
        $(document).ready(function () {
                $('#installation-form').submit(function () {
                    if ($('#installation-form').valid()) {
                        window.setTimeout(function () {
                            $(".throbber").fadeIn('fast');
                        }, 1000);

                        $('button[type=submit]', this).attr('disabled', 'disabled');
                    }
                });
            });

            $(document).ready(function () {
                $('input:radio[name=DataProvider]').click(toggleProvider);
                $('input:radio[name=SqlConnectionInfo]').click(toggleSqlConnectionInfo);
                $('input:radio[name=SqlAuthenticationType]').click(toggleSqlAuthenticationType);
                $("input:checkbox[name=UseCustomCollation]").click(toggleCollation);

                toggleProvider();
                toggleSqlConnectionInfo();
                toggleSqlAuthenticationType();
                toggleCollation();
            });


            function toggleProvider() {
                var selectedProvider = $("input[name=DataProvider]:checked").attr('id');
                if (selectedProvider == 'provider_sqlce') {
                    $('#sqlConnectionInfo').slideUp('fast');
                }
                else if (selectedProvider == 'provider_sqlserver') {
                    $('#sqlConnectionInfo').slideDown('fast');
                }
            }

            function toggleSqlConnectionInfo() {
                var selectedProvider = $("input[name=SqlConnectionInfo]:checked").attr('id');
                if (selectedProvider == 'sqlconnectioninfo_values') {
                    $('#sqlDatabaseInfo').slideDown('fast');
                    $('#sqlDatabaseConnectionString').slideUp('fast');
                }
                else if (selectedProvider == 'sqlconnectioninfo_raw') {
                    $('#sqlDatabaseInfo').slideUp('fast');
                    $('#sqlDatabaseConnectionString').slideDown('fast');
                }
            }

            function toggleSqlAuthenticationType() {
                var selectedProvider = $("input[name=SqlAuthenticationType]:checked").attr('id');
                if (selectedProvider == 'sqlauthenticationtype_sql') {
                    $('#pnlSqlServerUsername').slideDown('fast');
                    $('#pnlSqlServerPassword').slideDown('fast');
                }
                else if (selectedProvider == 'sqlauthenticationtype_windows') {
                    $('#pnlSqlServerUsername').slideUp('fast');
                    $('#pnlSqlServerPassword').slideUp('fast');
                }
            }


            function toggleCollation() {
                if ($('#UseCustomCollation').is(':checked')) {
                    $('#Collation').slideDown('fast');
                }
                else {
                    $('#Collation').slideUp('fast');
                }
            }

    </script>
</body>
</html>
