@model CustomerReportsSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Customers.BestBy.BestByOrderTotal").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers by order total");
}

<nop-antiforgery-token />


<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Customers.BestBy.BestByOrderTotal")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="BestCustomersByOrderTotal.StartDate"/>
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="BestCustomersByOrderTotal.StartDate"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="BestCustomersByOrderTotal.EndDate"/>
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="BestCustomersByOrderTotal.EndDate"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="BestCustomersByOrderTotal.OrderStatusId"/>
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="BestCustomersByOrderTotal.OrderStatusId" asp-items="Model.BestCustomersByOrderTotal.AvailableOrderStatuses"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="BestCustomersByOrderTotal.PaymentStatusId"/>
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="BestCustomersByOrderTotal.PaymentStatusId" asp-items="Model.BestCustomersByOrderTotal.AvailablePaymentStatuses"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="BestCustomersByOrderTotal.ShippingStatusId"/>
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="BestCustomersByOrderTotal.ShippingStatusId" asp-items="Model.BestCustomersByOrderTotal.AvailableShippingStatuses"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3">
                                    <button type="button" id="search-best-customers-ordertotal" class="btn btn-primary btn-search">
                                        <i class="fa fa-line-chart"></i>
                                        @T("Admin.Reports.Customers.RunReport")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="best-customers-ordertotal-grid"></div>

                    <script>
                    $(document).ready(function() {
                        $("#best-customers-ordertotal-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ReportBestCustomersByOrderTotalList", "Report"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: function () {
                                            var data = {
                                                OrderBy : 1,
                                                StartDate: $('#@Html.IdFor(model => model.BestCustomersByOrderTotal.StartDate)').val(),
                                                EndDate: $('#@Html.IdFor(model => model.BestCustomersByOrderTotal.EndDate)').val(),
                                                OrderStatusId: $('#@Html.IdFor(model => model.BestCustomersByOrderTotal.OrderStatusId)').val(),
                                                PaymentStatusId: $('#@Html.IdFor(model => model.BestCustomersByOrderTotal.PaymentStatusId)').val(),
                                                ShippingStatusId: $('#@Html.IdFor(model => model.BestCustomersByOrderTotal.ShippingStatusId)').val()
                                            };
                                            addAntiForgeryToken(data);
                                            return data;
                                        }
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(Model.BestCustomersByOrderTotal.PageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(Model.BestCustomersByOrderTotal.AvailablePageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "CustomerName",
                                    title: "@T("Admin.Reports.Customers.BestBy.Fields.Customer")"
                                }, {
                                    field: "OrderTotal",
                                    title: "@T("Admin.Reports.Customers.BestBy.Fields.OrderTotal")"
                                }, {
                                    field: "OrderCount",
                                    title: "@T("Admin.Reports.Customers.BestBy.Fields.OrderCount")"
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            ]
                        });
                    });
                    </script>

                    <script>
                        $(document).ready(function () {
                            $('#search-best-customers-ordertotal').click(function () {
                                var grid = $('#best-customers-ordertotal-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>