@model CountryReportSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Sales.Country").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Country sales");
}

@{
    const string hideSearchBlockAttributeName = "CountrySalesPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Sales.Country")
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="EndDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="OrderStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="OrderStatusId" asp-items="Model.AvailableOrderStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="PaymentStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="PaymentStatusId" asp-items="Model.AvailablePaymentStatuses" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-countryreport" class="btn btn-primary btn-search">
                                    <i class="fa fa-line-chart"></i>
                                    @T("Admin.Reports.Sales.Country.RunReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "countryreport-grid",
                        UrlRead = new DataUrl("CountrySalesList", "Report", null),
                        SearchButtonId = "search-countryreport",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.StartDate)),
                            new FilterParameter(nameof(Model.EndDate)),
                            new FilterParameter(nameof(Model.OrderStatusId)),
                            new FilterParameter(nameof(Model.PaymentStatusId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CountryReportModel.CountryName))
                            {
                                Title = T("Admin.Reports.Sales.Country.Fields.CountryName").Text
                            },
                            new ColumnProperty(nameof(CountryReportModel.TotalOrders))
                            {
                                Title = T("Admin.Reports.Sales.Country.Fields.TotalOrders").Text
                            },
                            new ColumnProperty(nameof(CountryReportModel.SumOrders))
                            {
                                Title = T("Admin.Reports.Sales.Country.Fields.SumOrders").Text
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>