@model CustomerReportsSearchModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customer reports");
}

@{
    const string hideBestByOrderTotalBlockAttributeName = "CategoryPage.HideInfoBlock";
    var hideBestByOrderTotalBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideBestByOrderTotalBlockAttributeName);

    const string hideBestByNumberOfOrdersBlockAttributeName = "CategoryPage.HideInfoBlock";
    var hideBestByNumberOfOrdersBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideBestByNumberOfOrdersBlockAttributeName);

    const string hideRegisteredCustomersBlockAttributeName = "CategoryPage.HideInfoBlock";
    var hideRegisteredCustomersBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideRegisteredCustomersBlockAttributeName);
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Customers")
    </h1>
    <div class="pull-right">
        &nbsp;
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerReportsButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="customer-reports">
            <nop-panel asp-name="ordertotal" asp-title="@T("Admin.Reports.Customers.BestBy.BestByOrderTotal")" asp-hide-block-attribute-name="@hideBestByOrderTotalBlockAttributeName" asp-hide="@hideBestByOrderTotalBlock" asp-advanced="false">@await Html.PartialAsync("_Customers.BestCustomersByOrderTotal", Model)</nop-panel>
            <nop-panel asp-name="numberoforders" asp-title="@T("Admin.Reports.Customers.BestBy.BestByNumberOfOrders")" asp-hide-block-attribute-name="@hideBestByNumberOfOrdersBlockAttributeName" asp-hide="@hideBestByNumberOfOrdersBlock" asp-advanced="false">@await Html.PartialAsync("_Customers.BestCustomersByNumberOfOrders", Model)</nop-panel>
            <nop-panel asp-name="registeredcustomers" asp-title="@T("Admin.Reports.Customers.RegisteredCustomers")" asp-hide-block-attribute-name="@hideRegisteredCustomersBlockAttributeName" asp-hide="@hideRegisteredCustomersBlock" asp-advanced="false">@await Html.PartialAsync("_Customers.RegisteredCustomers", Model)</nop-panel>
        </nop-panels>

        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerReportsBlock, additionalData = Model })
    </div>
</div>
