@model Nop.Plugin.Payments.Zapper.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")


<form asp-controller="PaymentZapper" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SiteId_OverrideForStore" asp-input="SiteId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SiteId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SiteId" />
                        <span asp-validation-for="SiteId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PosKey_OverrideForStore" asp-input="PosKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PosKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PosKey" />
                        <span asp-validation-for="PosKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PosToken_OverrideForStore" asp-input="PosToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PosToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PosToken" />
                        <span asp-validation-for="PosToken"></span>
                    </div>
                </div>               
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>