@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
            <div class="buttons">
                <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="form-horizontal" role="form">
                    <div class="form-group row">
                        <label class="control-label col-sm-3 col-md-2 col-xs-12 password-text" asp-for="NewPassword" asp-postfix=":"></label>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            <input class="password form-control" asp-for="NewPassword" />
                        </div>
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            <nop-required />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3 col-md-2 col-xs-12 password-text" asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            <input class="password form-control" asp-for="ConfirmNewPassword" />
                        </div>  
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            <nop-required />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>                        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-2 col-md-2">
                        <button type="submit" name="set-password" class="btn btn-primary password-recovery-button">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
