@model RecurringPaymentModel

@{  
    //page title
    ViewBag.Title = T("Admin.RecurringPayments.EditPaymentDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.RecurringPayments.EditPaymentDetails") 
            <small>@Html.ActionLink("(" + T("Admin.RecurringPayments.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <span id="payment-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("payment-delete")