@model SupportListViewModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = "Customer Support Requests";
    NopHtml.SetActiveMenuItemSystemName("Support requests");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Support Requests
    </h1>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <form method="get" action="@Url.Action("List")">
                            <div class="request-list-options-cntr">
                                <div class="request-list-option">
                                    <label for="@Model.SelectedSortOption">Sort</label>
                                    <select asp-for="SelectedSortOption" asp-items="@SupportListViewModel.SortOptions" name="sortBy" onchange="this.form.submit()"></select>
                                    <span asp-validation-for="SelectedSortOption" class="text-danger"></span>
                                </div>
                                <div class="request-list-option">
                                    <label for="@Model.FilterByStatus">Status</label>
                                    <select asp-for="FilterByStatus" asp-items="@SupportListViewModel.AvailableStatuses" name="filterByStatus" onchange="this.form.submit()"></select>
                                    <span asp-validation-for="FilterByStatus" class="text-danger"></span>
                                </div>
                                <div class="request-list-option">
                                    <label for="@Model.SearchTerm">Search</label>
                                    <input type="text" asp-for="SearchTerm" name="searchTerm" class="form-control" onfocusout="this.form.submit()" onkeydown="if (event.key === 'Enter') {this.form.submit()}"/>
                                    <span asp-validation-for="SearchTerm" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">

                        @if (!Model.Requests.Any())
                        {
                            <p>No support requests available.</p>
                        }
                        else
                        {
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer ID</th>
                                    <th>Subject</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var request in Model.Requests)
                                {
                                    <tr>
                                        <td>@request.Id</td>
                                        <td>@request.CustomerId</td>
                                        <td>@request.Subject</td>
                                        <td>@request.Status</td>
                                        <td>@request.CreatedOnUtc</td>
                                        <td>
                                            <a asp-action="Chat" asp-route-requestId="@request.Id" class="btn btn-primary">
                                                View
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }

                        <div class="support-request-pagination">
                            @if (Model.TotalPages > 1)
                            {
                                <ul>
                                    @for (int i = 0; i < Model.TotalPages; i++)
                                    {
                                        <li>
                                            <a href="@Url.Action("List", new
                                                     {
                                                         sortBy = @Model.SelectedSortOption,
                                                         filterByStatus = @Model.FilterByStatus,
                                                         searchTerm = @Model.SearchTerm,
                                                         pageIndex = i,
                                                         pageSize = @Model.PageSize
                                                     })" class="@(i == Model.CurrentPage ? "active" : "")">
                                                @(i + 1)
                                            </a>
                                        </li>
                                    }
                                </ul>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>