@model SupportListViewModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = "Customer Support Requests";
    NopHtml.SetActiveMenuItemSystemName("Support requests");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Support Requests
    </h1>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <form method="get" action="@Url.Action("List")">
                            <div class="request-list-options-cntr">
                                <div class="request-list-option">
                                    <label for="@Model.SelectedSortOption">Sort by:</label>
                                    <select asp-for="SelectedSortOption" asp-items="@Model.SortOptions" name="sortBy"></select>
                                </div>
                                <div class="request-list-option">
                                    <label for="@Model.FilterByStatus">Filter by status:</label>
                                    <select asp-for="FilterByStatus" asp-items="@Model.AvailableStatuses" name="filterByStatus"></select>
                                </div>    
                            </div>
                            <div class="action-btn-cntr">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">

                        @if (!Model.Requests.Any())
                        {
                            <p>No support requests available.</p>
                        }
                        else
                        {
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer ID</th>
                                    <th>Subject</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var request in Model.Requests)
                                {
                                    <tr>
                                        <td>@request.Id</td>
                                        <td>@request.CustomerId</td>
                                        <td>@request.Subject</td>
                                        <td>@request.Status</td>
                                        <td>
                                            <a asp-action="Chat" asp-route-requestId="@request.Id" class="btn btn-primary">
                                                View
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>