@model DataTablesModel

@using System.Net;
@using System.Runtime.Serialization;


@functions
{
    string GetUrl(DataUrl dataUrl)
    {
        return !string.IsNullOrEmpty(dataUrl?.ActionName) && !string.IsNullOrEmpty(dataUrl.ControllerName)
            ? Url.Action(dataUrl.ActionName, dataUrl.ControllerName, dataUrl.RouteValues)
            : !string.IsNullOrEmpty(dataUrl.Url)
            ? $"{(dataUrl.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(dataUrl.Url) : dataUrl.Url).TrimEnd('/')}" + (!dataUrl.TrimEnd ? "/" : "")
            : string.Empty;
    }
}

<table class="table table-bordered table-hover table-striped dataTable" width="100%" id="@Model.Name"></table>

@{ 
    //check using MasterCheckBox
    var isUsedMasterCheckBox = Model.ColumnCollection.Any(x => x.IsMasterCheckBox == true);

    //Model name for js function names
    var model_name = Model.Name.Replace("-", "_");
}

<script>
    @if (isUsedMasterCheckBox)
    {
        //selectedIds - This variable will be used on views. It can not be renamed
        <text>
        var selectedIds = [];

        function updateMasterCheckbox() {
            var numChkBoxes = $('#@Model.Name input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
            var numChkBoxesChecked = $('#@Model.Name input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
        </text>
    }
    $(document).ready(function () {
        var table = $('#@Model.Name').DataTable({
             @await Html.PartialAsync("_Table.Definition", Model)
        });

        @if (!string.IsNullOrEmpty(Model.SearchButtonId))
        {
            <text>
            $('#@Model.SearchButtonId').click(function() {
                $('#@Model.Name').DataTable().ajax.reload();
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });
            </text>
        }
        @if (isUsedMasterCheckBox)
        {
            <text>
            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#@Model.Name').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                var $check = $(this);
                var checked = jQuery.inArray($check.val(), selectedIds);
                if ($check.is(':checked') == true) {
                    if (checked == -1) {
                        selectedIds.push($check.val());
                    }
                } else if (checked > -1) {
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                }
                updateMasterCheckbox();
            });
            </text>
        }
    });
</script>
@if ((Model.UrlDelete != null) || (Model.ChildTable?.UrlDelete != null))
{
    <text>
    <script>
        function DeleteData_@(model_name)(DataId) {
            if (confirm('@T("Admin.Common.DeleteConfirmation")')) {
                ActionDelete_@(model_name)(DataId);
            }
            else {
                return false;
            }
        }

        function ActionDelete_@(model_name)(DataId) {
            var postData = {
                @if (!string.IsNullOrEmpty(Model.BindColumnNameActionDelete))
                {
                    <text>
                    @Model.BindColumnNameActionDelete: DataId
                    </text>
                }
                else
                {
                    <text>
                    id: DataId
                    </text>
                }
            };
            addAntiForgeryToken(postData);

            $.ajax({
                url: '@Html.Raw(GetUrl((Model.ChildTable?.UrlDelete != null) ? Model.ChildTable?.UrlDelete : Model.UrlDelete))',
                type: '@WebRequestMethods.Http.Post',
                dataType: 'json',
                data: postData,
                success: function (result) {
                    //display error if returned
                    if (result) {
                        display_datatables_error(result);
                    }
                    //refresh grid
                    $('#@Model.Name').DataTable().draw(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
    </script>
    </text>
}

@if ((Model.UrlUpdate != null) || (Model.ChildTable?.UrlUpdate != null))
{
    <text>
    <script>
        var editIndexTable_@(model_name) = -1;
        var EditRowData_@(model_name) = [];
        var ColumnData_@(model_name) = [];
        @foreach(var column in Model.ColumnCollection.Where(x => x.Editable == true))
        {
            <text>
                var obj = { 'Data': '@column.Data', 'Editable': @column.Editable.ToString().ToLower(), 'Type': '@column.EditType.ToString().ToLower()' }
                ColumnData_@(model_name).push(obj);
            </text>
        }

        function EditData_@(model_name)(DataId, data) {
            $('#buttonEdit_@(model_name)' + data).hide();
            $('#buttonConfirm_@(model_name)' + data).show();
            $('#buttonCancel_@(model_name)' + data).show();
            RoweditMode_@(model_name)(DataId);
        }

        function RoweditMode_@(model_name)(rowid) {
            var prevRow;
            var rowIndexVlaue = parseInt(rowid[0].rowIndex);
            if (editIndexTable_@(model_name) == -1) {
                saveRowIntoArray_@(model_name)(rowid);
                rowid.attr("editState", "editState");
                editIndexTable_@(model_name) = rowid.rowIndex;
                setEditStateValue_@(model_name)(rowid, rowIndexVlaue);
            }
            else {
                prevRow = $("[editState=editState]");
                prevRow.attr("editState", "");
                rowid.attr("editState", "editState");
                editIndexTable_@(model_name) = rowIndexVlaue;
                saveArrayIntoRow_@(model_name)(prevRow);
                saveRowIntoArray_@(model_name)(rowid);
                setEditStateValue_@(model_name)(rowid, rowIndexVlaue);
            }
        }

        function setEditStateValue_@(model_name)(td1, indexRow) {
            for (var k in EditRowData_@(model_name)) {
                var columnType = 'string';

                $.each(ColumnData_@(model_name), function (index, element) {
                    if (element.Data == k) {
                        columnType = element.Type;
                    }
                });

                if (columnType == 'number') {
                    $($(td1).children('.' + k)[0]).html('<input value="' + EditRowData_@(model_name)[k] + '" class="userinput" type="number" min="0" max="100"/>');
                }
                if (columnType == 'checkbox') {
                    //'<i class="fa fa-close false-icon"></i>'
                    //'<i class="fa fa-check true-icon"></i>'
                    if (EditRowData_@(model_name)[k] === '<i class="fa fa-check true-icon"></i>') {
                        $($(td1).children('.' + k)[0]).html('<input value="true" checked class="userinput" type="checkbox" onclick="checkBoxClick_@(model_name)(this)"/>');
                    }
                    else {
                        $($(td1).children('.' + k)[0]).html('<input value="false" class="userinput" type="checkbox" onclick="checkBoxClick_@(model_name)(this)"/>');
                    }
                }
                if (columnType == 'string') {
                    $($(td1).children('.' + k)[0]).html('<input value="' + EditRowData_@(model_name)[k] + '" class="userinput"  style="width: 99% " />');
                }
            }
        }

        function checkBoxClick_@(model_name)(checkBox) {
            var input = $(checkBox);
            if ($(input).val() === 'true') {
                $(input).val('false');
                $(input).removeAttr('checked');
            } else {
                $(input).val('true');
                $(input).attr('checked', 'checked');
            }
        }

        function ConfirmEditData_@(model_name)(DataId, data) {
            $('#buttonEdit_@(model_name)' + data).show();
            $('#buttonConfirm_@(model_name)' + data).hide();
            $('#buttonCancel_@(model_name)' + data).hide();
            updateRowData_@(model_name)(DataId, data);
        }

        function updateRowData_@(model_name)(currentCells, data) {
            var UpdateRowData = [];
            UpdateRowData.push({ 'pname': 'Id', 'pvalue': data });
            $.each(ColumnData_@(model_name), function (index, element) {
                if (element.Editable == true) {
                    UpdateRowData.push({
                        'pname': element.Data, 'pvalue': $($($(currentCells).children('.' + element.Data)).children('input')[0]).val()
                    });
                }
            });
            var postData = {};
            for (i = 0; i < UpdateRowData.length; i++) {
                postData[UpdateRowData[i].pname] = UpdateRowData[i].pvalue;
            }
            var tokenInput = $('input[name=__RequestVerificationToken]').val();
            postData['__RequestVerificationToken'] = tokenInput;
            addAntiForgeryToken(postData);

            $.ajax({
                url: '@Html.Raw(GetUrl((Model.ChildTable?.UrlUpdate != null) ? Model.ChildTable?.UrlUpdate : Model.UrlUpdate))',
                type: 'POST',
                dataType: 'json',
                data: postData,
                success: function (data) {
                     $('#@Model.Name').DataTable().draw(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }

        function CancelEditData_@(model_name)(DataId, data) {
            $('#buttonEdit_@(model_name)' + data).show();
            $('#buttonConfirm_@(model_name)' + data).hide();
            $('#buttonCancel_@(model_name)' + data).hide();

            var prevRow = $("[editState=editState]");
            prevRow.attr("editState", "");
            if (prevRow.length > 0) {
                saveArrayIntoRow_@(model_name)($(prevRow));
            }
            editIndexTable_@(model_name) = -1;
        }
        
        function saveArrayIntoRow_@(model_name)(cureentCells) {
            for (var k in EditRowData_@(model_name)) {
                $($(cureentCells).children('.' + k)[0]).html(EditRowData_@(model_name)[k]);
            }
        }

        function saveRowIntoArray_@(model_name)(cureentCells) {
            $.each(ColumnData_@(model_name), function (index, element) {
                if (element.Editable == true) {
                    var htmlVal = $($(cureentCells).children('.' + element.Data)[0]).html();
                    EditRowData_@(model_name)[element.Data] = htmlVal;
                }
            });
        }
    </script>
    </text>
}

@if (Model.ChildTable != null)
{
    <text>
    <script>
        function getchild_@(model_name)(d) {
            return '<table id="child' + d.Id + '" class="table table-bordered table-hover dataTable" width="100%" style="padding-left:2%;"></table>';
        }
        $(document).ready(function () {
            // Add event listener for opening and closing childs
            $('#@Model.Name tbody').on('click', 'td.child-control', function () {
                var tr = $(this).closest('tr');
                var tdi = tr.find('i.fa');
                var row = $('#@Model.Name').DataTable().row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-caret-down');
                    tdi.first().addClass('fa-caret-right');
                }
                else {
                    // Open this row
                    row.child(getchild_@(model_name)(row.data())).show();
                    var classid = '#child' + row.data().Id;
                    $(classid).DataTable({
                    @await Html.PartialAsync("_Table.Definition", Model.ChildTable)
                    }).draw;
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-caret-right');
                    tdi.first().addClass(' fa-caret-down');
                }
            });
        });
    </script>
    </text>
}
