@* Modified to use our _ProductTabsWithoutAjax partial view *@

@using Nop.Core;
@using SevenSpikes.Nop.Plugins.NopQuickTabs.Models;
@using SevenSpikes.Nop.Plugins.NopQuickTabs.Domain;
@using SevenSpikes.Nop.Framework.Theme;
@using SevenSpikes.Nop.Plugins.Core.Infrastructure.Constants;

@model TabUIModel
    
@inject TabSettings settings;
@inject IWorkContext workContext;

@{
    var themeFolder = await ThemeHelper.GetPluginThemeAsync(Plugin.FolderName);

    if (Model.Tabs.Count == 0)
    {
        return;
    }

    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-ui-dist/jquery-ui.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.NopQuickTabs/Scripts/ProductTabs.min.js");

    Html.AddCssFileParts($"~/Plugins/{Plugin.FolderName}/Themes/{themeFolder}/Content/QuickTabs.css");

    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts($"~/Plugins/{Plugin.FolderName}/Themes/{themeFolder}/Content/QuickTabs.rtl.css");
    }

    var additionalClass = "";
    if (Model.Tabs.Any(x => x.TabKey == "picture"))
    {
        additionalClass = "withPicture";
    }

    @* ABC: using custom *@
    string productTabsPartialView = $"~/Plugins/Misc.AbcFrontend/Views/Components/ProductTabs/_ProductTabsWithoutAjax.cshtml";

    <div id="quickTabs" class="productTabs @additionalClass"
         data-ajaxEnabled="@settings.EnableAjax.ToString().ToLowerInvariant()"
         data-productReviewsAddNewUrl="@Url.Action("ProductReviewsTabAddNew", "ProductTab", new { id = Model.ProductId})"
         data-productContactUsUrl="@Url.Action("ProductContactUsTabAddNew", "ProductTab", new { id = Model.ProductId})"
         data-couldNotLoadTabErrorMessage="@T("SevenSpikes.NopQuickTabs.Client.Tabs.CouldNotLoadTabErrorMessage").ToString()">
        @await Html.PartialAsync(productTabsPartialView)
    </div>
}