@model SpecificationAttributeOptionModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Attributes.SpecificationAttributes.SpecificationAttribute.Options.AddNew").Text;
}

<form asp-controller="SpecificationAttribute" asp-action="OptionCreatePopup"
      asp-route-specificationAttributeId="@Context.Request.Query["specificationAttributeId"]" 
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.Attributes.SpecificationAttributes.SpecificationAttribute.Options.AddNew")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.SpecificationAttributeOptionDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateOption", Model)
</form>
