@model Nop.Web.MVC.Areas.Admin.Models.EmailAccountModel

@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Admin/Content/images/ico-configuration.png")" />
            @T("Admin.Configuration.EmailAccounts.AddNew") - @Html.ActionLink("(" + T("Admin.Configuration.EmailAccountss.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="t-button" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}