@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Customers
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@inject CustomerSettings customerSettings
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var sendinterestlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.InterestSent, quantity = 1 });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

<div class="product-item clearfix @(Model.PremiumCustomer ? "premium-profile" : "")" data-productid="@Model.Id">
    <div class="picture col-xs-4 col-sm-4 col-md-4" style="border: 1px solid lightgray">
        <a href="@(Url.RouteUrl<Product>(new { SeName = Model.SeName }))" title="@Model.PictureModels[0].Title">
            <img class="lazyOwl" alt="@Model.PictureModels[0].AlternateText" data-src="@Model.PictureModels[0].ImageUrl" src="@Model.PictureModels[0].ImageUrl" title="@Model.PictureModels[0].Title" />
        </a>
    </div>

    <div class="caption col-xs-8 col-sm-8 col-md-8">
        @*<div class="details">*@
        <h3 class="product-title col-xs-12 col-sm-12 col-md-12" style="">
            <a href="@Url.RouteUrl("Product", new {SeName=Model.SeName})" style="margin-bottom:5px;">
                <i class="fa fa-sm icon-color @(Model.Gender == "M" ? Html.Raw("fa-male") : Html.Raw("fa-female"))"></i>
                @Model.Name
                @if (Model.PremiumCustomer)
                {
                    <span class="" style="font-size:10px;color:black;margin-left:20px;">
                        <i class="fa fa-bookmark fa-rotate-90 fa-lg icon-color"></i>
                        Premium
                    </span>
                }
            </a>
        </h3>
        <div class="product-border-bottom"></div>
        @if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            var ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
            }
            <div class="product-rating-box col-xs-12 col-sm-12 col-md-12" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        }
        @*<div class="description col-xs-12 col-sm-12 col-md-12">
            @Html.Raw(Model.ShortDescription)
        </div>*@
        <div class="description col-xs-12 col-sm-12 col-md-12">
            <i class="fa fa-map-marker fa-lg icon-color"></i>
            @Html.Raw(Model.Location)
        </div>
        <div class="description col-xs-12 col-sm-12 col-md-12">
            <span style="" title="Primary Technology" class="">Technologies :</span>
            @Html.Raw(Model.PrimaryTechnology)
        </div>
        @if (customerSettings.ShowSecondaryTechnologySpecificationAttribute)
        {
            <div class="description col-xs-12 col-sm-12 col-md-12">
                <span style="width:20px;" title="Mother Tounge" class="">Secondary Technology :</span>
                @Html.Raw(Model.SecondaryTechnology)
            </div>
        }
        <div class="description col-xs-12 col-sm-12 col-md-12">
            @*<i class="fa fa-language fa-lg icon-color"></i>*@
            <span style="width:20px;" title="Mother Tounge" class="">Mother Tounge :</span>
            @Html.Raw(Model.MotherTounge)
        </div>
        <div class="description col-xs-12 col-sm-12 col-md-12">
            @*<i class="fa fa-language fa-lg icon-color"></i>*@
            <span style="width:20px;" title="" class="">Experience :</span>
            @Html.Raw(Model.WorkExperience) years
        </div>
        <div class="description col-xs-12 col-sm-12 col-md-12">
            <span style="width:20px;" title="Mother Tounge" class="">Last Online :</span>
            @Html.Raw(Model.LastLoginDateTime)
        </div>
    </div>

    @*<div class="caption pull-right">
            <span class="product-item-links">
                <ion-icon name="shield-checkmark" class="icon-color ion-icon-size"></ion-icon>
                Premium
            </span>
        </div>*@
</div>

<div class="product-item-footer">
    <div id="product-@Model.Id" class="col-xs-6 col-sm-6 col-md-6">
        <i class="fa fa-heart fa-lg @(Model.ProfileShortListed ? Html.Raw(" icon-selected-color") : Html.Raw("icon-color"))"></i>
        <a class="product-item-links" href="#" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
            @(Model.ProfileShortListed ? "ShortListed" : "ShortList")
        </a>
    </div>
    <div id="product-interest-@Model.Id" class="produt-footer-alignment-right col-xs-6 col-sm-6 col-md-6">
        <i class="fa fa-star fa-lg icon-color @(Model.InterestSent ? Html.Raw(" icon-selected-color") : Html.Raw("icon-color"))"></i>
        @if (Model.InterestSent)
        {
            <span class="product-item-links">
                Interest Sent
            </span>
        }
        else
        {
            <a class="product-item-links" href="#" onclick="AjaxCart.addproducttocart_catalog('@sendinterestlink');return false;">
                Send Interest
            </a>
        }
    </div>
</div>

