@using Nop.Core.Configuration
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Services.Security
@using Nop.Core.Events

@inject CatalogSettings catalogSettings
@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject SeoSettings seoSettings
@inject AppSettings appSettings
@{

    if (catalogSettings.DisplayAllPicturesOnCatalogPages)
    {
        NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/swiper/swiper-bundle.min.js");
    }

    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>

    //resources
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Themes/NobleTheme/Content/js/noble.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Themes/NobleTheme/Content/js/bootstrap.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Themes/NobleTheme/Content/js/head.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Themes/NobleTheme/Content/js/owl.carousel.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.countryselect.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");

    //<!script src="lib_npm/jquery/jquery.min.js"></!script>
    

    //resources to avoid bundling
    //<!script src="~/Themes/NobleTheme/Content/js/noble.js"></!script>
    //<!script src="Themes/NobleTheme/Content/js/bootstrap.min.js"></!script>
    //<!script src="Themes/NobleTheme/Content/js/head.min.js"></!script>
    //<!script src="Themes/NobleTheme/Content/js/owl.carousel.min.js"></!script>
    //<!script src="js/public.countryselect.js"></!script>
    //<!script src="js/public.ajaxcart.js"></!script>
    //<!script src="js/public.common.js"></!script>


    //resources to avoid bundling
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/noble.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/bootstrap.min.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/head.min.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/owl.carousel.min.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/public.countryselect.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/public.ajaxcart.js"></script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/public.common.js"></script>

    //when jQuery migrate script logging is active you will see the log in the browser console
    if (commonSettings.JqueryMigrateScriptLoggingActive)
    {
        //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-migrate/jquery-migrate.js");
    }
    else
    {
        //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-migrate/jquery-migrate.min.js");
    }
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-ui-dist/jquery-ui.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-validation/jquery.validate.min.js");
    //NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery/jquery.min.js");

     

    var kendoVersion = "2021.2.616";

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/@kendoVersion/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/@kendoVersion/styles/kendo.bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/@kendoVersion/styles/kendo.default.mobile.min.css" />*@
    //<script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>

    @*<script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>*@
    @*<script src="https://kendo.cdn.telerik.com/@kendoVersion/js/kendo.ui.core.min.js"></script>*@

    //Kendo drawer widget
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.core.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.userevents.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.drawer.min.js"></script>

    //Kendo multiselect widget
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.data.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.popup.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.list.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.fx.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.draganddrop.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.mobile.scroller.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.virtuallist.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.multiselect.min.js"></script>


    @*Bootstrap icons*@
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">*@

    //NopHtml.AppendScriptParts(ResourceLocation.None, "~/Themes/NobleTheme/Content/js/mmenu-light.js");

    //<!script src="Themes/NobleTheme/Content/js/mmenu-light.js"></!script>
    <script src="https://onjobsupport.blob.core.windows.net/nop-cdn/js/mmenu-light.js"></script>

    //phone number format widget
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

    <script>
        if (typeof kendo == "undefined") {
            console.log('Kendo is not supported');
        }
    </script>
    //custom tag(s)
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        NopHtml.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }

    var displayMiniProfiler = appSettings.Get<CommonConfig>().MiniProfilerEnabled && await permissionService.AuthorizeAsync(StandardPermissionProvider.AccessProfiling);

    //event
    await eventPublisher.PublishAsync(new PageRenderingEvent(NopHtml));
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="@Html.GetUIDirection(!await Html.ShouldUseRtlThemeAsync())" class="@NopHtml.GeneratePageCssClasses()">
<head>
    <title>@NopHtml.GenerateTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@NopHtml.GenerateMetaDescription()" />
    <meta name="keywords" content="@NopHtml.GenerateMetaKeywords()" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" as="font" href="@Url.Content($"~/Themes/NobleTheme/Content/fonts/fontawesome-webfont.woff2")" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet" />
    @NopHtml.GenerateHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Html.PartialAsync("Head")
    @NopHtml.GenerateCssFiles()
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeadHtmlTag })
    @NopHtml.GenerateCanonicalUrls()
    @await Component.InvokeAsync("NewsRssHeaderLink")
    @await Component.InvokeAsync("BlogRssHeaderLink")
    @*Insert favicon and app icons head code*@
    @await Component.InvokeAsync("Favicon")
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
    @NopHtml.GenerateScripts(ResourceLocation.Head)
    @NopHtml.GenerateInlineScripts(ResourceLocation.Head)
    <!--Theme Designed by nopAccelerate Themes - https://themes.nopaccelerate.com/themes/ -->
    <!--Copyright (c) 2016-->
    <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nop-antiforgery-token />
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    @RenderBody()
    @NopHtml.GenerateScripts(ResourceLocation.Footer)
    @NopHtml.GenerateInlineScripts(ResourceLocation.Footer)
</body>
</html>
