@model FoxNetSoft.Plugin.Misc.GoogleAnalytics4.Models.ConfigureModel
@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")
@await Component.InvokeAsync("SettingMode")
<form asp-controller="GoogleAnalytics4Settings" asp-action="Configure" method="post">
    <div class="cards-group">
        <script>
            $(document).ready(function () {
                $("#showDebugInfo").click(toggleshowDebugInfo);
                toggleshowDebugInfo();
            });

            function toggleshowDebugInfo() {
                if ($('#showDebugInfo').is(':checked')) {
                    $('#pnlclearlogfile, #pnlgetlogfile').showElement();
                }
                else {
                    $('#pnlclearlogfile, #pnlgetlogfile').hideElement();
                }
            }

        </script>
        <div class="card card-default">
            <div class="card-body">
                <p>
                    @if (Model.IsRegisted == true)
                    {
                        @T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.IsRegisted")
                    }
                    else
                    {
                        @T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.IsNoRegisted")
                        <br />
                        <a href="https://www.foxnetsoft.com/googleanalytics4" target="blank">Buy It Now</a>
                    }
                </p>
                <p>
                    <div id="pnlloaddefaultdata">
                        <a href="@Url.Action("LoadDefaultData")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.Settings.LoadDefaultData")</a>
                    </div>
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Enabled_OverrideForStore" asp-input="Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Enabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Enabled" />
                        <span asp-validation-for="Enabled"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseGoogleEnhancedEcommerce_OverrideForStore" asp-input="UseGoogleEnhancedEcommerce" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseGoogleEnhancedEcommerce" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseGoogleEnhancedEcommerce" />
                        <span asp-validation-for="UseGoogleEnhancedEcommerce"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ProductKey_OverrideForStore" asp-input="ProductKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ProductKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ProductKey" asp-items="Model.AvailableProductKeys" />
                        <span asp-validation-for="ProductKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TransactionKey_OverrideForStore" asp-input="TransactionKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TransactionKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="TransactionKey" asp-items="Model.AvailableTransactionKeys" />
                        <span asp-validation-for="TransactionKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IncludingTax_OverrideForStore" asp-input="IncludingTax" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IncludingTax" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IncludingTax" />
                        <span asp-validation-for="IncludingTax"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SupportMultiCurrency_OverrideForStore" asp-input="SupportMultiCurrency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SupportMultiCurrency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SupportMultiCurrency" />
                        <span asp-validation-for="SupportMultiCurrency"></span>
                    </div>
                </div>
                <div class="form-group row advanced-setting">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseStoreNameAsAffiliate_OverrideForStore" asp-input="UseStoreNameAsAffiliate" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseStoreNameAsAffiliate" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseStoreNameAsAffiliate" />
                        <span asp-validation-for="UseStoreNameAsAffiliate"></span>
                    </div>
                </div>
                <div class="form-group row advanced-setting">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="RevenueAmount_OverrideForStore" asp-input="RevenueAmount" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="RevenueAmount" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="RevenueAmount" asp-items="Model.AvailableRevenueAmounts" />
                        <span asp-validation-for="RevenueAmount"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GoogleId_OverrideForStore" asp-input="GoogleId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GoogleId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GoogleId" />
                        <span asp-validation-for="GoogleId"></span>
                        <p>
                            @T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.Settings.GoogleId.Comment")
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default advanced-setting">
            <div class="card-body">
                <p>Google Tag Manager scripts. If you added them in another place you can leave these parameters empty.</p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="JSScript" />
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="JSScript" />
                        <span asp-validation-for="JSScript"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="NoScript" />
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="NoScript" />
                        <span asp-validation-for="NoScript"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="showDebugInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="showDebugInfo" />
                        <span asp-validation-for="showDebugInfo"></span>
                        <div id="pnlclearlogfile">
                            <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.Settings.ClearLogFile")</a>
                        </div>
                        <div id="pnlgetlogfile">
                            <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.GoogleAnalytics4.Settings.GetLogFile")</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreUrl" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                        <span asp-validation-for="StoreUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SerialNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SerialNumber" />
                        <span asp-validation-for="SerialNumber"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
                <p>
                    Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                    <br />
                    Installation and configuring plug-in at our site <a href="https://www.foxnetsoft.com/documentation-googleanalytics4" target="blank">https://www.foxnetsoft.com/documentation-googleanalytics4</a>
                    <br />
                    <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                </p>
            </div>
        </div>
    </div>
</form>
