@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.PayPalDirect.Models;
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>If you're using this gateway ensure that your primary store currency is supported by Paypal.</b><br />
                    <br />
                    To configure plugin follow these steps:<br />
                    1. Log into your Developer PayPal account (click <a href="https://www.paypal.com/us/webapps/mpp/referral/paypal-business-account2?partner_id=9JJPJNNPQ7PZ8" target="_blank">here</a> to create your account).<br />
                    2. Click on My Apps & Credentials from the Dashboard.<br />
                    3. Create new REST API app.<br />
                    4. Copy your Client ID and Secret key below.<br />
                    5. To be able to use recurring payments you need to set the webhook ID.
                       You can get it manually in your PayPal account (enter the URL https://www.yourStore.com/Plugins/PaymentPayPalDirect/Webhook below REST API application credentials),
                       or automatically by pressing "@T("Plugins.Payments.PayPalDirect.WebhookCreate")" button (not visible when running the site locally).<br />
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ClientId_OverrideForStore, model => model.ClientId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ClientId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ClientId)
                        @Html.ValidationMessageFor(model => model.ClientId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ClientSecret_OverrideForStore, model => model.ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ClientSecret)
                        @Html.ValidationMessageFor(model => model.ClientSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WebhookId)
                    </div>
                    <div class="col-md-9">
                        @if (Request.IsLocal)
                        {
                            @Html.NopEditorFor(model => model.WebhookId)
                        }
                        else
                        {
                            <div class="input-group">
                                @Html.NopEditorFor(model => model.WebhookId)
                                <div class="input-group-btn">
                                    <button type="submit" name="createwebhook" class="btn btn-info">
                                        @T("Plugins.Payments.PayPalDirect.WebhookCreate")
                                    </button>
                                </div>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.WebhookId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TransactModeId_OverrideForStore, model => model.TransactModeId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TransactModeValues)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TransactModeId, Model.TransactModeValues)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.UseSandbox_OverrideForStore, model => model.UseSandbox, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}