@model Nop.Web.MVC.Areas.Admin.Models.CategoryModel
@using Nop.Web.Framework;
@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "category-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Admin/Content/images/ico-catalog.png")" />
            @T("Admin.Catalog.Categories.EditCategoryDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Catalog.Categories.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="t-button" />
            <input type="submit" class="t-button" onclick="saveCategory();">@T("Admin.Common.SaveContinue")</span> <span
                id="category-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("category-delete")

