@model Nop.Web.MVC.Areas.Admin.Models.CategoryModel
@using Nop.Web.Framework;
@using Nop.Web.MVC.Areas.Admin.Models;
@{
    ViewBag.SelectedMenuItem = "Languages";
}
@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "category-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Admin/Content/images/ico-catalog.png")" />
            @T("Edit category details") - @Model.Name @Html.ActionLink("(" + T("back to category list") + ")", "List")
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button">
                Save</button>
            <button name="save" value="save-continue" class="t-button">
                Save and Continue Edit</button>
            <span id="category-delete" class="t-button">Delete</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@(Html.DeleteConfirmation<Nop.Web.MVC.Areas.Admin.Models.CategoryModel, Nop.Core.Domain.Catalog.Category>("category-delete"))
