@model Nop.Web.MVC.Areas.Admin.Models.CategoryModel
@using Nop.Web.Framework;
@{
    ViewBag.SelectedMenuItem = "Languages";
}
@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "category-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Admin/Content/images/ico-catalog.png")" />
            @T("Edit category details") - @Model.Name @Html.ActionLink("(" + T("back to category list") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="Save" class="t-button" />
            <span class="t-button" onclick="saveCategory();">Save and Continue Edit</span> <span
                id="category-delete" class="t-button">Delete</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("category-delete")

