@model Telerik.Web.Mvc.GridModel<Nop.Web.MVC.Areas.Admin.Models.CategoryModel>
@using Telerik.Web.Mvc.UI
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Admin/Content/images/ico-catalog.png")" />
        @T("Manage categories") @Html.ActionLink("(switch to tree view)", "Tree")
    </div>
    <div class="options">
        <input type="button" onclick="location.href='@Url.Action("Create")'" value="Add new" class="adminButtonBlue" />
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Web.MVC.Areas.Admin.Models.CategoryModel>()
                    .Name("Grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name);
                        columns.Bound(x => x.Breadcrumb);
                        columns.Bound(x => x.Published).Template(x => x.Published.ToString().ToLower());
                        columns.Bound(x => x.DisplayOrder);
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"<#= Id #>\">Edit</a>")
                            .Width(50)
                            .HtmlAttributes(new { align = "center" })
                            .HeaderTemplate("Edit")
                            .HeaderHtmlAttributes(new { align = "center" }).Filterable(false);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(10))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Category"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>