@model SevenSpikes.Nop.Plugins.CloudZoom.Areas.Admin.Models.CloudZoomSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.CloudZoom.Admin.Submenus.Settings");
}

<script type="text/javascript">
    // http://stackoverflow.com/questions/10136342/perform-validation-on-hidden-fields
    $.validator.setDefaults({
        ignore: [],
        // any other default options and/or rules
    });

    $(document).ready(function () {

        $("#@Html.IdFor(model => model.ZoomPosition)").change(toggleCloudZoomSettings);
        $("#@Html.IdFor(model => model.EnableTint)").change(enableTint);

        toggleCloudZoomSettings();
        enableTint();
    });

    function toggleCloudZoomSettings() {
        if ($('#@Html.IdFor(model => model.ZoomPosition)').val() === 'inside') {
            $('.outerSettings').hide();
            $('.tintSettings').hide();
            $('.tintSettingsEnabled').hide();
            $('.autoInside').hide();
        } else {
            $('.outerSettings').show();
            $('.showTitle').show();
            $('.tintSettingsEnabled').show();
            $('.autoInside').show();
        }
    }

    function enableTint() {
        if ($('#@Html.IdFor(model => model.EnableTint)').is(':checked') == true) {
            $('.tint-opacity').show();
            $('.tint-color').show();
        } else {
            $('.tint-opacity').hide();
            $('.tint-color').hide();
        }
    }
</script>

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.CloudZoom.Admin.Settings.Common")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")

            <nop-tabs id="cloud-zoom-settings-tabs">
                <nop-tab asp-name="tab-general-settings" asp-default="true" asp-title="@T("SevenSpikes.CloudZoom.Admin.Settings.GeneralSettings")">
                    @await Html.PartialAsync(Views.SettingsGeneral, @Model)
                </nop-tab>
                <nop-tab asp-name="tab-configuration-settings" asp-title="@T("SevenSpikes.CloudZoom.Admin.Settings.CloudZoomConfigurationSettings")">
                    @await Html.PartialAsync(Views.SettingsConfiguration, @Model)
                </nop-tab>
                <nop-tab asp-name="tab-selector-settings" class="advanced-setting" asp-title="@T("SevenSpikes.CloudZoom.Admin.Settings.CloudZoomSelectorsSettings")">
                    @await Html.PartialAsync(Views.SettingsSelectors, @Model)
                </nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>