@model CurrencyModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Currencies.EditCurrencyDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Currencies.EditCurrencyDetails") - @Model.Name 
            <small>@Html.ActionLink("(" + @T("Admin.Configuration.Currencies.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <span id="currency-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("currency-delete")
