@model BlogPostModel

@using Nop.Core.Domain.Blogs

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Blog posts");
}

<form asp-controller="Blog" asp-action="BlogPostEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails") - @Model.Title
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="BlogPosts">@T("Admin.ContentManagement.Blog.BlogPosts.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @await Component.InvokeAsync(typeof(MultistorePreviewViewComponent), Model)
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="blogpost-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.BlogDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="blogpost-delete" />