@model UserModel

@using Telerik.Web.Mvc.UI;

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)


<table class="adminContent">
        @if (Model.Id > 0)
        {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AssociatedCustomerId):
            </td>
            <td class="adminData">
                @if (Model.AssociatedCustomerId.HasValue)
                {
                    <a href="@Url.Action("Edit", "Customer", new { id = Model.AssociatedCustomerId.Value})">@T("Admin.Common.View")</a>
                }
                else
                {
                    <text>WARNING: no associated customer!</text>
                }
            </td>
        </tr>
        }
    @if (Model.UsernamesEnabled)
    {
        if (Model.Id == 0 || Model.AllowUsersToChangeUsernames)
        {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Username):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        }
        else
        {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Username):
            </td>
            <td class="adminData">
                @Model.Username
                @Html.HiddenFor(model => model.Username)
            </td>
        </tr>
        }
    }
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Email):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Password):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            @if (Model.Id > 0)
            {
                <button type="submit" name="changepassword" value="changepassword" class="t-button">
                    Change password</button>
            }
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Comments):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.IsApproved):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.IsLockedOut):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsLockedOut)
            @Html.ValidationMessageFor(model => model.IsLockedOut)
        </td>
    </tr>
    @if (Model.Id > 0)
    {
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CreatedOn):
        </td>
        <td class="adminData">
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
    </tr>
    }
</table>
