@model ActivityLogContainerModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Activity log");
}

@{
    const string hideActivityLogBlockAttributeName = "ActivityLogPage.hideActivityLogBlock";
    var hideActivityLogBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideActivityLogBlockAttributeName);

    const string hideActivityTypesBlockAttributeName = "ActivityLogPage.hideActivityTypesBlock";
    var hideActivityTypesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideActivityTypesBlockAttributeName);
}

<nop-antiforgery-token />

<form asp-controller="ActivityLog" asp-action="ListTypes" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.ActivityLog")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <nop-panels id="activity-log-panels">
                <nop-panel asp-name="activity-log" asp-title="@T("Admin.Configuration.ActivityLog.ActivityLog")" asp-hide-block-attribute-name="@hideActivityLogBlockAttributeName" asp-hide="@hideActivityLogBlock" asp-advanced="false">@await Html.PartialAsync("_List.Logs", Model.ListLogs)</nop-panel>
                <nop-panel asp-name="activity-type" asp-title="@T("Admin.Configuration.ActivityLog.ActivityLogType")" asp-hide-block-attribute-name="@hideActivityTypesBlockAttributeName" asp-hide="@hideActivityTypesBlock" asp-advanced="true">@await Html.PartialAsync("_List.LogTypes", (List<ActivityLogTypeModel>) Model.ListTypes)</nop-panel>
            </nop-panels>
        </div>
    </div>
</form>