@model CheckoutBillingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address })
    <div class="clear">
    </div>
    <div class="page-title">
        <h1>@T("Checkout.BillingAddress")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_billing_address_top")
        @if (Model.ExistingAddresses.Count > 0)
        {
            <div>
                <div class="select-address-title">
                    @T("Checkout.SelectBillingAddress")
                </div>
                <div class="clear">
                </div>
                <div class="address-grid">
                    @(Html.DataList<AddressModel>(Model.ExistingAddresses, 3,
                    @<div class="item-box">
                        <div class="address-item">
                            <div class="select-button">
                                <input type="button" value="@T("Checkout.BillToThisAddress")" class="button-1 select-billing-address-button"  onclick="setLocation('@Url.RouteUrl("CheckoutSelectBillingAddress", new { addressId = item.Id })    ')" />
                            </div>
                            <div class="address-box">
                                <div class="name">
                                    <strong>@item.FirstName @item.LastName</strong>
                                </div>
                                <div class="email">@T("Address.Fields.Email"): @item.Email</div>
                                @if (item.PhoneEnabled)
                                {
                                    <div class="phone">
                                        @T("Address.Fields.PhoneNumber"):
                                         @item.PhoneNumber
                                    </div>
                                }
                                @if (item.FaxEnabled)
                                {
                                    <div class="fax">
                                        @T("Address.Fields.FaxNumber"):
                                         @item.FaxNumber
                                    </div>
                                }
                                @if (item.CompanyEnabled && !String.IsNullOrEmpty(item.Company))
                                {
                                    <div class="company">
                                        @item.Company
                                    </div>
                                }
                                @if (item.StreetAddressEnabled)
                                {
                                    <div class="address1">
                                        @item.Address1
                                    </div>
                                }
                                @if (item.StreetAddress2Enabled && !String.IsNullOrEmpty(item.Address2))
                                {
                                    <div class="address2">
                                        @item.Address2
                                    </div>
                                }
                                @if (item.CityEnabled || item.StateProvinceEnabled || item.ZipPostalCodeEnabled)
                                {
                                    <div class="city-state-zip">
                                        @if (item.CityEnabled)
                                        {
                                            @item.City
                                        }
                                        @if (item.CityEnabled && (item.StateProvinceEnabled || item.ZipPostalCodeEnabled))
                                        {
                                            <text>,</text>
                                        }
                                        @if (item.StateProvinceEnabled)
                                        {
                                            @item.StateProvinceName
                                        }
                                        @if (item.ZipPostalCodeEnabled)
                                        {
                                            @item.ZipPostalCode
                                        }
                                    </div>
                                }
                                @if (item.CountryEnabled && !String.IsNullOrEmpty(item.CountryName))
                                {
                                    <div class="country">
                                        @item.CountryName
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    ))
                </div>
            </div>
            <div class="clear">
            </div>
        }
        @Html.Widget("checkout_billing_address_middle")
        <div class="enter-address-title">
            @if (Model.ExistingAddresses.Count > 0)
            {
                @T("Checkout.OrEnterNewAddress")
            }
            else
            {
                @T("Checkout.EnterBillingAddress")
            }
        </div>
        <div class="clear">
        </div>
        <div class="enter-address">
            @using (Html.BeginRouteForm("CheckoutBillingAddress", FormMethod.Post))
            {
                <div class="enter-address-body">
                    @{
                var dataDictAddress = new ViewDataDictionary();
                //Merge ModelState (required for validation)
                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
                        @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)              
                    }
                </div>
                <div class="clear">
                </div>
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 new-address-next-step-button" />
                </div>
            }
        </div>
        @Html.Widget("checkout_billing_address_bottom")
    </div>
    <div class="clear">
    </div>
    <div class="order-summary-title">
        @T("Checkout.OrderSummary")
    </div>
    <div class="clear">
    </div>
    <div class="order-summary-body">
        @Html.Action("OrderSummary", "ShoppingCart")
    </div>
</div>
