@model CheckoutProgressModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Web.Models.Checkout;
<div class="order-progress">
    <ul>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Cart ? " class=active-step" : " class=inactive-step") @(Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? " href=" + Url.RouteUrl("ShoppingCart") : null)>@T("Checkout.Progress.Cart")</a>
        </li>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Address ? " class=active-step" : " class=inactive-step") @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? " href=" + Url.RouteUrl("CheckoutBillingAddress") : null)>@T("Checkout.Progress.Address")</a>
        </li>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping ? " class=active-step" : " class=inactive-step") @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? " href=" + Url.RouteUrl("CheckoutShippingMethod") : null)>@T("Checkout.Progress.Shipping")</a>
        </li>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Payment ? " class=active-step" : " class=inactive-step") @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? " href=" + Url.RouteUrl("CheckoutPaymentMethod") : null)>@T("Checkout.Progress.Payment")</a>
        </li>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Confirm ? " class=active-step" : " class=inactive-step") @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Payment && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? " href=" + Url.RouteUrl("CheckoutConfirm") : null)>@T("Checkout.Progress.Confirm")</a>
        </li>
        <li><a @(Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? " class=active-step" : " class=inactive-step")>@T("Checkout.Progress.Complete")</a>
        </li>
    </ul>
</div>
