@{
    Layout = "";
}
@model Nop.Plugin.DiscountRules.HasAllProducts.Models.RequirementModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#saveHasAllProductsrequirement@(Model.RequirementId)').click(function () {
            var productIds = $("#@Html.IdFor(model => model.ProductIds)").val();
            var discountId = @Model.DiscountId;
            var requirementId = @Model.RequirementId;

            var postData = {
                DiscountId: discountId,
                RequirementId: requirementId,
                ProductIds: productIds
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("Configure", "DiscountRulesHasAllProducts"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                    //notify parent if it's a new requirement
                    @if (Model.RequirementId == 0)
                    {
                        <text>$("#discountRequirementContainer").trigger('nopnewdiscountruleadded', [data.NewRequirementId]);</text>
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var $alertInfoEl = $("#saveHasAllProductsrequirementAlert-info");
                    let response = jqXHR.responseJSON;
                    if (response instanceof Object && response.hasOwnProperty('Errors')) {
                        var errorMessages = '';
                        $.each(response.Errors, function (i, error) {
                            errorMessages += error;
                            if (response.Errors.length - 1 != i)
                                errorMessages += '</br>';
                        });
                        $alertInfoEl.html(errorMessages);
                    } else {
                        // display default error
                        $alertInfoEl.html('@T("Admin.Promotions.Discounts.Requirements.FailedToSave")');
                    }

                    $("#saveHasAllProductsrequirementAlert").click();
                }
            });
        });
    });
</script>

<div class="form-group row">
    <div class="col-md-3 requirement-label-col">
        <nop-label asp-for="ProductIds"/>
    </div>
    <div class="col-md-9 requirement-data-col">
        <div class="requirement-data-input">
            <div class="input-group">
                <nop-editor asp-for="ProductIds"/>
                <div class="input-group-btn">
                    <input type="submit"
                            id="btnAddNewDiscountRequirementProduct@(Model.RequirementId)"
                            value="@T("Plugins.DiscountRules.HasAllProducts.Fields.Products.AddNew")"
                            onclick="javascript:OpenWindow('@Url.Action("ProductAddPopup", "DiscountRulesHasAllProducts", new {btnId = $"btnRefreshDiscountRequirementProducts{Model.RequirementId}", productIdsInput = Html.IdFor(model => model.ProductIds)})', 800, 850, true);return false;"
                            class="btn btn-info"/>
                    <input type="submit" id="btnRefreshDiscountRequirementProducts@(Model.RequirementId)" style="display: none"/>
                </div>
            </div>
        </div>
        <div class="requirement-data-buttons">
            <input type="button" id="saveHasAllProductsrequirement@(Model.RequirementId)" class="btn btn-primary" value="@T("Admin.Common.Save")" />
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-offset-3 col-md-9 requirement-messages-col">
        <div class="requirement-product-names text-blue" id="discountrequirement-product-names@(Model.RequirementId)"></div>
        <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display: none;" class="text-green margin-t-5">
            @T("Admin.Promotions.Discounts.Requirements.Saved")
        </div>
        <div id="discountrequirement-products-check-progress@(Model.RequirementId)" class="please-wait pull-right" style="display: none;">
            @T("Common.Wait...")
        </div>
    </div>
</div>
<nop-alert asp-alert-id="saveHasAllProductsrequirementAlert" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRefreshDiscountRequirementProducts@(Model.RequirementId)').click(function () {
            //refresh product list
            loadDiscountRequirementProductFriendlyNames@(Model.RequirementId)();

            //return false to don't reload a page
            return false;
        });
    });
    $(document).ready(function () {
        loadDiscountRequirementProductFriendlyNames@(Model.RequirementId)();
    });
    $(document).ready(function () {
        $('#@Html.IdFor(model => model.ProductIds)')
            .data('timeout', null)
            .keyup(function() {
                clearTimeout($(this).data('timeout'));
                //one second timeout
                $(this).data('timeout', setTimeout(loadDiscountRequirementProductFriendlyNames@(Model.RequirementId), 1000));
            });
    });
    function loadDiscountRequirementProductFriendlyNames@(Model.RequirementId)() {
        var inputValue = $('#@Html.IdFor(model => model.ProductIds)').val();
        if (inputValue) {
            //load friendly names
            $('#discountrequirement-products-check-progress@(Model.RequirementId)').show();

            var postData = {
                productIds: inputValue
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("LoadProductFriendlyNames", "DiscountRulesHasAllProducts")',
                data: postData,
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    $('#discountrequirement-products-check-progress@(Model.RequirementId)').hide();
                    $('#discountrequirement-product-names@(Model.RequirementId)').text(data.Text);
                    $('#discountrequirement-product-names@(Model.RequirementId)').addClass('filled');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#discountrequirement-products-check-progress@(Model.RequirementId)').hide();
                    $('#discountrequirement-product-names@(Model.RequirementId)').text('');
                    $('#discountrequirement-product-names@(Model.RequirementId)').removeClass('filled');
                }
            });
        } else {
            $('#discountrequirement-product-names@(Model.RequirementId)').text('');
            $('#discountrequirement-product-names@(Model.RequirementId)').removeClass('filled');
        }
    }
    </script>
