@model ShoppingCartModel.OrderReviewDataModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="order-review-data-box">
        <div class="billinginfo">
            <div class="title">
                <strong>
                    @T("Order.BillingAddress")</strong>
            </div>
            <div class="name">@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</div>
            <div class="email">
                @T("Order.Email"): @Model.BillingAddress.Email</div>
            <div class="phone">
                @T("Order.Phone"): @Model.BillingAddress.PhoneNumber</div>
            <div class="fax">
                @T("Order.Fax"): @Model.BillingAddress.FaxNumber</div>
            @if (!String.IsNullOrEmpty(Model.BillingAddress.Company))
            {
                <div class="company">
                    @Model.BillingAddress.Company
                </div>
            }
            <div class="address1">
                @Model.BillingAddress.Address1</div>
            @if (!String.IsNullOrEmpty(Model.BillingAddress.Address2))
            {
                <div class="address2">
                    @Model.BillingAddress.Address2
                </div>
            }
            <div class="city-state-zip">
                @Model.BillingAddress.City, @Model.BillingAddress.StateProvinceName @Model.BillingAddress.ZipPostalCode</div>
            @if (!String.IsNullOrEmpty(Model.BillingAddress.CountryName))
            {
                <div class="country">
                    @Model.BillingAddress.CountryName
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
            {
                <div class="payment-method">
                    <div class="payment-method-label">
                        <strong>@T("Order.PaymentMethod")</strong>
                    </div>
                    <div class="payment-method-value">
                        @Model.PaymentMethod
                    </div>
                </div>
            }
        </div>
        @if (Model.IsShippable)
        {
            <div class="shippinginfo">
                <div class="title">
                    <strong>
                        @T("Order.ShippingAddress")</strong>
                </div>
                <div class="name">
                    @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                </div>
                <div class="email">
                    @T("Order.Email"): @Model.ShippingAddress.Email</div>
                <div class="phone">
                    @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber</div>
                <div class="fax">
                    @T("Order.Fax"): @Model.ShippingAddress.FaxNumber</div>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Company))
                {
                    <div class="company">
                        @Model.ShippingAddress.Company
                    </div>
                }
                <div class="address1">
                    @Model.ShippingAddress.Address1</div>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                {
                    <div class="address2">
                        @Model.ShippingAddress.Address2
                    </div>
                }
                <div class="city-state-zip">
                    @Model.ShippingAddress.City, @Model.ShippingAddress.StateProvinceName @Model.ShippingAddress.ZipPostalCode</div>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                {
                    <div class="country">
                        @Model.ShippingAddress.CountryName
                    </div>
                }
                <div class="shipping-method">
                    <div class="shipping-method-label">
                        <strong>@T("Order.ShippingMethod")</strong>
                    </div>
                    <div class="shipping-method-value">
                        @Model.ShippingMethod
                    </div>
                </div>
            </div>
        }
    </div>
}