@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
<div class="total-info">
    <table class="cart-total">
        <tbody>
            <tr class="order-subtotal">
                <td class="cart-total-left">
                    <label>@T("ShoppingCart.Totals.SubTotal"):</label>
                </td>
                <td class="cart-total-right">
                    <span class="value-summary">@Model.SubTotal</span>
                </td>
            </tr>
            @if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
            {
                <tr class="order-subtotal-discount">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.SubTotalDiscount"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.SubTotalDiscount</span>
                    </td>
                </tr>
            }
            @if (!Model.HideShippingTotal && String.IsNullOrEmpty(Model.ShippingNonTaxable))
            {
                <tr class="shipping-cost">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.Shipping"):</label>
                        @if (Model.RequiresShipping && !String.IsNullOrEmpty(Model.SelectedShippingMethod))
                        {
                            <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                        }
                    </td>
                    <td class="cart-total-right">
                        @if (Model.RequiresShipping)
                        {
                            if (!String.IsNullOrEmpty(Model.Shipping))
                            {
                            <span class="value-summary">@Model.Shipping</span>
                            }
                            else
                            {
                            <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                            }
                        }
                        else
                        {
                            <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                        }
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
            {
                <tr class="additional-fees">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.PaymentMethodAdditionalFee</span>
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
            {
                <tr class="discount-total">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.OrderTotalDiscount"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.OrderTotalDiscount</span>
                    </td>
                </tr>
            }
            @if (Model.EarnedRewardPointsAreTaxable && Model.RedeemedRewardPoints > 0)
            {
                <tr class="reward-points">
                    <td class="cart-total-left">
                        <label>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.RedeemedRewardPointsAmount</span>
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.OrderAmount))
            {
                <tr class="order-total-amount">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.OrderAmount"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@(Model.includingTax ? Model.OrderAmountIncl : Model.OrderAmount)</span>
                    </td>
                </tr>
            }
            @if (Model.DisplayTax)
            {
                <tr class="tax-value">
                    <td class="cart-total-left">
                        <label>@T(Model.includingTax ? "ShoppingCart.Totals.TaxIncl" : "ShoppingCart.Totals.Tax"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.Tax</span>
                    </td>
                </tr>
            }
            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
            {
                <tr class="tax-rate">
                    <td colspan="2" class="cart-tax">
                        <ul class="cart-tax-table">
                            <li class="taxrow header">
                                <span class="taxcell">@T("Order.TaxRateLine.TaxRate")</span>
                                @if (Model.includingTax)
                                {
                                    <span class="taxcell">@T("Order.TaxRateLine.AmountIncl")</span>
                                }
                                else
                                {
                                    <span class="taxcell">@T("Order.TaxRateLine.Amount")</span>
                                }
                                @if (Model.includingTax)
                                {
                                    <span class="taxcell">@T("Order.TaxRateLine.DiscountAmountIncl")</span>
                                }
                                else
                                {
                                    <span class="taxcell">@T("Order.TaxRateLine.DiscountAmount")</span>
                                }
                                <span class="taxcell">@T("Order.TaxRateLine.BaseAmount")</span>
                                <span class="taxcell">@T("Order.TaxRateLine.TaxAmount")</span>
                            </li>
                            @foreach (var taxRate in Model.TaxRates)
                            {
                                <li class="taxrow">
                                    <span class="taxcell">@taxRate.Rate</span>
                                    <span class="taxcell">@taxRate.Amount</span>
                                    <span class="taxcell">@taxRate.DiscountAmount</span>
                                    <span class="taxcell">@taxRate.BaseAmount</span>
                                    <span class="taxcell">@taxRate.TaxAmount</span>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.OrderAmount) && !Model.includingTax)
            {
                <tr class="order-total-amount">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.OrderAmountIncl"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.OrderAmountIncl</span>
                    </td>
                </tr>
            }
            @if (!Model.HideShippingTotal && !String.IsNullOrEmpty(Model.ShippingNonTaxable))
            {
                <tr class="shipping-cost">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.Shipping"):</label>
                        @if (Model.RequiresShipping && !String.IsNullOrEmpty(Model.SelectedShippingMethod))
                        {
                            <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                        }
                    </td>
                    <td class="cart-total-right">
                        @if (Model.RequiresShipping)
                        {
                            if (!String.IsNullOrEmpty(Model.ShippingNonTaxable))
                            {
                                <span class="value-summary">@Model.ShippingNonTaxable</span>
                            }
                            else
                            {
                                <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                            }
                        }
                        else
                        {
                            <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                        }
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.PaymentMethodAdditionalFeeNonTaxable))
            {
                <tr class="additional-fees">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.PaymentMethodAdditionalFeeNonTaxable</span>
                    </td>
                </tr>
            }
            @if (Model.GiftCards.Count > 0)
            {
                foreach (var gc in Model.GiftCards)
                {
                <tr class="giftcard-summary">
                    <td class="cart-total-left">
                        <label>@T("ShoppingCart.Totals.GiftCardInfo"):</label>
                        <span>@T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode)</span>
                        @if (Model.IsEditable)
                        {
                            //little hack here with empty "value" element
                            <input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
                        }
                        <span class="giftcard-remaining">@string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@gc.Amount</span>
                    </td>
                </tr>
                }
            }
            @if (!Model.EarnedRewardPointsAreTaxable && Model.RedeemedRewardPoints > 0)
            {
                <tr class="reward-points">
                    <td class="cart-total-left">
                        <label>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.RedeemedRewardPointsAmount</span>
                    </td>
                </tr>
            }
            @if (Model.RedeemedRewardPointsPurchased > 0)
            {
                <tr class="reward-points">
                    <td class="cart-total-left">
                        <label>@string.Format(T("ShoppingCart.Totals.RewardPointsPurchased").Text, Model.RedeemedRewardPointsPurchased):</label>
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@Model.RedeemedRewardPointsAmountPurchased</span>
                    </td>
                </tr>
            }
            <tr class="order-total">
                <td class="cart-total-left">
                    <label>@T("ShoppingCart.Totals.OrderTotal"):</label>
                </td>
                <td class="cart-total-right">
                    @if (!String.IsNullOrEmpty(Model.OrderTotal))
                    {
                        <span class="value-summary"><strong>@Model.OrderTotal</strong></span>
                    }
                    else
                    {
                        <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                    }
                </td>
            </tr>
            @if (Model.WillEarnRewardPoints > 0)
            {
                <tr class="earn-reward-points">
                    <td class="cart-total-left">
                        <label>@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn").Text, Model.WillEarnRewardPointsBasedOnAmount):</label>
                        @if (!Model.WillEarn)
                        {
                            <div>@T("ShoppingCart.Totals.RewardPoints.WillEarnHint")</div>
                        }
                    </td>
                    <td class="cart-total-right">
                        <span class="value-summary">@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</span>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
