@{
    Layout = "";
}
@model Nop.Plugin.Tax.StrikeIron.Models.TaxStrikeIronModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>To use this service, you need to create a StrikeIron account and purchase its online
                    tax service.
                    <br />
                    <b>To enable this provider, you'll need to:<br />
                    </b>
                    <br />
                    Step 1. <a href="http://www.strikeiron.com" target="_blank">Create a StrikeIron account</a>
                    <br />
                    Step 2. Purchase the <a href="http://www.strikeiron.com/ProductDetail.aspx?p=444"
                        target="_blank">service</a>
                    <br />
                    Step 3. Fill in your StrikeIron account details below
                    <br />
                    <br />
                </b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UserId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UserId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Password):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <hr />
                <br />
                <b>@T("Plugins.Tax.StrikeIron.TestingUsa.Title")</b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TestingUsaZip):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TestingUsaZip)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
            </td>
            <td class="adminData" style="color: red">
                @Model.TestingUsaResult
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="submit" name="testUsa" class="t-button" value="@T("Plugins.Tax.StrikeIron.TestingUsa.Button")" />
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <hr />
                <br />
                <strong>@T("Plugins.Tax.StrikeIron.TestingCanada.Title")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TestingCanadaProvinceCode):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TestingCanadaProvinceCode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
            </td>
            <td class="adminData" style="color: red">
                @Model.TestingCanadaResult
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="submit" name="testCanada" class="t-button" value="@T("Plugins.Tax.StrikeIron.TestingCanada.Button")" />
            </td>
        </tr>
    </table>
    
}