@{
    Layout = "";
}
@model Nop.Plugin.ExternalAuth.Twitter.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>Important note:</b> Twitter authentication doesn't work with 'Auto register' option enabled.
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ConsumerKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ConsumerKey)
                @Html.ValidationMessageFor(model => model.ConsumerKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ConsumerSecret):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ConsumerSecret)
                @Html.ValidationMessageFor(model => model.ConsumerSecret)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}