@model Telerik.Web.Mvc.GridModel<LiveChatProviderModel>
@using Telerik.Web.Mvc.UI
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" />
        @T("Admin.Configuration.LiveChats")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<LiveChatProviderModel>()
                    .Name("livechatproviders-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName)
                            .Width(150)
                            .ReadOnly();
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.Configuration.LiveChats.Configure").Text, "ConfigureProvider", new { systemName = @item.SystemName })
                                </div>
                            )
                            .ClientTemplate("<a href=\"ConfigureProvider?systemName=<#= SystemName #>\">" + T("Admin.Configuration.LiveChats.Configure").Text + "</a>")
                            .Width(100)
                            .Centered()
                            .Title(T("Admin.Configuration.LiveChats.Configure").Text);
                        columns.Bound(x => x.SystemName).Width(150).ReadOnly();
                        columns.Bound(x => x.Version).Width(100).ReadOnly();
                        columns.Bound(x => x.Author).Width(100).ReadOnly();
                        columns.Bound(x => x.DisplayOrder)
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.IsActive)
                            .Width(100);
                        columns.Command(commands =>
                        {
                            commands.Edit();
                        }).Width(100);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Providers", "LiveChat")
                            .Update("ProviderUpdate", "LiveChat");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
