@model BlogPostModel
@using Nop.Web.Framework.UI.Captcha;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(Model.Title);
}
<div class="blogpost">
    <div class="page-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="clear">
    </div>
    <div class="postdate">
        @Model.CreatedOn.ToString("D")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_blogpost_page_before_body" })
    <div class="postbody">
        @Html.Raw(Model.Body)
    </div>
    <div class="clear">
    </div>
    <div class="tags">
        @if (Model.Tags.Count > 0)
        {
            @T("Blog.Tags") 
            <text>:&nbsp;</text>
            for (int i = 0; i < Model.Tags.Count; i++)
            {
                var tag = Model.Tags[i];
            <a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a>
                if (i != Model.Tags.Count - 1)
                {
            <text>,&nbsp;</text>
                }
            }
        }
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_blogpost_page_before_comments" })
    @if (Model.AllowComments)
    {
        <div class="clear">
        </div>
        <div class="blogcomments">
            <div class="title">
                @T("Blog.Comments")
            </div>
            <div class="clear">
            </div>
            <div class="newcomment">
                @using (Html.BeginForm())
                {
                    <div class="leavetitle">
                        <strong>
                            @T("Blog.Comments.LeaveYourComment")
                        </strong>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.AddNewComment.CommentText)
                        @Html.TextAreaFor(model => model.AddNewComment.CommentText)
                        @Html.ValidationMessageFor(model => model.AddNewComment.CommentText)
                    </div>
                    string result = TempData["nop.blog.addcomment.result"] as string;
                    if (!String.IsNullOrEmpty(result))
                    {
                    <div class="result">
                        @result
                    </div>
                    }
                    <div class="message-error">
                        @Html.ValidationSummary(true)
                    </div>
                    if (Model.AddNewComment.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                    }
                    <div class="buttons">
                        <input type="submit" id="add-comment" name="add-comment" value="@T("Blog.Comments.SubmitButton")" />
                    </div>
                }
            </div>
            <div class="clear">
            </div>
            <div class="commentlist">
                @if (Model.Comments.Count > 0)
                {
                    <ul data-role="listview" data-inset="true" data-filter="false">
                        @foreach (var comment in Model.Comments)
                        {
                            <li>
                                <div class="blogcomment">
                                    <div class="commentinfo">
                                        <div class="userinfo">
                                            @if (comment.AllowViewingProfiles)
                                            {
                                                <a href="@Url.RouteUrl("CustomerProfile", new { id = comment.CustomerId })" class="username">@(comment.CustomerName)</a>
                                            }
                                            else
                                            {
                                                <span class="username">@(comment.CustomerName)</span>
                                            }
                                        </div>
                                        <div class="commenttime">
                                            @T("Blog.Comments.CreatedOn"): <span class="statvalue">@comment.CreatedOn.ToString("g")</span>
                                        </div>
                                    </div>
                                    <div class="commentcontent">
                                        <div class="commentbody">
                                            <span class="commenttext">
                                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false))
                                            </span>
                                        </div>
                                    </div>
                                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_blogpost_page_inside_comment" })
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_blogpost_page_after_comments" })
</div>
