@model BlogPostListModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
@section left {
    @Html.Action("BlogMonths", "Blog")
    <div class="clear">
    </div>
    @Html.Action("BlogTags", "Blog")
}
<div class="page blog-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss">
            <img title="@T("Blog.RSS.Hint")" src="@Url.Content("~/content/images/icon_rss.gif")" alt="@T("Blog.RSS")" /></a>
        <h1>
            @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
            {
                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                {
                @string.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"));
                }
                else
                {
                @T("Blog")
                }
            }
            else
            {
                @string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag);
            }
        </h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @Html.Widget("bloglist_page_before_posts")
        <div class="blogposts">
            @foreach (var item in Model.BlogPosts)
            {
                <div class="post">
                    <a class="blog-title" href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })">
                        @item.Title</a><span class="blog-date">-
                            @item.CreatedOn.ToString("D")
                        </span>
                    <div class="blog-body">
                        @Html.Raw(item.Body)
                    </div>
                    <div class="clear">
                    </div>
                    <div class="tags">
                        @if (item.Tags.Count > 0)
                        {
                            @T("Blog.Tags") 
                            <text>:&nbsp;</text>
                            for (int i = 0; i < item.Tags.Count; i++)
                            {
                                var tag = item.Tags[i];
                            <a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a>
                                if (i != item.Tags.Count - 1)
                                {
                            <text>,&nbsp;</text>
                                }
                            }
                        }
                    </div>
                    @if (item.AllowComments)
                    {
                        <a href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })" class="blog-details">
                            @string.Format(@T("Blog.CommentsLink").Text, item.NumberOfComments)
                        </a>
                    }
                    @Html.Widget("bloglist_page_inside_post")
                </div>
            }
        </div>
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("bloglist_page_after_posts")
    </div>
</div>
