@model LogModel
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-system.png")" alt="" />
            @T("Admin.System.Log.ViewLogDetails") @Html.ActionLink("(" + T("Admin.System.Log.BackToList") + ")", "List")
        </div>
        <div class="options">
            <span id="log-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    
    @Html.ValidationSummary(true)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LogLevel):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.LogLevel)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShortMessage):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.ShortMessage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.FullMessage):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.FullMessage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.IpAddress):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.IpAddress)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerId):
            </td>
            <td class="adminData">
                @if (Model.CustomerId.HasValue)
                {
                    @Html.ActionLink(Model.CustomerName + " (" + T("Admin.Common.View").Text + ")", "Edit", "Customer", new { id = Model.CustomerId }, new { })
                }
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageUrl):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.PageUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ReferrerUrl):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.ReferrerUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CreatedOn):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.CreatedOn)
            </td>
        </tr>
    </table>
}
@Html.DeleteConfirmation("log-delete")
