@model Nop.Web.Models.Catalog.ProductModel.ProductVariantModel.GiftCardModel
@if (Model.IsGiftCard)
{
    <div class="giftCard">
        @Html.LabelFor(model => model.RecipientName)
        @Html.TextBoxFor(model => model.RecipientName)
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.LabelFor(model => model.RecipientEmail);
                @Html.TextBoxFor(model => model.RecipientEmail);
            }
        @Html.LabelFor(model => model.SenderName)
        @Html.TextBoxFor(model => model.SenderName)
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.LabelFor(model => model.SenderEmail);
                @Html.TextBoxFor(model => model.SenderEmail);
            }
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message, new { style = "Width: 300px; Height: 100px;" })
    </div>
}