@model Nop.Web.Models.Catalog.ProductModel
<div class="small-product-item">
    <div class="product-title">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            @Model.Name</a>
    </div>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img style="border-width: 0px;" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
                                        title="@Model.DefaultPictureModel.Title" /></a>
    </div>
</div>
