@model Nop.Web.Models.Catalog.ProductModel
<div class="product-item">
    <h2 class="product-title">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })">@Model.Name</a>
    </h2>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })" title="Show details for @Model.Name">
            <img style="border-width: 0px;" alt="Picture of @Model.Name" src="@Model.ImageUrl" title="Show details for @Model.Name" />
        </a>
    </div>
    <div class="description">
        @Html.Raw(Model.ShortDescription)
    </div>
    <div class="add-info">
        <div class="prices">
            @Html.Partial("_ProductPrice", Model.ProductPrice)
        </div>
        <div class="buttons">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })" class="productlistproductdetailbutton">@T("Products.Details")</a>
            @*UNDONE add to cart
            <br />
            <input type="submit" value="@("Products.AddToCart")" class="productgridproductdetailbutton">*@
        </div>
    </div>
</div>
