@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
<div class="small-product-item" data-productid="@Model.Id">
    <div class="product-title">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            @Model.Name</a>
    </div>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
                                        title="@Model.DefaultPictureModel.Title" /></a>
    </div>
    @Html.Widget("productsmallbox")
</div>