@model Nop.Web.Models.Catalog.ProductModel
<div class="product-item">
    <h2 class="product-title">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })">
            Build your own computer</a>
    </h2>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })" title="Show details for @Model.Name">
            <img style="border-width: 0px;" alt="Picture of Build your own computer" src="@Model.ImageUrl"
                title="Show details for Build your own computer"></a>
    </div>
    <div class="description">
        @Model.ShortDescription
    </div>
    <div class="prices-wrapper">
        <div class="prices">
            @Html.Partial("_ProductPrice", Model.ProductPrice)
        </div>
        <div class="buttons">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, Model.SeName })" class="productlistproductdetailbutton">Details</a>
        </div>
    </div>
</div>
