@model Nop.Web.Models.Catalog.ProductOverviewModel
<a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">
    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
    <div class="product-title">@Model.Name</div>
    @if (!String.IsNullOrEmpty(Model.ShortDescription))
    {
        <div class="description">
            @Html.Raw(Model.ShortDescription)
        </div>
    }
    <div class="prices">
        @Html.Partial("_ProductPrice", Model.ProductPrice)
    </div>
</a>