@model Nop.Web.Models.Catalog.ProductModel.ProductVariantModel.AddToCartModel
@using Nop.Web.Framework;
<div class="add-info">
    @if (Model.CustomerEntersPrice)
    {
        <div>
            @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" })
            @*round price*@
            @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
        </div>
        <div>
            @Model.CustomerEnteredPriceRange
        </div>
    }
    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }) 
        @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
    }
    @if (!Model.DisableBuyButton)
    {
        <input type="submit" name="addtocart-@(Model.ProductVariantId)" value="@T("ShoppingCart.AddToCart")" />
    }
    @if (!Model.DisableWishlistButton)
    {
        <input type="submit" name="addtowishlist-@(Model.ProductVariantId)" value="@T("ShoppingCart.AddToWishlist")" />
    }
</div>
