@model ProductDetailsModel.ProductVariantModel
@using Nop.Web.Models.Catalog;
@*SKU*@
@if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
{
    <div class="sku">
        <span class="label">@T("Products.Sku"): </span><span class="value">@Model.Sku</span>
    </div>
    <div class="clear">
    </div>
}
@*Manufacturer part number*@
@if (!String.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) && Model.ShowManufacturerPartNumber)
{
    <div class="manufacturer-part-number">
        <span class="label">@T("Products.ManufacturerPartNumber"): </span><span class="value">@Model.ManufacturerPartNumber</span>
    </div>
    <div class="clear">
    </div>
}
@*GTIN*@
@if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
{
    <div class="gtin">
        <span class="label">@T("Products.GTIN"): </span><span class="value">@Model.Gtin</span>
    </div>
    <div class="clear">
    </div>
}
@*Stock availability*@
@if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
{
    <div class="stock">
        <span class="label">@T("Products.Availability"): </span><span class="value">@Model.StockAvailability</span>
    </div>
}
