@model Nop.Web.Models.Catalog.CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@{
    var storeUrl = EngineContext.Current.Resolve<IWebHelper>().GetStoreLocation();
}
<div class="category-page">
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <a href='@storeUrl'>@T("Categories.Breadcrumb.Top")</a> /
            @for (int i = 0; i < Model.CategoryBreadcrumb.Count; i++)
            {
                var catBr = Model.CategoryBreadcrumb[i];
                <a href="@Url.RouteUrl("Category", new { categoryId = catBr.Id, SeName = catBr.SeName })">@catBr.Name</a>
                                                                                                     if (i != Model.CategoryBreadcrumb.Count - 1)
                                                                                                     {
                    <text>/</text>
                                                                                                     }
            }
            <br />
        </div>
        <div class="clear">
        </div>
    }
    <div class="category-description">
        @Html.Raw(Model.Description)
    </div>
    <div class="clear">
    </div>
    @if (Model.SubCategories.Count > 0)
    {
        <div class="sub-category-grid">
            @(Html.DataList<CategoryModel.SubCategoryModel>(Model.SubCategories, 3,
                @<div class="item-box">
                    <div class="sub-category-item">
                        <h2 class="category-title">
                            <a href="@Url.RouteUrl("Category", new { categoryId = item.Id, item.SeName })" title="Show products in category @item.Name">
                                @item.Name</a>
                        </h2>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { categoryId = item.Id, item.SeName })" title="Show products in category @item.Name">
                                <img style="border-width: 0px;" alt="Picture for category @item.Name" src="@item.ImageUrl"
                                    title="Show products in category @item.Name" /></a>
                        </div>
                    </div>
                </div>
            ))
        </div>
        <div class="clear">
        </div>
    }
    <ul class="product-list1">
        @foreach (var product in Model.Products)
        { 
            <li class="item-box">
                @Html.Partial("_ProductBox", product)
            </li>
        }
    </ul>
    <div class="clear">
    </div>
    @MvcHtmlString.Create(Html.Pager(Model.PagingFilteringContext as MvcContrib.Pagination.IPagination).QueryParam("pageNumber").ToString())
</div>
