@model IList<ProductModel.ProductVariantModel.TierPriceModel>
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@using MvcContrib.UI.Grid
@{
    var displayTierPrices = false;
    if (Model.Count > 0)
    {
        displayTierPrices = true;
        //When there is just one tier (with min qty 1), the "buy more and save" table shouldn't be shown up.
        //Since it only has one tier, with the price for unit 1+, there are no actual savings in the list.
        if (Model.Count == 1 && Model[0].Quantity <= 1)
        {
            displayTierPrices = false;
        }
    }
}
@if (displayTierPrices)
{
    <div class="tier-prices">
        <div class="prices-header">
            @T("Products.TierPrices")
        </div>
        <div class="prices">
            <table class="prices-table">
                <tr>
                    <td>
                        <table class="header-table">
                            <tr>
                                <td class="field-header">
                                    @T("Products.TierPrices.Quantity")
                                </td>
                            </tr>
                            <tr>
                                <td class="field-header">
                                    @T("Products.TierPrices.Price")
                                </td>
                            </tr>
                        </table>
                    </td>
                    @foreach (var tierPrice in Model)
                    {
                        <td>
                            <table class="item-table">
                                <tr>
                                    <td class="item-quantity">
                                        @tierPrice.Quantity
                                        <text>+</text>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="item-price">
                                        @tierPrice.Price
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>
}