@model Nop.Web.Models.Catalog.ProductModel
                   
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

@*TODO breadcrumb*@
<div class="clear">
</div>
<div class="product-details-page">
    <div class="product-essential">
        <div class="product-details-info">
        <div class="picture">
        @if (Model.DefaultPictureZoomEnabled)
        {
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" rel="lightbox-pd" title="@Model.Name">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" style="border-width: 0px;" />
            </a>
        }
        else
        {
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" style="border-width: 0px;" />
        }        
    </div>
        <div class="overview">
        <h1 class="productname">
            @Model.Name
        </h1>
        <br />
        <div class="shortdescription">
            @Html.Raw(Model.ShortDescription)
        </div>
        <div class="clear">
        </div>        
        @*TODO Manufacturers*@
        <div class="clear">
        </div>
        @if (Model.PictureModels.Count > 1)
        {
            <table>
                <tr>
                @foreach (var picture in Model.PictureModels)
                {
                    <td align="left">
                        <a href="@picture.FullSizeImageUrl" rel="lightbox-p" title="@Model.Name">
                            <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                        </a>
                    </td>
                }
                </tr>
            </table>
        }
        <div class="clear">
        </div>
        @*TODO ProductShareButton*@
    </div>
    <div class="fulldescription">
        @Html.Raw(Model.FullDescription)
    </div>
    </div>
    </div>
    <div class="clear">
    </div>
    <div class="product-collateral">
        @*TODO ProductRating*@
        <div class="clear">
        </div>
        @*TODO ProductEmailAFriendButton*@
        &nbsp;
         @*TODO ProductAddToCompareList*@
        <div class="clear">
        </div>
            @*TODO ProductVariantsInGrid*@
        <div class="clear">
        </div>
        <div>
            @*TODO ProductsAlsoPurchased*@
        </div>
        <div class="clear">
        </div>
        <div>
            @*TODO RelatedProducts*@
        </div>
        <div class="clear">
        </div>
        @*TODO ProductReviews, ProductSpecs, ProductTags*@
    </div>
</div>