@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Tax.Providers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tax providers");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Tax.Providers")
    </h1>
    <div class="pull-right">
        &nbsp;
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_tax_provider_list_buttons" })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        @T("Admin.Configuration.Tax.Providers.DownloadMorePlugins")
                    </p>
                    <div id="tax-providers-grid"></div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#tax-providers-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("Providers", "Tax"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "FriendlyName",
                                    title: "@T("Admin.Configuration.Tax.Providers.Fields.FriendlyName")",
                                    width: 250
                                }, {
                                    field: "SystemName",
                                    title: "@T("Admin.Configuration.Tax.Providers.Fields.SystemName")",
                                    width: 250
                                }, {
                                    field: "IsPrimaryTaxProvider",
                                    title: "@T("Admin.Configuration.Tax.Providers.Fields.IsPrimaryTaxProvider")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IsPrimaryTaxProvider) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "SystemName",
                                    title: "@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")",
                                    width: 200,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a href="@Url.Content("~/Admin/Tax/MarkAsPrimaryProvider/")?systemName=#=SystemName#" class="btn bg-green">@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")</a>'
                                }, {
                                    field: "SystemName",
                                    title: "@T("Admin.Configuration.Tax.Providers.Configure")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(ConfigurationUrl && ConfigurationUrl.length > 0) {# <a class="btn btn-default" href="#=ConfigurationUrl#"><i class="fa fa-cog"></i>@T("Admin.Configuration.Tax.Providers.Configure")</a>#} #'
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>