@model MessageTemplateModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name 
            <small>@Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")" />
            <input type="submit" name="message-template-copy" class="btn bg-green" value="@T("Admin.ContentManagement.MessageTemplates.Copy")"  onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
            <span id="message-template-delete" class="btn bg-red">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("message-template-delete")