@model MessageTemplateModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Message templates");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.MessageTemplates.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

            <button type="submit" id="message-template-copy" name="message-template-copy" class="btn bg-green">
                <i class="fa fa-clone"></i>
                @T("Admin.ContentManagement.MessageTemplates.Copy")
            </button>
            @Html.ActionConfirmation("message-template-copy")

            <span id="message-template-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("message-template-delete")