@model TestMessageTemplateModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.TestDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.MessageTemplates.TestDetails") @Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.Test.BackToTemplate") + ")", "Edit", new { id = Model.Id })
        </div>
        <div class="options">
            <input type="submit" name="send-test" class="k-button" value="@T("Admin.ContentManagement.MessageTemplates.Test.Send")" />
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SendTo):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SendTo)
                @Html.ValidationMessageFor(model => model.SendTo)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>@T("Admin.ContentManagement.MessageTemplates.Test.Tokens.Description")</strong>
            </td>
        </tr>
        @foreach (var token in Model.Tokens)
        {
            <tr>
                <td class="adminTitle">
                    @token
                </td>
                <td class="adminData">
                    <input type="text" name="token_@(token)" class="text-box single-line" />
                </td>
            </tr>
        }
    </table>
}