@model IList<VendorModel>

@using Nop.Core.Domain.Vendors

@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Vendors").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-vendor-list-page");
}
<div class="page vendor-list-page">
    <div class="page-title">
        <h1>@T("Vendors.List")</h1>
    </div>
    <div class="page-body">
        <div class="vendor-grid">
            <div class="item-grid">
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        <div class="vendor-item">
                            <h2 class="title">
                                <a href="@(Url.RouteUrl<Vendor>(new { SeName = item.SeName }))" title="@item.PictureModel.Title">
                                    @item.Name
                                </a>
                            </h2>
                            <div class="picture">
                                <a href="@(Url.RouteUrl<Vendor>(new { SeName = item.SeName }))" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>