@model CustomerNavigationModel
<section class="block block-account-navigation">
    <h2 class="title">
        @T("Account.Navigation")
    </h2>
    <div class="listbox">
        <ul class="list">
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AccountNavigationBefore, additionalData = Model })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass @(Model.SelectedTab == item.Tab ? "active" : "inactive")">
                    <a href="@Url.RouteUrl(item.RouteName)">@(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AccountNavigationAfter, additionalData = Model })
        </ul>
    </div>
</section>
