@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    const string cardId = "bestsellers-report-quantity-card";
    const string hideCardAttributeName = "Reports.HideBestsellersBriefReportByQuantityCard";
    var hideCard = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCardAttributeName);
}

<div class="card card-primary card-outline @if(hideCard){<text>collapsed-card</text>}" id="@cardId">
    <div class="card-header with-border">
        <h3 class="card-title">
            <i class="fas fa-star"></i>
            @T("Admin.Reports.Sales.BestSellers.ByQuantity")
        </h3>
        <div class="card-tools float-right">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                @if (hideCard)
                {
                    <text><i class="fas fa-plus"></i></text>
                }
                else
                {
                    <text><i class="fas fa-minus"></i></text>
                }
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var collapsed = !$('#@cardId').hasClass('collapsed-card');
            if (collapsed) {
                $('#bestsellersBriefReportByQuantity').load('@Url.Action("GetBestsellersBriefReportByQuantity", "Home")');
            }

            $('#@cardId').on('click', 'button[data-card-widget="collapse"]', function () {
                var collapsed = !$('#@cardId').hasClass('collapsed-card');
                saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hideCardAttributeName', collapsed);
                if (!collapsed) {
                    $('#bestsellersBriefReportByQuantity').load('@Url.Action("GetBestsellersBriefReportByQuantity", "Home")');
                }
            });
        });
    </script>
    <div class="card-body">
        <div id="bestsellersBriefReportByQuantity"></div>
    </div>
</div>