@model RichBlogImageModel

@if (!string.IsNullOrEmpty(Model.BlogPostUrl) && !string.IsNullOrEmpty(Model.BlogPostImageUrl))
{
    <div class="rich-blog-image">
        @if (Model.IsBlogDetailsPage)
        {
            <img src="@Model.BlogPostImageUrl" title="@Model.BlogPostTitle" alt="@Model.BlogPostTitle" />
        }
        else
        {
            <a href="@Model.BlogPostUrl" alt="@Model.BlogPostTitle"><img src="@Model.BlogPostImageUrl" title="@Model.BlogPostTitle" alt="@Model.BlogPostTitle" /></a>
        }
    </div>
}