@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.AliPay.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SellerEmail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SellerEmail)
                @Html.ValidationMessageFor(model => model.SellerEmail)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Key):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Key)
                @Html.ValidationMessageFor(model => model.Key)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Partner):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Partner)
                @Html.ValidationMessageFor(model => model.Partner)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="save" value="save" class="k-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}