@model IList<MegaMenuCategoryModel>

@foreach (var subCategory in Model)
{

    if (subCategory.SubCategories.Count > 0)
    {
        <li class="has-sublist">
            <a href="@Url.RouteUrl("Category", new { SeName = subCategory.CategoryModel.SeName })" title="@subCategory.CategoryModel.Name" class="with-subcategories"><span>@subCategory.CategoryModel.Name</span></a>
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</span>
                    </li>
                    @await Component.InvokeAsync("MegaMenuListSubCategories", new { subCategories = subCategory.SubCategories })

                    @if (subCategory.ShouldShowViewAllLink)
                    {
                        <li>
                            <a class="view-all" href="@Url.RouteUrl("Category", new {subCategory.CategoryModel.SeName})" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">
                                <span>@T("SevenSpikes.MegaMenu.ViewAllCategories")</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    else
    {
        <li>
            <a class="lastLevelCategory" href="@Url.RouteUrl("Category", new {SeName = subCategory.CategoryModel.SeName})" title="@subCategory.CategoryModel.Name"><span>@subCategory.CategoryModel.Name</span></a>
        </li>
    }
}
