@model int
@using Telerik.Web.Mvc.UI
@{
    var clientId = "picture" + new Random().Next();
    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
    var picture = pictureService.GetPictureById(Model);
}
<div id="@(clientId + "value")">
    @Html.HiddenFor(x => x)
</div>
<div id="@(clientId + "image")">
    <img src="@(pictureService.GetPictureUrl(Model, 100, true))" />
</div>
<div class="t-dropzone">
@if(picture != null){
    <span id="@(clientId + "remove")" class="t-button">@T("Admin.Picture.RemovePicture")</span>
}
else
{
    <span id="@(clientId + "remove")" class="t-button" style="display:none;">@T("Admin.Picture.RemovePicture")</span>
}
</div>
@(Html.Telerik()
.Upload()
.Name("attachments")
.Multiple(false)
.ClientEvents(events =>
{
    events.OnSuccess("onSuccess");
})
.Async(async =>
{
    async.Save("AsyncUpload", "Picture");
    async.AutoUpload(true);
})
.Enable(picture == null))
<script type="text/javascript">
    $(function () {
        $(function () {
            $("#@(clientId + "remove")").click(function(e){
                $("#attachments").data("tUpload").enable();
                $("#@(clientId + "image")").html("<img src='@pictureService.GetDefaultPictureUrl()'/>");
                $("#@(clientId + "value") input").val(0);
                $(this).hide();
            });
        });
    });

    function onSuccess(e, i){
        var upload = $("#attachments").data("tUpload");
        upload.disable();
        $("#@(clientId + "image")").html("<img src='" + e.response.imageUrl + "'/>");
        $("#@(clientId + "value") input").val(e.response.pictureId);
        $("#@(clientId + "remove")").show();
    }
</script>
