@model ForumGroupModel
@{
    //page title
    ViewBag.Title = @T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup") @Html.ActionLink(String.Format("({0})", T("Admin.ContentManagement.Forums.ForumGroup.BackToList")), "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateForumGroup", Model)
}