@model ForumGroupModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Manage forums");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup") 
            <small>@Html.ActionLink("(" + T("Admin.ContentManagement.Forums.ForumGroup.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateForumGroup", Model)
}