@model ForumGroupModel

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Forums.ForumGroup.EditForumGroup") - @Model.Name  @Html.ActionLink(String.Format("({0})", T("Admin.ContentManagement.Forums.ForumGroup.BackToList")), "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
            <span id="forumgroup-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateForumGroup", Model)
}
@Html.DeleteConfirmation("DeleteForumGroup", "forumgroup-delete")
