@model StoreModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Stores.AddNew").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Stores.AddNew")
            <small>@Html.ActionLink("(" + T("Admin.Configuration.Stores.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}