@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.TaxProviderModel>
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" />
        @T("Admin.Configuration.Tax.Providers")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Admin.Models.TaxProviderModel>()
                    .Name("taxProviders-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName).Width(150);
                        columns.Bound(x => x.IsPrimaryTaxProvider).Width(100);
                        columns.Command(commands => commands.Select()).Title("Mark as primary provider").Width(100);
                        //TODO add ClientTemplate for Configuration link
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.Configuration.Tax.Providers.Configure").Text, "ConfigureProvider", new { systemName = @item.SystemName })
                                </div>
                            ).Width(100)
                            .Centered()
                            .Title(T("Admin.Configuration.Tax.Providers.Configure").Text);
                        columns.Bound(x => x.SystemName).Width(150);
                        columns.Bound(x => x.Version).Width(150);
                        columns.Bound(x => x.Author).Width(150);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Providers", "Tax");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
