@model IList<MegaMenuCategoryModel>

@foreach (var subCategory in Model)
{

    if (subCategory.SubCategories.Count > 0)
    {
        <li class="has-sublist">
            <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = subCategory.CategoryModel.SeName })" title="@subCategory.CategoryModel.Name"><span>@subCategory.CategoryModel.Name</span></a>
            <button class="trigger plus-button"></button>
            <div class="sublist-wrap">
                <div class="responsive-nav-head back-button">
                    <span class="text"><button>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</button></span>
                </div>
                <ul class="sublist">
                    @await Component.InvokeAsync("MegaMenuListSubCategories", new { subCategories = subCategory.SubCategories })
                    @if (subCategory.ShouldShowViewAllLink)
                    {
                        <li>
                            <a class="view-all" href="@Url.RouteUrl("Category", new {subCategory.CategoryModel.SeName})" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">
                                <span>@T("SevenSpikes.MegaMenu.ViewAllCategories")</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    else
    {
        <li>
            <a class="lastLevelCategory" href="@Url.RouteUrl("Category", new {SeName = subCategory.CategoryModel.SeName})" title="@subCategory.CategoryModel.Name"><span>@subCategory.CategoryModel.Name</span></a>
        </li>
    }
}
