@model Telerik.Web.Mvc.GridModel<PaymentMethodModel>
@using Telerik.Web.Mvc.UI
@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Payment.Methods").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.Payment.Methods")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<PaymentMethodModel>()
                    .Name("paymentmethods-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName)
                            .Width(150);
                        columns.Bound(x => x.SystemName).Width(150).ReadOnly();
                        columns.Bound(x => x.SupportCapture)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.SupportCapture.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= SupportCapture #>.gif' />")
                            .Centered()
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.SupportRefund)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.SupportRefund.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= SupportRefund #>.gif' />")
                            .Centered()
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.SupportPartiallyRefund)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.SupportPartiallyRefund.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= SupportPartiallyRefund #>.gif' />")
                            .Centered()
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.SupportVoid)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.SupportVoid.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= SupportVoid #>.gif' />")
                            .Centered()
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.RecurringPaymentType)
                            .Width(100)
                            .ReadOnly();
                        columns.Bound(x => x.DisplayOrder)
                            .Width(100);
                        columns.Bound(x => x.IsActive)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.IsActive.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= IsActive #>.gif' />")
                            .Centered()
                            .Width(100);
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.Configuration.Payment.Methods.Configure").Text, "ConfigureMethod", new { systemName = item.SystemName })
                                </div>
                            )
                            .ClientTemplate("<a href=\"ConfigureMethod?systemName=<#= SystemName #>\">" + T("Admin.Configuration.Payment.Methods.Configure").Text + "</a>")
                            .Width(100)
                            .Centered()
                            .Title(T("Admin.Configuration.Payment.Methods.Configure").Text);
                        columns.Command(commands =>
                        {
                            commands.Edit().Text(T("Admin.Common.Edit").Text);
                        }).Title(T("Admin.Common.Edit").Text).Width(50);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Methods", "Payment")
                            .Update("MethodUpdate", "Payment");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
