@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.PaymentMethodModel>
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" />
        @T("Admin.Configuration.Payment.Methods")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Admin.Models.PaymentMethodModel>()
                    .Name("paymentmethods-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName).Width(150).ReadOnly();
                        //TODO add ClientTemplate for Configuration link
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.Configuration.Payment.Methods.Configure").Text, "ConfigureMethod", new { systemName = @item.SystemName })
                                </div>
                            ).Width(100)
                            .Centered()
                            .Title(T("Admin.Configuration.Payment.Methods.Configure").Text);
                        columns.Bound(x => x.SystemName).Width(150).ReadOnly();
                        //TODO display Version and Author?
                        //columns.Bound(x => x.Version).Width(100).ReadOnly();
                        //columns.Bound(x => x.Author).Width(100).ReadOnly();
                        columns.Bound(x => x.SupportCapture).Width(100).ReadOnly();
                        columns.Bound(x => x.SupportRefund).Width(100).ReadOnly();
                        columns.Bound(x => x.SupportPartiallyRefund).Width(100).ReadOnly();
                        columns.Bound(x => x.SupportVoid).Width(100).ReadOnly();
                        columns.Bound(x => x.RecurringPaymentType).Width(100).ReadOnly();
                        columns.Bound(x => x.DisplayOrder).Width(100).ReadOnly();
                        columns.Bound(x => x.IsActive).Width(100);
                        columns.Command(commands =>
                        {
                            commands.Edit();
                        }).Width(100);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Methods", "Payment")
                            .Update("MethodUpdate", "Payment");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
