@model NopBrasil.Plugin.Payments.PagSeguro.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentPagSeguro" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <a href="http://www.nopcommercebrasil.com"><img src="~/Plugins/Payments.PagSeguro/Content/Images/nopCommerceBrasil.png"></a>
                    <br />
                    <p>
                        Este plugin foi desenvolvido por <a href="http://www.nopcommercebrasil.com">NopCommerce Brasil - http://www.nopcommercebrasil.com</a><br />
                        Em caso de dúvidas ou problemas por favor entre em contato conosco através do email <a href="mailto:nopcommercebrasil@nopcommercebrasil.com" target="_top">nopcommercebrasil@nopcommercebrasil.com</a><br />
                        Este plugin é open-source e seu código-fonte está disponível no <a href="https://github.com/nopCommerceBrasil">GitHub do NopCommerce Brasil</a> no repositório <a href="https://github.com/nopCommerceBrasil/NopBrasil.Plugin.Payments.PagSeguro">NopBrasil.Plugin.Payments.PagSeguro</a>
                    </p>
                    <br />

                </div>
                <div>
                    <p>PagSeguro é uma ferramenta do UOL que disponibiliza mais de 15 formas de pagamento, para mais informações e para criar sua conta acesse: https://pagseguro.uol.com.br </p>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PagSeguroEmail_OverrideForStore" asp-input="PagSeguroEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PagSeguroEmail" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PagSeguroEmail" />
                        <span asp-validation-for="PagSeguroEmail"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PagSeguroToken_OverrideForStore" asp-input="PagSeguroToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PagSeguroToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PagSeguroToken" />
                        <span asp-validation-for="PagSeguroToken"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentMethodDescription_OverrideForStore" asp-input="PaymentMethodDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentMethodDescription" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PaymentMethodDescription" />
                        <span asp-validation-for="PaymentMethodDescription"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsSandbox_OverrideForStore" asp-input="IsSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsSandbox" />
                        <span asp-validation-for="IsSandbox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>