@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NopCommerce Web Administration. @ViewBag.Title</title>
    <link href="@Url.Content("~/Areas/Admin/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/Admin/Content/jquery-ui-1.8.9.custom.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/admin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.superfishmenu.js")" type="text/javascript"></script>

    @MvcHtmlString.Create(HttpUtility.HtmlDecode(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
                                    .Add("2010.3.1318/telerik.common.css")
                                    .Add("2010.3.1318/telerik.vista.css")
                                    .Add("2010.3.1318/telerik.rtl.css")).ToHtmlString()))
    @MvcHtmlString.Create(HttpUtility.HtmlDecode(Html.Telerik().ScriptRegistrar().jQuery(false).ToHtmlString()))
</head>
<body>
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            <div class="header">
                <div class="logo">
                </div>
                <div class="languageselector">
                    <!--TODO language selector here-->
                </div>
                <div class="links">
                    @Html.ActionLink("Public store", "Index", "Home")
                    <span class="separator">|</span>
                    <!--TODO clear cache button here-->
                    <a href="~">Clear Cache</a>
                </div>
                <div class="login-info">
                    <!--TODO logged-in user info here-->
                    Logged in as: admin@yourstore.com, <a href="/admin/logout/">Logout?</a>
                </div>
                <div class="version">
                    <!--TODO nopCommerce version here-->
                    <span>nopCommerce 2.00</span>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="header-menu">
                <!-- TODO menu here-->
                <script type="text/javascript">
                 //<![CDATA[
                    $(document).ready(function () { $('#ctrlMenu').superfish({ autoArrows: false, speed: 'fast', delay: 200 }); });
                 //]]>
                </script>
                <ul class="sf-menu sf-js-enabled sf-shadow" id="ctrlMenu">
                    <li class=" "><a title="View the dashboard" href="/administration/">
                        <img alt="Dashboard" src="http://admin-demo.nopcommerce.com/administration/common/ico-dashboard.png" />
                        Dashboard</a></li><li class=" "><a title="Catalog Home" href="/administration/cataloghome.aspx">
                            <img alt="Catalog" src="http://admin-demo.nopcommerce.com/administration/common/ico-catalog.png" />
                            Catalog</a><ul style="display: none; visibility: hidden;">
                                <li><a title="Manage Product Categories" href="/administration/categories.aspx">Categories</a></li><li>
                                    <a title="Products Home" href="/administration/productshome.aspx">Products</a><ul
                                        style="display: none; visibility: hidden;">
                                        <li><a title="Manage Products" href="/administration/products.aspx">Manage Products</a></li><li>
                                            <a title="Bulk Edit Products" href="/administration/bulkeditproducts.aspx">Bulk Edit
                                                Products</a></li><li><a title="Manage Product Reviews" href="/administration/productreviews.aspx">
                                                    Manage Reviews</a></li><li><a title="Manage Product Tags" href="/administration/producttags.aspx">
                                                        Product Tags</a></li><li><a title="View Low Product Stock Report" href="/administration/productvariantslowstock.aspx">
                                                            Low Stock Report</a></li></ul>
                                </li>
                                <li><a title="Attributes Home" href="/administration/attributeshome.aspx">Attributes</a><ul
                                    style="display: none; visibility: hidden;">
                                    <li><a title="Manage Product Attributes" href="/administration/productattributes.aspx">
                                        Product Attributes</a></li><li><a title="Manage Specification Attributes" href="/administration/specificationattributes.aspx">
                                            Product Specifications</a></li><li><a title="Manage Checkout Attributes" href="/administration/checkoutattributes.aspx">
                                                Checkout Attributes</a></li></ul>
                                </li>
                                <li><a title="Manage Product Manufacturers" href="/administration/manufacturers.aspx">
                                    Manufacturers</a></li></ul>
                        </li>
                    <li class=" "><a title="Sales Home" href="/administration/saleshome.aspx">
                        <img alt="Sales" src="http://admin-demo.nopcommerce.com/administration/common/ico-sales.png" />
                        Sales</a><ul style="display: none; visibility: hidden;">
                            <li><a title="Manage Customer Orders" href="/administration/orders.aspx">Orders</a></li><li>
                                <a title="Manage Recurring Payments" href="/administration/recurringpayments.aspx">Recurring
                                    Payments</a></li><li><a title="View and manage the gict cards that customers have purchased"
                                        href="/administration/purchasedgiftcards.aspx">Purchased Gift Cards</a></li><li><a
                                            title="Manage Return Requests" href="/administration/returnrequests.aspx">Return
                                            Requests</a></li><li><a title="Manage Current Shopping Carts" href="/administration/currentshoppingcarts.aspx">
                                                Current Shopping Carts</a></li><li><a title="View Sales Report" href="/administration/salesreport.aspx">
                                                    Sales Report</a></li></ul>
                    </li>
                    <li class=" "><a title="Customers Home" href="/administration/customershome.aspx">
                        <img alt="Customers" src="http://admin-demo.nopcommerce.com/administration/common/ico-customers.png" />
                        Customers</a><ul style="display: none; visibility: hidden;">
                            <li><a title="Manage Customers" href="/administration/customers.aspx">Manage Customers</a></li><li>
                                <a title="Manage Customer Roles" href="/administration/customerroles.aspx">Customer
                                    Roles</a></li><li><a title="Online Customers" href="/administration/onlinecustomers.aspx">
                                        Online Customers</a></li><li><a title="Customer Statistics" href="/administration/customerreports.aspx">
                                            Customer Statistics</a></li></ul>
                    </li>
                    <li><a title="Promotions Home" href="/administration/promotionshome.aspx">
                        <img alt="Promotions" src="http://admin-demo.nopcommerce.com/administration/common/ico-promotions.png" />
                        Promotions</a><ul style="display: none; visibility: hidden;">
                            <li><a title="Manage Affiliates" href="/administration/affiliates.aspx">Affiliates</a></li><li>
                                <a title="Manage Newsletter Subscribers" href="/administration/newslettersubscribers.aspx">
                                    Newsletter Subscribers</a></li><li><a title="Manage Campaigns" href="/administration/campaigns.aspx">
                                        Campaigns</a></li><li><a title="Manage Discounts" href="/administration/discounts.aspx">
                                            Discounts</a></li><li><a title="Manage Price Lists" href="/administration/pricelist.aspx">
                                                Price Lists</a></li><li><a title="Manage your promotion providers" href="/administration/promotionproviders.aspx">
                                                    Promotion Providers</a></li></ul>
                    </li>
                    <li class=" "><a title="Content Management Home" href="/administration/contentmanagementhome.aspx">
                        <img alt="Content&nbsp;Management" src="http://admin-demo.nopcommerce.com/administration/common/ico-content.png" />
                        Content&nbsp;Management</a><ul style="display: none; visibility: hidden;">
                            <li><a title="Manage Polls" href="/administration/polls.aspx">Polls</a></li><li class=" ">
                                <a title="News Home" href="/administration/newshome.aspx">News</a><ul style="display: none;
                                    visibility: hidden;">
                                    <li><a title="Manage News Settings" href="/administration/newssettings.aspx">News Settings</a></li><li>
                                        <a title="Manage News" href="/administration/news.aspx">Manage News</a></li><li><a
                                            title="Manage News Comments" href="/administration/newscomments.aspx">News comments</a></li></ul>
                            </li>
                            <li><a title="Blog Home" href="/administration/bloghome.aspx">Blog</a><ul style="display: none;
                                visibility: hidden;">
                                <li><a title="Manage Blog Settings" href="/administration/blogsettings.aspx">Blog Settings</a></li><li>
                                    <a title="Manage Blog&quot;" href="/administration/blog.aspx">Manage Blog</a></li><li>
                                        <a title="Manage Blog Comments" href="/administration/blogcomments.aspx">Blog comments</a></li></ul>
                            </li>
                            <li><a title="Manage Topics" href="/administration/topics.aspx">Topics</a></li><li><a
                                title="Forums Home" href="/administration/forumshome.aspx">Forums</a><ul style="display: none;
                                    visibility: hidden;">
                                    <li><a title="Manage Forums Settings" href="/administration/forumssettings.aspx">Forums
                                        Settings</a></li><li><a title="Manage Forums" href="/administration/forums.aspx">Forums</a></li></ul>
                            </li>
                            <li><a title="Templates Home" href="/administration/templateshome.aspx">Templates</a><ul
                                style="display: none; visibility: hidden;">
                                <li><a title="Manage Product Templates" href="/administration/producttemplates.aspx">
                                    Product Templates</a></li><li><a title="Manage Category Templates" href="/administration/categorytemplates.aspx">
                                        Category Templates</a></li><li><a title="Manage Manufacturer Templates" href="/administration/manufacturertemplates.aspx">
                                            Manufacturer Templates</a></li><li><a title="Manage Message Templates" href="/administration/messagetemplates.aspx">
                                                Message templates</a></li></ul>
                            </li>
                            <li><a title="Manage Store Localization" href="/administration/localestringresources.aspx">
                                Localization</a></li></ul>
                    </li>
                    <li><a title="Configuration Home" href="/administration/configurationhome.aspx">
                        <img alt="Configuration" src="http://admin-demo.nopcommerce.com/administration/common/ico-configuration.png" />
                        Configuration</a><ul style="display: none; visibility: hidden;">
                            <li><a title="Configure Global Settings" href="/administration/globalsettings.aspx">
                                Global Settings</a></li><li><a title="Configure Email Accounts" href="/administration/emailaccounts.aspx">
                                    Email Accounts</a></li><li><a title="Manage banned IP addresses and networks" href="/administration/blacklist.aspx">
                                        Blacklist</a></li><li><a title="Payment Settings Home" href="/administration/paymentsettingshome.aspx">
                                            Payment</a><ul style="display: none; visibility: hidden;">
                                                <li><a title="Manage Credit Cards" href="/administration/creditcardtypes.aspx">Credit
                                                    Cards</a></li><li><a title="Manage Payment Methods" href="/administration/paymentmethods.aspx">
                                                        Payment Methods</a></li></ul>
                                        </li>
                            <li><a title="Tax Home" href="/administration/taxsettingshome.aspx">Tax</a><ul style="display: none;
                                visibility: hidden;">
                                <li><a title="Manage Tax Settings" href="/administration/taxsettings.aspx">Tax Settings</a></li><li>
                                    <a title="Manage Tax Providers" href="/administration/taxproviders.aspx">Tax Providers</a></li><li>
                                        <a title="Manage Product Tax Classes" href="/administration/taxcategories.aspx">Tax
                                            Classes</a></li></ul>
                            </li>
                            <li><a title="Shipping Settings Home" href="/administration/shippingsettingshome.aspx">
                                Shipping</a><ul style="display: none; visibility: hidden;">
                                    <li><a title="Manage Shipping Settings" href="/administration/shippingsettings.aspx">
                                        Shipping Settings</a></li><li><a title="Manage Shipping Methods" href="/administration/shippingmethods.aspx">
                                            Shipping Methods</a></li><li><a title="Manage Shipping Rate Computation Methods"
                                                href="/administration/shippingratecomputationmethods.aspx">Shipping Rate Computation</a></li></ul>
                            </li>
                            <li><a title="Location Settings Home" href="/administration/locationsettingshome.aspx">
                                Location</a><ul style="display: none; visibility: hidden;">
                                    <li><a title="Manage Countries" href="/administration/countries.aspx">Countries</a></li><li>
                                        <a title="Manage States / Provinces" href="/administration/stateprovinces.aspx">States/Provinces</a></li><li>
                                            <a title="Configure Language Settings" href="/administration/languages.aspx">Languages</a></li><li>
                                                <a title="Manage Store Currencies" href="/administration/currencies.aspx">Currencies</a></li><li>
                                                    <a title="Manage Warehouses" href="/administration/warehouses.aspx">Warehouses</a></li></ul>
                            </li>
                            <li><a title="Manage Measures" href="/administration/measures.aspx">Measures</a></li><li>
                                <a title="Activity Log Home" href="/administration/activityloghome.aspx">Activity Log</a><ul
                                    style="display: none; visibility: hidden;">
                                    <li><a title="Manage Activity Types" href="/administration/activitytypes.aspx">Activity
                                        Types</a></li><li><a title="View Activity Log" href="/administration/activitylog.aspx">
                                            Activity Log</a></li></ul>
                            </li>
                            <li><a title="Manage access control list" href="/administration/acl.aspx">Access control
                                list</a></li><li><a title="Manage All Settings" href="/administration/settings.aspx">
                                    All Settings</a></li><li><a title="Manage SMS Providers" href="/administration/smsproviders.aspx">
                                        SMS Providers</a></li><li><a title="Manage third-party integration" href="/administration/thirdpartyintegration.aspx">
                                            Third-party Integration</a></li></ul>
                    </li>
                    <li><a title="System Home" href="/administration/systemhome.aspx">
                        <img alt="System" src="http://admin-demo.nopcommerce.com/administration/common/ico-system.png" />
                        System</a><ul style="display: none; visibility: hidden;">
                            <li><a title="View Application Log" href="/administration/logs.aspx">Log</a></li><li>
                                <a title="Manage Message Queue" href="/administration/messagequeue.aspx">Message queue</a></li><li>
                                    <a title="Maintenance" href="/administration/maintenance.aspx">Maintenance</a></li><li>
                                        <a title="Warnings" href="/administration/warnings.aspx">Warnings</a></li><li><a
                                            title="View System Information" href="/administration/systeminformation.aspx">System
                                            Information</a></li></ul>
                    </li>
                    <li><a title="Help Home" href="/administration/helphome.aspx">
                        <img alt="Help" src="http://admin-demo.nopcommerce.com/administration/common/ico-help.png" />
                        Help</a><ul style="display: none; visibility: hidden;">
                            <li><a title="View Help Topics" href="http://www.nopcommerce.com/documentation.aspx">
                                Help Topics</a></li><li><a title="Visit nopCommerce Community Forum" href="http://www.nopcommerce.com/boards/">
                                    Community Forums</a></li></ul>
                    </li>
                </ul>
            </div>
            <div class="status-bar">
                <div class="help">
                    <!-- TODO current datetime here-->
                    <!-- <%=DateTimeHelper.ConvertToUserTime(DateTime.UtcNow).ToString("f")%>-->
                    Tuesday, February 01, 2011 6:53 AM
                </div>
                <div class="breadcrumb">
                    <!-- TODO SiteMapPath here-->
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="content">
                <!-- TODO notifications, warnings, errors gshould be here-->
                <div class="cph">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
