@inject AdminAreaSettings adminAreaSettings

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.AnywhereSliders.Admin.Submenus.ManageSliders");
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Plugins.AnywhereSliders")
    </h1>
    <div class="pull-right">
        <a href="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Plugins.AnywhereSliders.Admin.Slider.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="sliders-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
            $(document).ready(function () {
                $("#sliders-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("List", "AnywhereSlidersAdmin"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("SliderDelete", "AnywhereSlidersAdmin"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    Id: { editable: false, type: "number" },
                                    SystemName: { editable: false, type: "string" },
                                    SliderType: { editable: false, type: "string" },
                                    IsActive: { editable: true, type: "boolean" }
                                }
                            }
                        },
                        requestEnd: function (e) {
                            if (e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @defaultGridPageSize
                        },
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    editable: {
                        confirmation: true,
                        mode: "inline"
                    },
                    filterable: false,
                    sortable: true,
                    scrollable: false,
                    columns: [{
                        field: "SystemName",
                        title: "@T("SevenSpikes.Plugins.AnywhereSliders.Admin.Slider.SystemName")"
                    }, {
                        field: "SliderType",
                        title: "@T("SevenSpikes.Plugins.AnywhereSliders.Admin.Slider.SliderType")"
                    }, {
                        field: "IsActive",
                        title: "@T("SevenSpikes.Plugins.AnywhereSliders.Admin.Slider.IsActive")",
                        template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                        editable: true
                    }, {
                        template: kendo.template($("#commands-template").html()),
                        filterable: false,
                        sortable: false
                    }, {
                        command: [{
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });
</script>

<script id="commands-template" type="text/x-kendo-template">
    <a class="k-button" href="Edit/#: Id#" title="@T("Admin.Common.Edit")">
        <span class="k-icon k-edit"></span>
        @T("Admin.Common.Edit")
    </a>
</script>
