@model PickupModel

@if (!Model.Created)
{
    <button type="submit" asp-route="@EasyPostDefaults.CreatePickupRouteName" class="btn btn-primary">
        <i class="fa fa-truck"></i>
        @T("Plugins.Shipping.EasyPost.Pickup.Create")
    </button>
}
@if (Model.Created && !Model.Purchased && Model.AvailablePickupRates.Any(rate => !string.IsNullOrEmpty(rate.Value)))
{
    <button type="submit" asp-route="@EasyPostDefaults.BuyPickupRouteName" class="btn bg-purple">
        <i class="fa fa-truck"></i>
        @T("Plugins.Shipping.EasyPost.Pickup.Buy")
    </button>
}
@if (Model.Created)
{
    <button type="submit" asp-route="@EasyPostDefaults.CancelPickupRouteName" class="btn btn-danger">
        <i class="fa fa-ban"></i>
        @T("Plugins.Shipping.EasyPost.Pickup.Cancel")
    </button>
}