@{
    Layout = "";
}

@model Nop.Plugin.Tax.FixedOrByCountryStateZip.Models.ConfigurationModel

<div class="form-group">
    <div class="col-md-12">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="advanced-settings-mode" checked="@Model.CountryStateZipEnabled">
            <label class="onoffswitch-label" for="advanced-settings-mode">
                <span class="onoffswitch-inner"
                      data-locale-basic="@T("Plugins.Tax.FixedOrByCountryStateZip.Fixed")"
                      data-locale-advanced="@T("Plugins.Tax.FixedOrByCountryStateZip.TaxByCountryStateZip")"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
</div>
<script type="text/javascript">
            function checkAdvancedSettingsMode(advanced) {
                if (advanced) {
                    $("body").addClass("advanced-settings-mode");
                    $("body").removeClass("basic-settings-mode");
                } else {
                    $("body").removeClass("advanced-settings-mode");
                    $("body").addClass("basic-settings-mode");
                }
            }
            checkAdvancedSettingsMode($("#advanced-settings-mode").is(':checked'));
            $(document).ready(function() {
                $("#advanced-settings-mode").click(function() {
                    checkAdvancedSettingsMode($(this).is(':checked'));
                    $.ajax({
                        cache: false,
                        url: '@Url.Action("SaveMode", "FixedOrByCountryStateZip")',
                        type: 'post',
                        data: {value: $(this).is(':checked')},
                        dataType: 'json',
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Failed to save preferences.');
                        }
                    });
                });
            });
</script>

@Html.Partial("~/Plugins/Tax.FixedOrByCountryStateZip/Views/_FixedRate.cshtml")
@Html.Partial("~/Plugins/Tax.FixedOrByCountryStateZip/Views/_CountryStateZip.cshtml", Model)