@model IList<ManufacturerModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
    //page class
    Html.AppendPageCssClassParts("html-manufacturer-list-page");
}
<div class="page manufacturer-list-page">
    <div class="page-title panel-heading">
        <h1>@T("Manufacturers.List")</h1>
    </div>
    <div class="page-body">
        <div class="manufacturer-grid row">
            @if (Model.Count <= 3)
            {
                foreach (var item in Model)
                {
                    <div class="item-box col-xs-12 col-sm-4 col-md-4">
                        <div class="manufacturer-item product-category-item">
                            <div class="picture">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="product-img">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                                <div class="title">
                                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="manufacturer-slider" class="manufacturer-slider owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                    <div class="item-box col-xs-12 col-sm-12 col-md-12">
                        <div class="manufacturer-item product-category-item">
                            <div class="picture">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="product-img">
                                    <img class="owl-lazy" data-src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                                <div class="title">
                                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
