<div class="callout bg-gray-light no-margin">
    <ul style="padding: 0; margin: 0; list-style: none;">
        <li><strong>@T("SevenSpikes.ProductRibbons.Admin.AvailableProductTokens")</strong></li>
        <li>@Tokens.TokenOldPriceNewPriceDiffValue</li>
        <li>@Tokens.TokenOldPriceNewPriceDiffPercentage</li>
        <li>@Tokens.TokenProductQuantity</li>
        <li>@Tokens.TokenMaxDiscountValue</li>
        <li>@Tokens.TokenMaxDiscountPercentage</li>
        <li>@Tokens.TokenSpecialPriceExpiresIn</li>
    </ul>
</div>