@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-center-product-2">
    <div class="master-wrapper-cph-2">
        @Html.Widget("main_column_before")
        @RenderBody()
        @Html.Widget("main_column_after")
    </div>
</div>
<div class="master-wrapper-side-product">
    @if (IsSectionDefined("RightColumnProduct"))
    {
        @RenderSection("RightColumnProduct")
    }
    else
    {               
        @Html.Widget("left_side_column_before")
        <div class="clear">
        </div>          
        @Html.Action("InfoBlock", "Common")
        <div class="clear">
        </div>
        @Html.Action("NewsletterBox", "Newsletter")
        <div class="clear">
        </div>
        @Html.Action("PopularProductTags", "Catalog")
        <div class="clear">
        </div>
        @Html.Widget("left_side_column_after")
    }
</div>
