@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterBodyStartHtmlTag })
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
        //<![CDATA[
            AjaxCart.init('@Url.Action("AddProductToCart", "ShoppingCart")', '.header-links .cart-qty', '#flyout-cart');
          //]]>
        </script>
        @Html.Partial("_Notifications")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        @Html.Partial("Header")
        @Html.Partial("HeaderMenu")
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeContent })
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterContent })
        @Html.Action("EuCookieLaw", "Common")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeBodyEndHtmlTag })
