@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Infrastructure.DependencyManagement;
<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle(false)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("mobile_head_html_tag")
    @*custom css*@
    @Html.NopCssFiles(ResourceLocation.Head)
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @*do not handle links via ajax by default
    1. automatically update page URLs (for example, when adding a product to the cart
    2. process SSL redirections*@
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.1.1.min.js")"></script>
    @Html.NopScripts(ResourceLocation.Head)
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2012-->
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(ResourceLocation.Foot)
    @Html.NopScripts(ResourceLocation.Foot)
</body>
</html>
