@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Core.Infrastructure.DependencyManagement
@{
    //resources
    Html.AppendScriptParts(@Url.Content("~/Scripts/MicrosoftMvcAjax.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/MicrosoftAjax.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-1.7.1.min.js"));
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html @Html.Partial("LanguageAttributes") xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.NopTitle(true)</title>
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    @Html.NopCssFiles(ResourceLocation.Head)
    @Html.NopScripts(ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @*Favicon - upload upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.HeadHtmlTag })
</head>
<body>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterBodyStartHtmlTag })
    @RenderBody()
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeBodyEndHtmlTag })
    @Html.NopCssFiles(ResourceLocation.Foot)
    @Html.NopScripts(ResourceLocation.Foot)
</body>
</html>
