@{
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.7.1.min.js");
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle(false)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("mobile_head_html_tag")
    @*custom css*@
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @*do not handle links via ajax by default
    1. automatically update page URLs (for example, when adding a product to the cart
    2. process SSL redirections*@
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
            $.mobile.hashListeningEnabled = false;
        });
    </script>
    @*Fixing jQuery mobile mobileinit binding issue
    we should not bundle jquery.mobile.js and place it after mobileinit event*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.2.0.min.js")"></script>
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2013-->
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
