@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("mobile_body_start_html_tag_after")
<div data-role="page" data-theme="b" id="mainpage">
    <div data-role="header" data-position="inline">
        @*do not use @Html.Partial("Header")
            use sections right here so they can be overriden in the views*@
        @if (IsSectionDefined("topleftbutton"))
        {
            @RenderSection("topleftbutton")
        }
        else
        {
            <a href="@Url.RouteUrl("HomePage")" data-icon="home">@T("Common.Home")</a>
        }
        @*title*@
        <h1>@Html.NopTitle(false)</h1>
        @if (IsSectionDefined("toprightbutton"))
        {
            @RenderSection("toprightbutton")
        }
        else
        {
            @*<a href="#" data-rel="back" data-icon="back">Back</a>*@
            @Html.Action("ConfigButton", "Common")
        }
    </div>
    @if (IsSectionDefined("headerlinks"))
    {
        @RenderSection("headerlinks")
    }
    else
    {
        <div data-role="header" data-position="inline">
            @Html.Action("HeaderLinks", "Common")
        </div>
    }
    @Html.Widget("mobile_content_before")
    <div data-role="content">
        @Html.Partial("_Notifications")
        @RenderBody()
    </div>
    @Html.Widget("mobile_content_after")
    @if (IsSectionDefined("footer"))
    {
        @RenderSection("footer")
    }
    else
    {
        <div data-role="footer">
            @Html.Action("Footer", "Common")
        </div>
    }
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("mobile_body_end_html_tag_before")
