@model ProductsGroupItemAdminModel

@{
    string titleInputPlaceholder = T("SevenSpikes.SmartProductCollections.Admin.ProductsGroup.Title.Placeholder").ToString();
}
<div class="form-group row entity-id-wrapper">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label class="control-label" for="" title="">
                @T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.Category")
            </label>
            <div class="ico-help" title="@T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.EntityId.Hint")">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <select class="itemEntityId form-control" name="itemEntityId">
            @foreach (var type in Model.AvailableEntities)
            {
                <!option value="@(type.Value)" @if (Model.EntityId == int.Parse(type.Value)) { <text> selected="selected" </text>        }>@type.Text</!option>
            }
        </select>
    </div>
</div>

<div class="form-group row sort-method-wrapper">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label class="control-label" for="" title="">
                @T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.SortMethod")
            </label>
            <div class="ico-help" title="@T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.SortMethod.Hint")">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <select class="itemSortMethod form-control" name="itemSortMethod">
            @foreach (var type in Model.AvailableSortMethods)
            {
                <!option value="@(type.Value)" @if ((int)Model.SortMethod == int.Parse(type.Value)) { <text> selected="selected" </text>        }>@type.Text</!option>
            }
        </select>
    </div>
</div>

<div class="form-group row category-custom-collection-wrapper">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label class="control-label" for="" title="">
                @T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.EnableCategoryCustomCollection")
            </label>
            <div class="ico-help" title="@T("SevenSpikes.SmartProductCollections.Admin.ProductsGroupItem.EnableCategoryCustomCollection.Hint")">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input class="category-custom-collection" type="checkbox" @if (Model.EnableCategoryCustomCollection) { <text> checked="checked" </text> } data-itemid="@Model.Id" />
    </div>
</div>

<div class="category-group-tab-title-wrapper">
    @(await Html.LocalizedEditorAsync<ProductsGroupItemAdminModel, ProductsGroupItemLocalizedAdminModel>(string.Format("category-group-item-localized-title-{0}", Model.Id),
    @<div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].Title" />
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Locales[item].Title, new { @class = "group-item-title k-textbox", placeholder = titleInputPlaceholder })
            <span asp-validation-for="@Model.Locales[item].Title"></span>
        </div>
        <div>
            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
    </div>
    ,
    @<div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Title" />
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Title, new { @class = "group-item-title k-textbox", placeholder = titleInputPlaceholder })
            <span asp-validation-for="Title"></span>
        </div>
    </div>
))
</div>