@model XcellenceIT.Plugin.NopAcceleratePlus.Core.Models.SolrLogSearchModel
@{
    //page title
    ViewBag.Title = T("XcellenceIT.Plugin.NopAcceleratePlus.Core.Title.SolrLogs").Text;
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.NopAcceleratePlus.Core.SolrLogs");
}
@inject Nop.Core.IWebHelper webHelper

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.NopAcceleratePlus.Core.Fields.NopAccelerateCore") - @T("Plugins.NopAcceleratePlus.Core.Fields.SolrLogs")
    </h1>
    <div class="float-right">
        <button type="submit" id="delete-selected" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.System.Log.DeleteSelected")
        </button>
        <button type="submit" id="clearallsolrlog" name="clearallsolrlog" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.System.Log.ClearLog")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
        <nop-action-confirmation asp-button-id="clearallsolrlog" />
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.LogListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                            Name = "solrLog-grid",
                            UrlRead = new DataUrl("SolrLogList", "NopAcceleratePlusCore", null),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                             {
                                new ColumnProperty(nameof(SolrLogModel.Id))
                                 {
                                     IsMasterCheckBox = true,
                                     Render = new RenderCheckBox("checkbox_products"),
                                     ClassName =  NopColumnClassDefaults.CenterAll,
                                     Width = "50",
                                 },
                                 new ColumnProperty(nameof(SolrLogModel.ShortMessage))
                                 {
                                     Title = T("Plugins.NopAcceleratePlus.Core.Fields.ShortMessage").Text,
                                     Width = "400"
                                 },
                                 new ColumnProperty(nameof(SolrLogModel.CreatedOn))
                                 {
                                     Title = T("Plugins.NopAcceleratePlus.Core.Fields.CreatedOn").Text,
                                     Width = "150",
                                     Render = new RenderDate()
                                 },
                                 new ColumnProperty(nameof(SolrLogModel.Id))
                                {
                                    Title = T("Admin.Common.View").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonView(new DataUrl("View"))
                                },
                             }
                        })
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("NopAcceleratePlusCoreVersion")
</div>
<!-- Kendo Grid of Solr Log -->
<script type="text/javascript">
    var selectedIds = [];
    $(document).ready(function () {

        //"delete selected" button
        $('#delete-selected-action-confirmation-submit-button').click(function (e) {
            e.preventDefault();
            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);
            var requestUrl = '@Url.Action("DeleteSelectedSolrLog", "NopAcceleratePlusCore")';
            $.ajax({
                cache: false,
                type: "POST",
                url: requestUrl,
                data: postData,
                complete: function (data) {
                    $('#solrLog-grid').DataTable().ajax.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            $('#delete-selected-action-confirmation').modal('toggle');
            return false;
        });

        $('#clearallsolrlog-action-confirmation-submit-button').click(function (e) {
            e.preventDefault();
            var requestUrl = '@Url.Action("DeleteAll", "NopAcceleratePlusCore")';
            $.ajax({
                cache: false,
                type: "GET",
                url: requestUrl,
                complete: function (data) {
                    //reload grid
                    $('#solrLog-grid').DataTable().ajax.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            $('#clearallsolrlog-action-confirmation').modal('toggle');
            return false;
        });
    });
</script>