@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("mobile_home_page_top")
        @*product search box*@
        @Html.Action("SearchBox", "Catalog")
        @*logo*@
        <div class="homepage-logo">
            &nbsp;</div>
        @*categories*@
        @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = 0, currentProductId = 0 })
        @*manufacturers*@
        @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = 0 })
        @*home page products*@ @*uncomment the line below to show home page featured products*@
        @*@Html.Action("HomepageProducts", "Catalog")*@
        @Html.Widget("mobile_home_page_bottom")
    </div>
</div>
