@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")

        @await Component.InvokeAsync("WidgetsByZone", new { widgetZone = "home_page_top" })

        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        @await Component.InvokeAsync("HomepageCategories")
        @Html.Widget("home_page_before_products")
        @await Component.InvokeAsync("HomepageProducts")
        @Html.Widget("home_page_before_best_sellers")
        @await Component.InvokeAsync("HomepageBestSellers")
        @Html.Widget("home_page_before_news")
        @await Component.InvokeAsync("HomepageNews")
        @Html.Widget("home_page_before_poll")
        @await Component.InvokeAsync("HomepagePolls")
        @Html.Widget("home_page_bottom")
    </div>
</div>
