@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
<div class="clear">
</div>
@Html.Action("HomepageCategories", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageProducts", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageBestSellers", "Catalog")
<div class="clear">
</div>
@Html.Action("HomePageNews", "News")
<div class="clear">
</div>
@Html.Action("HomePagePolls", "Poll")