@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        @await Component.InvokeAsync("HomepageCategories")
        @Html.Widget("home_page_before_products")
        @await Component.InvokeAsync("HomepageProducts")
        @Html.Widget("home_page_before_best_sellers")
        @*TODO @Html.Action("HomepageBestSellers", "Product")*@
        @Html.Widget("home_page_before_news")
        @*TODO @Html.Action("HomePageNews", "News")*@
        @Html.Widget("home_page_before_poll")
        @*TODO @Html.Action("HomePagePolls", "Poll")*@
        @Html.Widget("home_page_bottom")
    </div>
</div>
