@model ConfigurationModel

<script>
    $(function () {
        //$("#progressBar").hide();
        if (@((ViewData["synchronizationStart"] != null && (bool)ViewData["synchronizationStart"]).ToString().ToLowerInvariant())) {
            $("#progressBar").show();
            refresh();
        }
    });

    function refresh() {
        setTimeout(function () {
            $.get('@(Url.Action("GetSynchronizationInfo", "Brevo"))', function (data) {
                if (!data) {
                    refresh();
                }
                else {
                    $('#synchronizationInfo').text(data);
                    $("#progressBar").hide();
                }
            });
        }, 3000);
    };

</script>

<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
            <p>
                From the dropdown list below, select the Brevo list where your nopCommerce newsletter subscribers and their data will be added.<br />
            </p>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <a href="https://get.brevo.com/ypp8fp" class="btn btn-primary" target="_blank">Create a list</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ListId_OverrideForStore" asp-input="ListId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ListId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ListId" asp-items="Model.AvailableLists" />
                    <span asp-validation-for="ListId"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" name="saveSync" class="btn btn-primary">@T("Admin.Common.Save")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-header">
            @T("Plugins.Misc.Brevo.ManualSync")
        </div>
        <div class="card-body">
            <p>
                For full integration with the service, you need to perform data synchronization.
            </p>
            <p>
                <strong>Note:</strong>
                Manual synchronization should be performed only once, with multiple synchronization. Further synchronization will go automatically by events and will not require the participation of an administrator.
            </p>
            <p>
                For full integration with the service, you need to perform data synchronization. For your convenience, synchronization is divided into few blocks:
            </p>
            <ul>
                <li><strong>@T("Plugins.Misc.Brevo.SyncContacts")</strong> - Performs synchronization of customers who have subscribed to the Newsletter</li>
                <li><strong>@T("Plugins.Misc.Brevo.SyncProducts")</strong> - Performs category and product synchronization</li>
                <li><strong>@T("Plugins.Misc.Brevo.SyncOrders")</strong> - Performs synchronization of existing orders</li>
            </ul>
            <p>
                The integration of categories and products as well as order orders is only available if the  <strong>Use eCommerce</strong> setting is activated.
            </p>
            <p>
                All available objects (published and !deleted) participate in synchronization.
            </p>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="UseEcommerce" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="UseEcommerce" />
                    <span asp-validation-for="UseEcommerce"></span>
                </div>
            </div>
            <nop-nested-setting asp-for="UseEcommerce">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SyncProducts_OverrideForStore" asp-input="SyncProducts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SyncProducts" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SyncProducts" />
                        <span asp-validation-for="SyncProducts"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SyncOrders_OverrideForStore" asp-input="SyncOrders" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SyncOrders" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SyncOrders" />
                        <span asp-validation-for="SyncOrders"></span>
                    </div>
                </div>
            </nop-nested-setting>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" name="saveEcommerce" class="btn btn-primary">@T("Admin.Common.Save")</button>
                </div>
            </div>
            <div id="synchronizationInfo" style="white-space: pre-line"></div>
            <div class="progressBar">
                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" name="sync-contacts" class="btn btn-primary">
                @T("Plugins.Misc.Brevo.SyncContacts")
            </button>
            @if (Model.UseEcommerce)
            {
                @if(Model.SyncProducts)
                {
                    <button type="submit" name="sync-products" class="btn btn-primary">
                        @T("Plugins.Misc.Brevo.SyncProducts")
                    </button>
                }
                @if (Model.SyncOrders)
                {
                    <button type="submit" name="sync-orders" class="btn btn-primary">
                        @T("Plugins.Misc.Brevo.SyncOrders")
                    </button>
                }
            }
        </div>
    </div>
</div>
