@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<link rel="stylesheet" href="~/Plugins/Misc.Brevo/Content/styles.css" />

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="Brevo" asp-action="Configure" method="post">
    <nop-cards id="brevo-cards">
        <nop-card asp-name="brevo-general" asp-icon="fas fa-info" asp-title="@T("Plugins.Misc.Brevo.General")" asp-hide-block-attribute-name="@BrevoDefaults.HideGeneralBlock" asp-hide="@Model.HideGeneralBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.Brevo/Views/_General.cshtml", Model)</nop-card>
        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <nop-card asp-name="brevo-synchronization" asp-icon="fas fa-exchange-alt" asp-title="@T("Plugins.Misc.Brevo.Synchronization")" asp-hide-block-attribute-name="@BrevoDefaults.HideSynchronizationBlock" asp-hide="@Model.HideSynchronizationBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.Brevo/Views/_Synchronization.cshtml", Model)</nop-card>
            <nop-card asp-name="brevo-transactional" asp-icon="fas fa-envelope" asp-title="@T("Plugins.Misc.Brevo.Transactional")" asp-hide-block-attribute-name="@BrevoDefaults.HideTransactionalBlock" asp-hide="@Model.HideTransactionalBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.Brevo/Views/_TransactionalEmails.cshtml", Model)</nop-card>
            <nop-card asp-name="brevo-sms" asp-icon="fas fa-envelope" asp-title="@T("Plugins.Misc.Brevo.SMS")" asp-hide-block-attribute-name="@BrevoDefaults.HideSmsBlock" asp-hide="@Model.HideSmsBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.Brevo/Views/_Sms.cshtml", Model)</nop-card>
            <nop-card asp-name="brevo-ma" asp-icon="fas fa-star" asp-title="@T("Plugins.Misc.Brevo.MarketingAutomation")" asp-hide-block-attribute-name="@BrevoDefaults.HideMarketingAutomationBlock" asp-hide="@Model.HideMarketingAutomationBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.Brevo/Views/_MarketingAutomation.cshtml", Model)</nop-card>
        }
    </nop-cards>
</form>