@model TaxProviderSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Tax.Providers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tax providers");
}

<nop-antiforgery-token />

<form asp-controller="Tax" asp-action="Providers" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Tax.Providers")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.TaxProviderListButtons })
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.Configuration.Tax.Providers.DownloadMorePlugins")
                        </p>
                        @await Html.PartialAsync("Table", Model.Grid)
                        <script>
                            function renderColumnSystemName(data, type, row, meta) {
                                return '<a href="@Url.Content("~/Admin/Tax/MarkAsPrimaryProvider/")?systemName=' + row.SystemName +'" class="btn bg-green">@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")</a>';
                            }

                            function renderColumnConfigure(data, type, row, meta) {
                                if (row.ConfigurationUrl && row.ConfigurationUrl.length > 0) {
                                    return '<a class="btn btn-default" href="' + row.ConfigurationUrl + '"><i class="fa fa-cog"></i>@T("Admin.Configuration.Tax.Providers.Configure")</a>';
                                } else {
                                    return '';
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


