@model CategoryMappingListModel
@inject AdminAreaSettings adminAreaSettings

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="categories-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#categories-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GridList", "CategoryMappingsAdmin", new { entityId = Model.EntityId, entityType = Model.EntityType }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("Update", "CategoryMappingsAdmin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("Delete", "CategoryMappingsAdmin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        CategoryName: { editable: false, type: "string" },
                                        DisplayOrder: { editable: true, type: "number" },
                                        CategoryId: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                if (e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CategoryName",
                            editable: false,
                            type: "string",
                            title: "@T("Admin.Catalog.Categories.Fields.Name")"
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.Catalog.Categories.Fields.DisplayOrder")",
                            //integer format
                            format: "{0:0}",
                            width: 150
                        }, {
                            field: "CategoryId",
                            title: "@T("Admin.Common.View")",
                            width: 100,
                            template: '<a href="@Url.Content("~/Admin/Category/Edit/")#=CategoryId#">@T("Admin.Common.View")</a>'
                        }, {
                            command: [{
                                name: "edit",
                                text: "@T("Admin.Common.Edit")"
                            }, {
                                name: "destroy",
                                text: "@T("Admin.Common.Delete")"
                            }],
                            width: 200
                        }]
                    });
                });
            </script>
        </div>
        <div class="panel-footer">
            <button type="submit" id="btnAddNewCategory"
                    onclick="javascript:OpenWindow('@(Url.Action("CategoryAddPopup", "CategoryMappingsAdmin", new { entityId = Model.EntityId, entityType = Model.EntityType, btnId = "btnRefreshCategoryMappings" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Categories.AddNew")
            </button>
            <input type="submit" id="btnRefreshCategoryMappings" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshCategoryMappings').click(function () {
                        //refresh grid
                        var grid = $("#categories-grid").data('kendoGrid');
                        grid.dataSource.read();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
