
<script asp-location="Footer">
    $(function() {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').on('click', function () {
            var postData = {};
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                data: postData,
                url: "@Url.RouteUrl("EuCookieLawAccept")",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    $('#eu-cookie-bar-notification').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        <div class="text">@T("EUCookieLaw.Description2")</div>
        <div class="buttons-more">
            <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("Common.OK")</button>
            <a class="learn-more" href="@Url.RouteTopicUrl("privacyinfo")">@T("EUCookieLaw.LearnMore")</a>
        </div>
    </div>
</div>