@model int
@{
    var clientId = "picture" + new Random().Next();
    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
}
<div id="@(clientId + "value")">
    @Html.HiddenFor(x => x)
</div>
<div id="@(clientId + "image")">
    <img src="@(pictureService.GetPictureUrl(Model, 100, true))" />
</div>
<span id="@(clientId + "remove")" class="t-button">Remove picture</span><br />
<input type="file" id="@clientId"/>
<script type="text/javascript">
    $(function () {
        $(function () {
            $("#@clientId").uploadify({
                "uploader": "@(Url.Content("~/Content/Flash/uploadify.swf"))",
                "script": "/Admin/Picture/AsyncUpload",
                "multi": "false",
                "auto": true,
                "buttonText": "Upload",
                "cancelImg": "http://www.uploadify.com/uploadify/cancel.png",
                "onComplete": function (event, ID, fileObj, response, data) {
                    var json = jQuery.parseJSON(response);
                    $("#@(clientId + "image")").html("<img src='" + json.imageUrl + "'/>");
                    $("#@(clientId + "value") input").val(json.pictureId);
                }
            });

            $("#@(clientId + "remove")").click(function(e){
                $("#@(clientId + "image")").html("<img src='@pictureService.GetDefaultPictureUrl()'/>");
                $("@(clientId + "value") input").val(0);
            });

        });
    });
</script>
