@using Nop.Core.Domain.Customers
@using Nop.Core.Domain.Localization
@using Nop.Web.Framework.UI;
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Media
@using Nop.Services.Common
@using Nop.Services.Customers
@using Nop.Services.Media
@using Nop.Services.Security;

@{
    var currentCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
    var avatarUrl = EngineContext.Current.Resolve<IPictureService>()
        .GetPictureUrl(currentCustomer.GetAttribute<int>(SystemCustomerAttributeNames.AvatarPictureId),
        160, true, defaultPictureType: PictureType.Avatar);

    var kendoVersion = "2014.1.318";
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl &&
        !EngineContext.Current.Resolve<LocalizationSettings>().IgnoreRtlPropertyForAdminArea;


    //CSS resources
    //if (supportRtl)
    //{
    //    Html.AppendCssFileParts("~/Administration/Content/styles.rtl.css");
    //}
    //else
    //{
    Html.AppendCssFileParts("~/Administration/Content/styles.css");
    //}
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");

    Html.AppendCssFileParts("~/Administration/Content/fontAwesome/font-awesome-4.4.0.min.css");
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins. Folder instead of downloading all of them to reduce the load. -->
    Html.AppendCssFileParts("~/Administration/Content/adminLTE/skins/_all-skins.min.css");
    Html.AppendCssFileParts("~/Administration/Content/adminLTE/AdminLTE-2.3.0.min.css");
    Html.AppendCssFileParts("~/Administration/Content/bootstrap/bootstrap-3.3.5.min.css");


    Html.AppendScriptParts(string.Format("~/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/adminLTE/app.min.js");
    Html.AppendScriptParts("~/Scripts/bootstrap/bootstrap-3.3.4.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");


    //page title
    string adminPageTitle = "";
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += T("Admin.PageTitle").Text;

    //has "Manage Maintenance" permission?
    var canManageMaintenance = EngineContext.Current.Resolve<IPermissionService>()
        .Authorize(StandardPermissionProvider.ManageMaintenance);

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }

    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    //info: we specify "Admin" area for actions and widgets here for cases when we use this layout in a plugin that is running in a different area than "admin"
}
<!DOCTYPE html>
<html @(supportRtl ? Html.Raw("dir=\"rtl\"") : null)>
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Html.NopHeadCustom()
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @*<div id="ajaxBusy">
        <span>&nbsp;</span>
    </div>*@
    <div class="wrapper">
        @if (IsSectionDefined("header"))
        {
            @RenderSection("header")
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#restart-application").click(function (e) {
                        showThrobber('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Admin.Header.RestartApplication.Progress").Text))');
                    });
                });
            </script>

                <div class="main-header">
                    <a href="@Url.Content("~/admin")" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"></span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"></span>
                    </a>
                    @Html.Widget("admin_header_before", area: "Admin")
                    <div class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li>
                                    @Html.Action("LanguageSelector", "Common", new { area = "Admin" })
                                </li>
                                @if (currentCustomer.IsRegistered())
                                {
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="@avatarUrl" class="user-image" alt="">
                                            <span class="hidden-xs">@currentCustomer.GetFullName()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <!-- User image -->
                                            <li class="user-header">
                                                <img src="@avatarUrl" class="img-circle" alt="">
                                                <p>
                                                    @currentCustomer.GetFullName()
                                                    <small>@currentCustomer.Email</small>
                                                </p>
                                            </li>
                                            <!-- Menu Footer-->
                                            <li class="user-footer">
                                                <div class="pull-left">
                                                    <a href="@Url.Action("Edit", "Customer", new {id = currentCustomer.Id})" class="btn btn-default btn-flat">Profile</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="@Url.Action("Logout", "Customer", new {area = ""}, null)" class="btn btn-default btn-flat">@T("Admin.Header.Logout")</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                <li>
                                    @Html.Widget("admin_header_middle", area: "Admin")
                                </li>
                                @if (canManageMaintenance)
                                {
                                    <li>
                                        <a href="@webHelper.ModifyQueryString(Url.Action("ClearCache", "Common", new RouteValueDictionary {{"area", "Admin"}}), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)">
                                            <span>@T("Admin.Header.ClearCache")</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="restart-application" href="@webHelper.ModifyQueryString(Url.Action("RestartApplication", "Common", new RouteValueDictionary {{"area", "Admin"}}), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)">
                                            <span>@T("Admin.Header.RestartApplication")</span>
                                            @*<i class="fa fa-gears"></i>*@
                                        </a>
                                    </li>
                                }
                                <li>
                                    <span class="public-store">
                                        <a href="@Url.Action("Index", "Home", new {area = ""})">
                                            @T("Admin.Header.PublicStore")
                                        </a>
                                    </span>
                                </li>
                                <li>
                                    @Html.Widget("admin_header_after", area: "Admin")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        }
        @if (IsSectionDefined("headermenu"))
            {
            @RenderSection("headermenu")
        }
        else
        {
            <div class="main-sidebar">
                <div class="sidebar">
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    @Html.Partial("Menu")
                </div>
            </div>
        }

        <div class="content-wrapper">
            @Html.Partial("Notifications")
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>

