@model Nop.Web.Framework.Mvc.DeleteConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">@T("Admin.Common.AreYouSure")</h4>
        </div>
        @using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }))
        {
            <div class="form-horizontal">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @T("Admin.Common.DeleteConfirmation")
                </div>
                <div class="modal-footer">
                    <span class="btn btn-default" data-dismiss="modal">@T("Admin.Common.NoCancel")</span>
                    <button type="submit" class="btn btn-primary pull-right">
                        @T("Admin.Common.Delete")
                    </button>
                </div>
            </div>
        }
    </div>
</div>
