@using Nop.Web.Framework.Menu;
@{
    //load sitemap
    var siteMap = new Nop.Web.Framework.Menu.XmlSiteMap();
    siteMap.LoadFrom("~/Administration/sitemap.config");
}
@helper RenderMenuItem(Nop.Web.Framework.Menu.SiteMapNode item)
{
    string url = null;
    if (!string.IsNullOrEmpty(item.ControllerName) && !string.IsNullOrEmpty(item.ActionName))
    {
        url = Url.Action(item.ActionName, item.ControllerName, item.RouteValues, null, null);
    }
    else if (!string.IsNullOrEmpty(item.Url))
    {
        url = item.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(item.Url) : item.Url;
    }
    <li>
        @if (!String.IsNullOrEmpty(url))
        {
            <a href="@url">
                @if (!String.IsNullOrEmpty(item.ImageUrl))
                {
                    <text>
                        <img alt="" src="@Url.Content(item.ImageUrl)" />
                    </text>
                }
                @item.Title
            </a>
        }
        else
        {
            if (!String.IsNullOrEmpty(item.ImageUrl))
            {
                <text>
                    <img alt="" src="@Url.Content(item.ImageUrl)" />
                </text>
            }
            @item.Title
        }
        @{
            var childNodes = item.ChildNodes.Where(x => x.Visible).ToList();
        }
        @if (childNodes.Any())
        {
            <ul>
                @foreach (var childItem in childNodes)
                {
                    @RenderMenuItem(childItem)
                }
            </ul>
        }
    </li>
}

<ul id="admin-menu">
    @*standard (default) items*@
    @foreach (var item in siteMap.RootNode.ChildNodes.Where(x => x.Visible))
    {
        @RenderMenuItem(item)
    }
    @*plugin items*@
    @{
        var adminMenuPlugins = EngineContext.Current.Resolve<Nop.Core.Plugins.IPluginFinder>()
            .GetPlugins<IAdminMenuPlugin>()
            .ToList();

        var pluginMenuItems = new List<Nop.Web.Framework.Menu.SiteMapNode>();
        foreach (var adminMenuPlugin in adminMenuPlugins)
        {
            var pluginMenuItem = adminMenuPlugin.BuildMenuItem();
            if (pluginMenuItem.Visible)
            {
                pluginMenuItems.Add(pluginMenuItem);
            }
        }
        if (pluginMenuItems.Any())
        {
            var pluginRootMenuItem = new Nop.Web.Framework.Menu.SiteMapNode
            {
                Title = T("Admin.Plugins").Text,
                Visible = true
            };
            foreach (var pluginMenuItem in pluginMenuItems)
            {
                pluginRootMenuItem.ChildNodes.Add(pluginMenuItem);
            }
            @RenderMenuItem(pluginRootMenuItem)
        }
    }
</ul>
<script>
    $(document).ready(function() {
        $("#admin-menu").kendoMenu();
    });
</script>