@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core;
@using Nop.Core.Infrastructure;
@using SevenSpikes.Nop.Plugins.InstantSearch.Models;

@model InstantSearchModel

@{
    /*
    Kendo UI specific css files.
    kendo.common.min.css - it contains common kendo styles
    kendo.default.min.css - it contains deafult kendo theme specific styles. You can use the kendo theme builder for new themes - http://demos.kendoui.com/themebuilder/index.html
    */

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Themes/" + Model.Theme + "/Content/InstantSearch.css");

    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Themes/" + Model.Theme + "/Content/InstantSearch.rtl.css");
    }

    Html.AddScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.core.min.js");
    Html.AddScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.data.min.js");
    Html.AddScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.popup.min.js");
    Html.AddScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.list.min.js");
    Html.AddScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.autocomplete.min.js");

    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Scripts/InstantSearch.min.js");
}

@if (Model.TopLevelCategories.Count > 0)
{
    @Html.Partial("TopLevelCategoriesDropDown", @Model.TopLevelCategories)
}
else if (Model.Manufacturers.Count > 0)
{
    @Html.Partial("ManufacturersDropDown", @Model.Manufacturers)
}
else if (Model.Vendors.Count > 0)
{
    @Html.Partial("VendorsDropDown", @Model.Vendors)
}


<input type="hidden" class="instantSearchResourceElement"
       data-highlightFirstFoundElement="@Model.HighlightFirstFoundElementToBeSelected.ToString().ToLowerInvariant()"
       data-minKeywordLength="@Model.MinKeywordLength"
       data-instantSearchUrl="@Url.RouteUrl("InstantSearch")"
       data-homePageUrl="@Url.RouteUrl("HomePage")"
       data-searchInProductDescriptions="@Model.SearchInProductDescriptions.ToString().ToLowerInvariant()"
       data-numberOfVisibleProducts="@Model.NumberOfVisibleProducts" />

@* You can change the whole html by modifying the template below without the main div element as it is used in the navigation.
    There is NO need to add anchor html elements(<a href..) as the navigation is handled automaticaly when an item is selected.
    You can use the following tokens to get the information retuned from the server:
    ${ data.ProductPageUrl } - contains the url of the product page i.e /p/7. This property is required for the navigation to work and should not be removed from the template!!!
    ${ data.ProductName } - contains the name of the product
    ${ data.DefaultPictureUrl } - contains the Url of the default product picture
    ${ data.ProductPrice } - contains the price of the product
*@
<script id="instantSearchItemTemplate" type="text/x-kendo-template">
    <div class="instant-search-item" data-url="${ data.CustomProperties.Url }">
        <div class="img-block">
            <img src="${ data.DefaultPictureModel.ImageUrl }" alt="${ data.Name }" title="${ data.Name }" style="border: none">
        </div>
        <div class="detail">
            <div class="title">${ data.Name }</div>
            @if (Model.ShowSku)
            {
                <div class="sku"># var sku = ""; if (data.CustomProperties.Sku != null) { sku = "@T("Products.Sku"): " + data.CustomProperties.Sku } # #= sku #</div>
            }
            <div class="price"># var price = ""; if (data.ProductPrice.Price) { price = data.ProductPrice.Price } # #= price #</div>           
        </div>
    </div>
</script>