@model Nop.Plugin.Shipping.CanadaPost.Models.CanadaPostShippingModel
@{

    Layout = "_ConfigurePlugin";
}

<form asp-controller="ShippingCanadaPost" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Shipping.CanadaPost.Instructions"))
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomerNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CustomerNumber" />
                        <span asp-validation-for="CustomerNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ContractId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ContractId" />
                        <span asp-validation-for="ContractId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AvailableServices" />
                    </div>
                    <div class="col-md-9">
                        <script type="text/javascript">
                            function toggleSelectAll(source) {
                                var checkboxes = document.querySelectorAll('input[type=checkbox][name=SelectedServicesCodes]');
                                for (var i = 0; i < checkboxes.length; i++) {
                                    if (checkboxes[i] != source)
                                        checkboxes[i].checked = source.checked;
                                }
                            }
                        </script>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" onclick="toggleSelectAll(this);" />All
                            </label>
                        </div>
                        @foreach (var service in Model.AvailableServices)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedServicesCodes" value="@service.Value" checked="@service.Selected" />
                                    @service.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>