@model QueuedEmailModel

@{
    //page title
    ViewBag.Title = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Queued emails");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.System.QueuedEmails.EditQueuedEmailDetails")
            <small>@Html.ActionLink("(" + T("Admin.System.QueuedEmails.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="requeue" class="btn bg-green" value="@T("Admin.System.QueuedEmails.Requeue")" />
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")" />
            <span id="queuedEmail-delete" class="btn bg-red">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("queuedEmail-delete")
