@model ProductAvailabilityRangeModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Shipping.ProductAvailabilityRanges.EditProductAvailabilityRangeDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Dates and ranges");
}


<form asp-controller="Shipping" asp-action="EditProductAvailabilityRange" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Shipping.ProductAvailabilityRanges.EditProductAvailabilityRangeDetails") - @Model.Name 
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="DatesAndRanges">@T("Admin.Configuration.Shipping.ProductAvailabilityRanges.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="product-availability-range-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductAvailabilityRangeDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateProductAvailabilityRange", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="product-availability-range-delete" asp-action="DeleteProductAvailabilityRange" />
