@model WarehouseModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Shipping.Warehouses.EditWarehouseDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Warehouses");
}

<form asp-controller="Shipping" asp-action="EditWarehouse" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Shipping.Warehouses.EditWarehouseDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Warehouses">@T("Admin.Configuration.Shipping.Warehouses.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="warehouse-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.WarehouseDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateWarehouse", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="warehouse-delete" asp-action="DeleteWarehouse" />
