@model ShippingMethodModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.Methods.EditMethodDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Shipping providers");
}


<form asp-controller="Shipping" asp-action="EditMethod" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Shipping.Methods.EditMethodDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Methods">@T("Admin.Configuration.Shipping.Methods.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="method-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_shipping_method_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateMethod", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="method-delete" asp-action="DeleteMethod" />