@model ProductDetailsModel

@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Vendors

<div class="additional-details">
    @*SKU*@
    @if ((!string.IsNullOrWhiteSpace(Model.Sku) || Model.ManageInventoryMethod == ManageInventoryMethod.ManageStockByAttributes) && Model.ShowSku)
    {
        <div class="sku" @(string.IsNullOrWhiteSpace(Model.Sku) ? Html.Raw("style=\"display:none\"") : null)>
            <span class="label">@T("Products.Sku"):</span>
            <span class="value" id="sku-@Model.Id">@Model.Sku</span>
        </div>
    }
    @*Manufacturer part number*@
    @if ((!string.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) || Model.ManageInventoryMethod == ManageInventoryMethod.ManageStockByAttributes) && Model.ShowManufacturerPartNumber)
    {
        <div class="manufacturer-part-number" @(string.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) ? Html.Raw("style=\"display:none\"") : null)>
            <span class="label">@T("Products.ManufacturerPartNumber"):</span>
            <span class="value" id="mpn-@Model.Id">@Model.ManufacturerPartNumber</span>
        </div>
    }
    @*GTIN*@
    @if ((!string.IsNullOrWhiteSpace(Model.Gtin) || Model.ManageInventoryMethod == ManageInventoryMethod.ManageStockByAttributes) && Model.ShowGtin)
    {
        <div class="gtin" @(string.IsNullOrWhiteSpace(Model.Gtin) ? Html.Raw("style=\"display:none\"") : null)>
            <span class="label">@T("Products.GTIN"):</span>
            <span class="value" id="gtin-@Model.Id">@Model.Gtin</span>
        </div>
    }
    @*Vendor*@
    @if (Model.ShowVendor)
    {
        <div class="product-vendor">
            <span class="label">@T("Products.Vendor"):</span>
            <span class="value"><a href="@(Url.RouteUrl<Vendor>(new { SeName = Model.VendorModel.SeName }))">@Model.VendorModel.Name</a></span>
        </div>
    }
</div>