@model LanguageModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Languages.EditLanguageDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Languages.EditLanguageDetails") - @Model.Name 
            <small>@Html.ActionLink("(" + T("Admin.Configuration.Languages.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <a href="@Url.Action("ExportXml", new { id = Model.Id })" class="btn btn-default">@T("Admin.Configuration.Languages.Export")</a>
            <input type="button" id="importxml" class="btn btn-default" value="@T("Admin.Configuration.Languages.Import")" />
            <span id="language-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("language-delete")


@*import resources form*@
<div id="importxml-window" style="display:none;">
    @using (Html.BeginForm("ImportXml", "Language", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align: left;">
            <tr class="form-group">
                <td>
                    @T("Admin.Configuration.Languages.XmlFile"):
                </td>
                <td>
                    <input type="file" id="importxmlfile" name="importxmlfile" />
                </td>
            </tr>
            <tr class="form-group">
                <td colspan="2">
                    <strong>@T("Admin.Configuration.Languages.XmlFile.Note1")</strong>
                    <br />
                    <strong>@T("Admin.Configuration.Languages.XmlFile.Note2")</strong>
                </td>
            </tr>
            <tr class="form-group">
                <td colspan="2">
                    <input id="importxmlsubmit" type="submit" class="btn btn-default" value="@T("Admin.Configuration.Languages.Import")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#importxml").click(function (e) {
            e.preventDefault();
            var window = $("#importxml-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Configuration.Languages.Import")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>