@model LanguageModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Languages.EditLanguageDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Languages.EditLanguageDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Configuration.Languages.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <a href="@Url.Action("ExportXml", new { id = Model.Id })" class="k-button">@T("Admin.Configuration.Languages.Export")</a>
            <input type="button" id="importxml" class="k-button" value="@T("Admin.Configuration.Languages.Import")" />
            <span id="language-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("language-delete")


@*import resources form*@
<div id="importxml-window" style="display:none;">
    @using (Html.BeginForm("ImportXml", "Language", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align: left;">
            <tr>
                <td>
                    @T("Admin.Configuration.Languages.XmlFile"):
                </td>
                <td>
                    <input type="file" id="importxmlfile" name="importxmlfile" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>@T("Admin.Configuration.Languages.XmlFile.Note1")</strong>
                    <br />
                    <strong>@T("Admin.Configuration.Languages.XmlFile.Note2")</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="importxmlsubmit" type="submit" class="k-button" value="@T("Admin.Configuration.Languages.Import")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#importxml").click(function (e) {
            e.preventDefault();
            var window = $("#importxml-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Configuration.Languages.Import")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>