@model AffiliateModel

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.AffiliateDetailsOrdersTop, additionalData = Model })
    <div class="panel panel-default panel-search">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.StartDate" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="AffiliatedOrderSearchModel.StartDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.EndDate" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="AffiliatedOrderSearchModel.EndDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.OrderStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.OrderStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailableOrderStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.PaymentStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.PaymentStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailablePaymentStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.ShippingStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.ShippingStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailableShippingStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="button" id="search-orders" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="orders-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#orders-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("AffiliatedOrderListGrid", "Affiliate"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            AffliateId: '@(Model.Id)',
                                            StartDate: $('#@Html.IdFor(model => model.AffiliatedOrderSearchModel.StartDate)').val(),
                                            EndDate: $('#@Html.IdFor(model => model.AffiliatedOrderSearchModel.EndDate)').val(),
                                            OrderStatusId: $('#@Html.IdFor(model => model.AffiliatedOrderSearchModel.OrderStatusId)').val(),
                                            PaymentStatusId: $('#@Html.IdFor(model => model.AffiliatedOrderSearchModel.PaymentStatusId)').val(),
                                            ShippingStatusId: $('#@Html.IdFor(model => model.AffiliatedOrderSearchModel.ShippingStatusId)').val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(Model.AffiliatedOrderSearchModel.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(Model.AffiliatedOrderSearchModel.AvailablePageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CustomOrderNumber",
                            title: "@T("Admin.Affiliates.Orders.CustomOrderNumber")",
                            width: 200
                        }, {
                            field: "OrderStatus",
                            title: "@T("Admin.Affiliates.Orders.OrderStatus")",
                            template: '<span class="grid-report-item ' +
                                                    '# if(OrderStatusId == 10) {# yellow #} #' +
                                                    '# if(OrderStatusId == 20) {# blue #} #' +
                                                    '# if(OrderStatusId == 30) {# green #} #' +
                                                    '# if(OrderStatusId == 40) {# red #} #' +
                                                    '">#=OrderStatus#</span>'
                        }, {
                            field: "PaymentStatus",
                            title: "@T("Admin.Affiliates.Orders.PaymentStatus")"
                        },{
                            field: "ShippingStatus",
                            title: "@T("Admin.Affiliates.Orders.ShippingStatus")"
                        },{
                            field: "OrderTotal",
                            title: "@T("Admin.Affiliates.Orders.OrderTotal")"
                        },{
                            field: "CreatedOn",
                            title: "@T("Admin.Affiliates.Orders.CreatedOn")",
                            type: "date",
                            format: "{0:G}"
                        },{
                            field: "Id",
                            title: "@T("Admin.Common.View")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Order/Edit/")#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                        }]
                    });
                });
            </script>

            <script>
                var selectedIds = [];
                var reportAggregates = "";

                $(document).ready(function () {
                    //search button
                    $('#search-orders').click(function () {
                        //search
                        var grid = $('#orders-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });
            </script>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.AffiliateDetailsOrdersBottom, additionalData = Model })
</div>