@model ReviewTypeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductReviewTypeTop, additionalData = Model })
                <div class="card card-default">
                    <div class="card-body">
                        @(await Html.LocalizedEditorAsync<ReviewTypeModel, ReviewTypeLocalizedModel>("review-type-localized",
                                @<div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-label asp-for="@Model.Locales[item].Name" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="@Model.Locales[item].Name" />
                                            <span asp-validation-for="@Model.Locales[item].Name"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-label asp-for="@Model.Locales[item].Description" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                                            <span asp-validation-for="@Model.Locales[item].Description"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                </div>
      ,
                                                @<div>
                                                    <div class="form-group row">
                                                        <div class="col-md-3">
                                                            <nop-label asp-for="Name" />
                                                        </div>
                                                        <div class="col-md-9">
                                                            <nop-editor asp-for="Name" asp-required="true" />
                                                            <span asp-validation-for="Name"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-3">
                                                            <nop-label asp-for="Description" />
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="input-group-append input-group-required">
                                                                <div class="input-group">
                                                                    <nop-editor asp-for="Description" asp-template="RichEditor" />
                                                                </div>
                                                                <div class="input-group-btn">
                                                                    <nop-required />
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Description"></span>
                                                        </div>
                                                    </div>
                                                </div>
                      ))
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IsRequired" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsRequired" />
                                <span asp-validation-for="IsRequired"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="VisibleToAllCustomers" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="VisibleToAllCustomers" />
                                <span asp-validation-for="VisibleToAllCustomers"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductReviewTypeBottom, additionalData = Model })
            </div>
        </div>
    </div>
</section>