@model AbcWarehouse.Plugin.Payments.UniFi.Models.PaymentInfoModel

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.UniFi/scripts/payment-info.js");
}

<input type="hidden" id="transactionToken" name="transactionToken" value="@Model.TransactionToken"/>
<input type="hidden" id="tokenId" name="tokenId" value="@Model.TokenId" />
<input type="hidden" id="syfPartnerId" name="syfPartnerId" value="@Model.PartnerId" />
<input type="hidden" id="clientTransId" name="clientTransId" value="@Model.ClientTransactionId" />
<input type="hidden" id="processInd" name="processInd" value="3" />
<input type="hidden" id="custAddress1" name="custAddress1" value="@Model.Address1"/>
<input type="hidden" id="custAddress2" name="custAddress2" value="@Model.Address2"/>
<input type="hidden" id="custCity" name="custCity" value="@Model.City" />
<input type="hidden" id="custState" name="custState" value="@Model.State" />
<input type="hidden" id="custZipCode" name="custZipCode" value="@Model.Zip" />
<input type="hidden" id="transAmount1" name="transAmount1" value="@Model.TransactionAmount" />

<button style="display: none" type="button" id="checkouthtml" onclick="syfMPP.calldBuyProcess(document.querySelector('form[action=\'/checkout/paymentinfo\']'), null)">Pay Now with UniFi (HTML)</button>