@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.CurrencyModel>
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Admin/Content/images/ico-configuration.png")" />
        @T("Admin.Configuration.Location.Currencies")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Web.MVC.Areas.Admin.Models.CurrencyModel>()
                    .Name("currencies-grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name);
                        columns.Bound(x => x.CurrencyCode)
                            .Width(150)
                            .Centered();
                        columns.Bound(x => x.DisplayLocale)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.Rate)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.DisplayOrder)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.Published)
                            .Width(100)
                            .Centered()
                            .Template(x => x.Published.ToString().ToLower());
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Width(50)
                            .Centered()
                            .HeaderTemplate("Edit")
                            .Filterable(false);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Currency"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>