@model Telerik.Web.Mvc.GridModel<WidgetModel>
@using Telerik.Web.Mvc.UI
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Widgets").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Widgets")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<WidgetModel>()
                    .Name("widgets-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName)
                            .Width(150)
                            .ReadOnly();
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.ContentManagement.Widgets.Configure").Text, "ConfigureWidget", new { systemName = @item.SystemName })
                                </div>
                            )
                            .ClientTemplate("<a href=\"ConfigureWidget?systemName=<#= SystemName #>\">" + T("Admin.ContentManagement.Widgets.Configure").Text + "</a>")
                            .Width(100)
                            .Centered()
                            .Title(T("Admin.ContentManagement.Widgets.Configure").Text);
                        columns.Bound(x => x.SystemName).Width(150).ReadOnly();
                        columns.Bound(x => x.DisplayOrder)
                            .Width(100);
                        columns.Bound(x => x.IsActive)
                            .Template(x => x.IsActive.ToString().ToLower())
                            .Width(100);
                        columns.Command(commands =>
                        {
                            commands.Edit();
                        }).Width(100);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("List", "Widget")
                            .Update("WidgetUpdate", "Widget");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
