@model VendorNavigationModel

@if (Model.Vendors.Count > 0)
{
    <div class="block block-vendor-navigation well box-shadow-wrapper">
        <div class="title main-title">
            <strong>@T("Vendors")</strong>
        </div>
        <div class="listbox">
            <ul class="nav nav-list">
                @foreach (var vendor in Model.Vendors)
                {
                    <li><a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                    </li>
                }
            </ul>            
            @if (Model.TotalVendors > Model.Vendors.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}