@model CustomerAddressModel

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Customers.Customers.Addresses.AddNew") @Html.ActionLink("(" + T("Admin.Customers.Customers.Addresses.BackToCustomer") + ")", "Edit", new { id = Model.CustomerId })
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="t-button" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateAddress", Model)
}