@model CustomerModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.EditCustomerDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.EditCustomerDetails") - @Model.LastName @Model.FirstName
            <small>@Html.ActionLink("(" + T("Admin.Customers.Customers.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
            <input type="button" id="sendemail" class="btn btn-default" value="@T("Admin.Customers.Customers.SendEmail")" />
            <input type="button" id="sendprivatemessage" class="btn btn-default" value="@T("Admin.Customers.Customers.SendPM")" />
            @if (Model.AllowSendingOfWelcomeMessage)
            {
                <input type="submit" name="send-welcome-message" class="btn btn-default" value="@T("Admin.Customers.Customers.SendWelcomeMessage")" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
            }
            @if (Model.AllowReSendingOfActivationMessage)
            {
                <input type="submit" name="resend-activation-message" class="btn btn-default" value="@T("Admin.Customers.Customers.ReSendActivationMessage")" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
            }
            <span id="customer-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("customer-delete")

@*send email form*@
<div id="sendemail-window" style="display:none;">
    @using (Html.BeginForm("SendEmail", "Customer", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div style="text-align:left;">
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendEmail.Subject):
                </div>
                <div class="col-sm-9">
                    @Html.NopEditorFor(model => model.SendEmail.Subject)
                    @Html.ValidationMessageFor(model => model.SendEmail.Subject)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendEmail.Body):
                </div>
                <div class="col-sm-9">
                    @Html.NopTextAreaFor(model => model.SendEmail.Body)
                    @Html.ValidationMessageFor(model => model.SendEmail.Body)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendEmail.SendImmediately):
                </div>
                <div class="col-sm-9">
                    @Html.NopEditorFor(model => model.SendEmail.SendImmediately)
                    @Html.ValidationMessageFor(model => model.SendEmail.SendImmediately)
                </div>
            </div>
            <div class="form-group" id="pnl-send-date">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendEmail.DontSendBeforeDate):
                </div>
                <div class="col-sm-9">
                    @Html.NopEditorFor(model => model.SendEmail.DontSendBeforeDate)
                    @Html.ValidationMessageFor(model => model.SendEmail.DontSendBeforeDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-default" value="@T("Admin.Customers.Customers.SendEmail")" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendemail").click(function (e) {
            e.preventDefault();
            var window = $("#sendemail-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "650px",
                    title: "@T("Admin.Customers.Customers.SendEmail")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });

        $("#@Html.FieldIdFor(model => model.SendEmail.SendImmediately)").click(sendImmediately);
        sendImmediately();
    });

    function sendImmediately() {
        if ($('#@Html.FieldIdFor(model => model.SendEmail.SendImmediately)').is(':checked'))
            $('#pnl-send-date').hide();
        else
            $('#pnl-send-date').show();
    }
</script>


@*send PM form*@
<div id="sendprivatemessage-window" style="display:none;">
    @using (Html.BeginForm("SendPm", "Customer", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div style="text-align: left;">
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendPm.Subject):
                </div>
                <div class="col-sm-9">
                    @Html.NopEditorFor(model => model.SendPm.Subject)
                    @Html.ValidationMessageFor(model => model.SendPm.Subject)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.SendPm.Message):
                </div>
                <div class="col-sm-9">
                    @Html.NopTextAreaFor(model => model.SendPm.Message)
                    @Html.ValidationMessageFor(model => model.SendPm.Message)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-default" value="@T("Admin.Customers.Customers.SendPM")" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendprivatemessage").click(function (e) {
            e.preventDefault();
            var window = $("#sendprivatemessage-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "500px",
                    title: "@T("Admin.Customers.Customers.SendPM")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>