@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.CustomerModel>
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" />
        @T("Admin.Customers.Customers")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Admin.Models.CustomerModel>(Model.Data)
                    .Name("customers-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id).Width(50);
                        columns.Bound(x => x.FullName).Width(200);
                        columns.Bound(x => x.CustomerRoleNames).Width(200);
                        @*columns.Template(
                            @<div>
                            @for (int i=0;i< @item.CustomerRoleNames.Count;i++)
                            {
                                @item.CustomerRoleNames[i]
                                if (i != @item.CustomerRoleNames.Count - 1)
                                {
                                    <text>,</text>
                                }
                            }
                            </div>
                        )
                        .ClientTemplate("<#= CustomerRoleNames #>");*@
                        columns.Bound(x => x.Active)
                             .Width("100px")
                             .Template(x => x.Active.ToString().ToLower())
                             .Centered();
                        columns.Bound(x => x.CreatedOnStr).Width(100);
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                                            .Pageable(settings => settings.Total(Model.Total).PageSize(10))
                                            .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Customer"))
                                            .EnableCustomBinding(true))
        </td>
    </tr>
</table>