@model ProductModel

<script type="text/javascript">
    $(document).ready(function() {
        $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);
        toggleStoreMapping();
    });

    function toggleStoreMapping() {
        if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
            $('#pnl-available-stores').show();
        } else {
            $('#pnl-available-stores').hide();
        }
    }
</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.LimitedToStores)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.LimitedToStores)
                    @Html.ValidationMessageFor(model => model.LimitedToStores)
                </div>
            </div>
            <div class="form-group" id="pnl-available-stores">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AvailableStores)
                </div>
                <div class="col-md-9">
                    @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                    {
                        @Html.Action("MultistoreDisabledWarning", "Common")
                        foreach (var store in Model.AvailableStores)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedStoreIds" value="@store.Id"
                                           @if (Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id)) { <text> checked="checked" </text> } />
                                    @store.Name
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        <text>No stores defined</text>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
