@model ProductModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form"}))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Products.AddNew")
            <small>@Html.ActionLink("(" + T("Admin.Catalog.Products.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("_CreateOrUpdate", Model)
        </div>
    </div>
}
