@model SocialModel
<ul class="networks">
	@if (!string.IsNullOrEmpty(Model.FacebookLink))
	{
		<li class="facebook"><a href="@Model.FacebookLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Facebook")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.XLink))
	{
		<li class="x"><a href="@Model.XLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.X")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.YoutubeLink))
	{
		<li class="youtube"><a href="@Model.YoutubeLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Youtube")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.InstagramLink))
	{
		<li class="instagram"><a href="@Model.InstagramLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Instagram")</a></li>
	}
    @if (!string.IsNullOrEmpty(Model.TikTokLink))
    {
        <li class="tiktok"><a href="@Model.TikTokLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.TikTok")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.SnapchatLink))
    {
        <li class="snapchat"><a href="@Model.SnapchatLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Snapchat")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.PinterestLink))
    {
        <li class="pinterest"><a href="@Model.PinterestLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Pinterest")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TumblrLink))
    {
        <li class="tumblr"><a href="@Model.TumblrLink" target="_blank" rel="noopener noreferrer">@T("Footer.FollowUs.Tumblr")</a></li>
    }
</ul>