@model Telerik.Web.Mvc.GridModel<CustomerRoleModel>
@using Telerik.Web.Mvc.UI

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Customers.CustomerRoles")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<CustomerRoleModel>()
                    .Name("customerroles-grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name).Width(150);
                        columns.Bound(x => x.FreeShipping)
                            .Width(100)
                            .Centered()
                            .Template(x => x.FreeShipping.ToString().ToLower());
                        columns.Bound(x => x.TaxExempt)
                            .Width(100)
                            .Centered()
                            .Template(x => x.TaxExempt.ToString().ToLower());
                        columns.Bound(x => x.Active)
                            .Width(100)
                            .Centered()
                            .Template(x => x.Active.ToString().ToLower());
                        columns.Bound(x => x.IsSystemRole)
                            .Width(100)
                            .Centered()
                            .Template(x => x.IsSystemRole.ToString().ToLower());
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Width(50)
                            .Centered()
                            .HeaderTemplate("Edit")
                            .Filterable(false);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "CustomerRole"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>