@using Nop.Plugin.Widgets.AbcSynchronyPayments.Models;
@model SynchronyPaymentModel

@{
    var monthCountMinus1 = Model.MonthCount -1;
}

<div id="equalPaymentsModal-@Model.ProductId" class="synchrony-payments-modal-outer">
    <div class="synchrony-payments-modal-middle">
        <div class="synchrony-payments-modal-inner" style="color: #@Model.ModalHexColor; border-color: #@Model.ModalHexColor">
            @if (@Model.IsMonthlyPaymentStyle)
            {
                <p style="text-align: center; font-weight: bold; font-size: 1rem; padding: 1rem">
                    Offer valid @Model.OfferValidFrom through @Model.OfferValidTo
                </p>
                <table class="min-payment-table">
                    <tr class="min-payment-table-labels">
                        <td>Promotional Purchase Amount</td>
                        <td>Equal Monthly Payment Required</td>
                        <td>Promotional Period</td>
                    </tr>
                    <tr class="min-payment-table-data">
                        <td class="equal-payment-full-price">@Model.FullPrice.ToString("C").Replace(".00", "")</td>
                        <td class="equal-payment-monthly-payment">$@Model.MonthlyPayment</td>
                        <td class="equal-payment-months">@Model.MonthCount Month</td>
                    </tr>
                </table>
                <div class="min-payment-content">
                    <p>
                        The estimated monthly payment shown above equals the
                        purchase price (excluding taxes and delivery) divided by the
                        number of months in the promo period. It is rounded to the
                        next highest whole dollar. It is only good with the
                        financing offer shown. If you make these payments by the due
                        date each month, you should pay off this purchase within the
                        promo period, if it is the only balance you are paying off.
                        If you have other balances on your account, this payment
                        will be added to any other minimum monthly payments.
                    </p><br />
                    <p style="font-weight: bold">
                        IMPORTANT: The information about the Equal Monthly Payment
                        shown assumes the following promotional financing offer is
                        applied to the purchase:
                    </p><br />
                    <p>No Interest for @Model.MonthCount Months**</p><br />
                    <p>
                        On qualifying  purchases with your @Model.StoreName Credit
                        Card. @Model.MonthCount equal monthly payments required. 
                    </p>
                    <em style="color: blue; text-decoration: underline; cursor: pointer; font-size: 10px"
                        onclick="window.location.href = '/special-financing-information'">
                        **See Details
                    </em>
                </div>
            }
            else
            {
                <table class="min-payment-table">
                    <tr class="min-payment-table-labels">
                        <td>Promotional Purchase Amount</td>
                        <td>Estimated Minimum Monthly Payments Month 1-@monthCountMinus1</td>
                        <td>Estimated Final Payment Month @Model.MonthCount</td>
                        <td>Promotional Period</td>
                    </tr>
                    <tr class="min-payment-table-data">
                        <td class="min-payment-full-price">@Model.FullPrice.ToString("C").Replace(".00", "")</td>
                        <td class="min-payment-monthly-payment">$@Model.MonthlyPayment</td>
                        <td class="min-payment-final-payment">@Model.FinalPayment.ToString("C").Replace(".00", "")</td>
                        <td class="min-payment-months">@Model.MonthCount Month</td>
                    </tr>
                </table>
                <div class="min-payment-content">
                    <p>
                        The monthly payments shown are estimates only and may be
                        different than what will be required and shown on your
                        @Model.StoreName billing statement.
                    </p>
                    <p>
                        These estimated payments:
                    </p>
                    <ul>
                        <li>Equal:</li>
                        <li style="list-style: none">
                            <ul>
                                <li>
                                    For the first @monthCountMinus1 months: 3.5% of
                                    the promotional purchase amount (although on 
                                    your billing statement, the required minimum 
                                    monthly payment will decline as the remaining 
                                    balance declines each month).
                                </li>
                                <li>
                                    For month @Model.MonthCount: The remaining
                                    promotional purchase balance if you make the
                                    first @monthCountMinus1 monthly payments shown.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Would pay off the promotional purchase amount within
                            the promotional period, but only if:
                        </li>
                        <li style="list-style: none">
                            <ul>
                                <li>
                                    There are no other balances on your account at
                                    any time during the promotional period. (If
                                    you have any additional balances on your
                                    account, the monthly payments applicable to
                                    those balances will increase your monthly 
                                    payment and may impact how payments are applied
                                    to this promotional purchase.)
                                </li>
                                <li>
                                    You make your monthly payments on time.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        Refer to your billing statement for the actual monthly
                        payment required each month and the final remaining
                        promotional purchase balance that must be paid in month
                        @Model.MonthCount to avoid interest on this purchase.
                    </p><br />
                    <p><b>
                        If the promotional purchase amount is not paid in full
                        within the promotional period, interest will be charged to
                        your account from the purchase date and your total payments
                        will be greater than the amount of the promotional purchase
                        amount.
                    </b></p><br />
                    <p><b>
                        IMPORTANT: These estimated monthly payments assume the
                        following promotional financing offer is applied to the
                        purchase:
                    </b></p><br />
                    <p><b>
                        No Interest If Paid in Full Within @Model.MonthCount Months*
                    </b></p>
                    <p>
                        On qualifying purchases with your
                        @Model.StoreName credit card between @Model.OfferValidFrom -
                        @Model.OfferValidTo. Interest will be charged to your
                        account from the purchase date if the promotional purchase
                        is not paid in full within @Model.MonthCount months.
                        Minimum monthly payments required.
                        <em style="color: blue; text-decoration: underline; cursor: pointer; font-size: 10px"
                            onclick="window.location.href = '/special-financing-information'">
                            See Details
                        </em>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('.deferredPricingIcon-@Model.ProductId').on('click', function () {
        var modal = document.getElementById('equalPaymentsModal-@Model.ProductId');
        isModalOpen = true;
        modal.style.display = "table";

        // Close the modal on click
        // This extends to the entire viewport
        modal.onclick = function (event) {
            isModalOpen = false;
            modal.style.display = "none";
        }

        return false;
    });
</script>