@model EmailAccountModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.EmailAccounts.EditEmailAccountDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.EmailAccounts.EditEmailAccountDetails")
            <small>@Html.ActionLink("(" + T("Admin.Configuration.EmailAccounts.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")"/>
            <input type="submit" name="save-continue" class="btn btn-default" value="@T("Admin.Common.SaveContinue")"/>
            <span id="emailAccount-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("emailAccount-delete")
