@using Telerik.Web.Mvc.UI
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.EmailAccounts").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.EmailAccounts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<EmailAccountModel>()
                    .Name("emailAccounts-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.Id).RouteKey("Id");
                    })
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Email);
                        columns.Bound(x => x.DisplayName)
                            .Centered();
                        columns.Bound(x => x.IsDefaultEmailAccount)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.IsDefaultEmailAccount.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= IsDefaultEmailAccount #>.gif' />")
                            .Centered();
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail").Text, "MarkAsDefaultEmail", new { id = x.Id }, new { @class = "t-button" }))
                            .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/EmailAccount/MarkAsDefaultEmail/") + "<#= Id #>\" class=\"t-button\">" + T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail").Text + "</a>")
                            .Centered()
                            .HeaderTemplate(T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail").Text);
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Centered()
                            .HeaderTemplate(T("Admin.Common.Edit").Text)
                            .Filterable(false);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "EmailAccount"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>