@model Nop.Plugin.Tax.Avalara.Models.Log.TaxTransactionLogModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Plugins.Tax.Avalara.Log.Hint").Text;
}

<form asp-controller="TaxTransactionLog" asp-action="View" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Tax.Avalara.Log.Hint")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Configure" asp-controller="AvalaraTax">@T("Plugins.Tax.Avalara.Log.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <span id="log-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div asp-validation-summary="All"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StatusCode" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Html.Raw(Model.StatusCode)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Url" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Html.Raw(Model.Url)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="RequestMessage" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row" style="word-break: break-all">@Html.Raw(Model.RequestMessage)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="ResponseMessage" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row" style="word-break: break-all">@Html.Raw(Model.ResponseMessage)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerId" />
                            </div>
                            <div class="col-md-9">
                                @if (Model.CustomerId.HasValue)
                                {
                                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId">@(!string.IsNullOrEmpty(Model.CustomerEmail) ? Model.CustomerEmail : T("Admin.Customers.Guest").Text)</a>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CreatedDate" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CreatedDate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="log-delete" />