@using Nop.Web.Areas.Admin.Models.Books
@model BookModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.Book.Books.EditBookDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Books");
}

<form asp-controller="Book" asp-action="BookEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Book.Books.EditBookDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Books">@T("Admin.ContentManagement.Book.Books.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right"> 
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <span id="book-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.BookDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="book-delete" />