@model (string Id, string Name, TriggerIcon Value)
<div class="icon-group-container" role="radiogroup" id="trigger-icon-container" aria-labelledby="@(Model.Id)Label">
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Display)">
        <i role="img" aria-label="Icon of LegacyDisplay" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.268 24.287a2.23 2.23 0 0 1-.71-.323 2.51 2.51 0 0 1-.622-.63 3.318 3.318 0 0 1-.362-.739 334.78 334.78 0 0 1-2.066-6.279C22.7 13.79 21.581 10.352 20.154 6H17.97c-1.028 3.07-1.966 5.874-2.814 8.42-.849 2.544-1.695 5.086-2.54 7.621a4.554 4.554 0 0 1-.519 1.123c-.208.317-.46.583-.759.8-.175.136-.413.242-.715.317a4.859 4.859 0 0 1-.815.142v1.054h6.36v-1.054c-.823-.09-1.412-.236-1.764-.441-.354-.202-.53-.449-.53-.736 0-.09.012-.249.038-.475.024-.225.107-.59.246-1.096.11-.387.239-.829.388-1.327.115-.38.22-.714.319-1.02H20.4l.458 1.378.771 2.323a1.866 1.866 0 0 1 .11.608c0 .208-.266.38-.798.52s-.824.229-1.218.264v1.056H28v-1.054a4.029 4.029 0 0 1-.732-.136Zm-7.549-7.01h-4.19l2.08-6.525 2.11 6.525Z" fill="currentColor"></path>
                <path d="M16.867 24.6a1.637 1.637 0 0 1-.524-.239 1.9 1.9 0 0 1-.46-.462 2.52 2.52 0 0 1-.265-.544 252.663 252.663 0 0 1-1.522-4.628c-.595-1.86-1.42-4.394-2.471-7.6h-1.61a7892.12 7892.12 0 0 0-3.946 11.82 3.43 3.43 0 0 1-.381.83c-.153.233-.34.428-.56.585-.13.102-.305.18-.528.237-.224.057-.423.09-.6.105v.775h4.686v-.777c-.606-.066-1.04-.174-1.3-.324-.26-.15-.39-.33-.39-.544 0-.066.01-.183.028-.349.018-.166.078-.434.181-.806.08-.286.175-.613.286-.98.028-.093.196-.622.427-1.345h3.707l1.088 3.321a1.5 1.5 0 0 1 .068.269 1.5 1.5 0 0 1 .013.18c0 .152-.198.28-.589.384a6.58 6.58 0 0 1-1.023.196v.775h6.06v-.777s-.176-.046-.375-.101Zm-8.622-5.272 1.504-4.7 1.54 4.7H8.244Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Display2)">
        <i role="img" aria-label="Icon of LegacyDisplay2" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.486 15.2H7.893V28h2.594V15.2Z" fill="currentColor"></path>
                <path d="M14.379 14.4H4v3.2h10.379v-3.2ZM20.215 4.8h-2.594V28h2.594V4.8Z" fill="currentColor"></path>
                <path d="M28 4H9.838v3.2H28V4Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Display3)">
        <i role="img" aria-label="Icon of LegacyDisplay3" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.534 6.33h2.103l4.989 18.366h-2.04l-1.435-5.501H7.758l-1.491 5.5h-1.91L9.535 6.33Zm3.088 10.84-2.116-8.115-2.199 8.114h4.315Z" fill="currentColor"></path>
                <path d="M16.98 25.029h-2.57l-1.436-5.502H7.93l-1.49 5.502H4L9.363 6h2.447l5.17 19.029Zm-2.218-.663h1.51l-4.81-17.704H9.707l-4.99 17.704h1.377l1.491-5.5h5.742l1.436 5.5Zm-1.792-6.865H7.953l2.558-9.433 2.46 9.433Zm-4.31-.662h3.613l-1.772-6.794L8.66 16.84ZM24.113 16.591c.386-.066.645-.282.776-.648.074-.201.111-.49.111-.867 0-.769-.204-1.328-.61-1.675-.409-.348-.993-.52-1.752-.52-.879 0-1.501.318-1.868.955-.206.352-.34.875-.402 1.57h-1.572c.032-1.655.432-2.806 1.202-3.454a4.031 4.031 0 0 1 2.678-.972c1.178 0 2.133.3 2.87.9.728.6 1.092 1.534 1.092 2.8v7.716c0 .233.036.42.108.563.07.14.222.212.452.212.075 0 .16-.007.254-.018.093-.013.192-.031.299-.057v1.661c-.262.1-.461.164-.599.188a3.348 3.348 0 0 1-.56.037c-.58 0-1.003-.275-1.265-.826-.137-.292-.233-.704-.29-1.237-.341.601-.835 1.12-1.478 1.564a3.667 3.667 0 0 1-2.124.662c-.93 0-1.689-.376-2.279-1.13-.59-.754-.884-1.696-.884-2.828 0-1.24.29-2.201.87-2.885.58-.683 1.342-1.103 2.284-1.263l2.687-.448Zm-3.548 6.08c.356.374.777.562 1.263.562.594 0 1.167-.184 1.722-.55.936-.607 1.404-1.602 1.404-2.983v-1.81a2.53 2.53 0 0 1-.794.44 5.2 5.2 0 0 1-.952.25l-1.018.175c-.61.108-1.069.28-1.376.513-.52.39-.782 1.015-.782 1.87 0 .648.178 1.16.533 1.533Z" fill="currentColor"></path>
                <path d="M21.436 25.477c-.99 0-1.815-.41-2.45-1.222-.637-.814-.96-1.847-.96-3.067 0-1.333.32-2.387.953-3.132.616-.725 1.429-1.176 2.417-1.342l2.685-.45c.3-.05.49-.203.584-.463.04-.11.088-.322.088-.724 0-.654-.162-1.112-.498-1.396-.364-.311-.91-.469-1.617-.469-.793 0-1.355.278-1.671.826-.178.304-.296.777-.352 1.408l-.026.292h-2.046l.007-.34c.033-1.765.476-3.019 1.316-3.725a4.251 4.251 0 0 1 2.81-1.022c1.219 0 2.228.319 2.998.948.805.662 1.213 1.7 1.213 3.083v7.716c0 .166.022.292.066.375.008.018.073.068.248.068.065 0 .143-.007.227-.018.088-.012.182-.029.281-.053l.291-.067v2.306l-.18.069c-.276.105-.483.17-.633.197a3.55 3.55 0 0 1-.596.04c-.667 0-1.162-.329-1.472-.978a3.179 3.179 0 0 1-.224-.703c-.327.428-.736.81-1.222 1.146a3.894 3.894 0 0 1-2.237.697ZM22.64 12.55c.804 0 1.438.193 1.885.573.48.411.726 1.07.726 1.955 0 .432-.045.764-.138 1.013-.168.468-.494.749-.968.83l-2.687.449c-.887.15-1.61.547-2.15 1.182-.529.621-.786 1.485-.786 2.636 0 1.046.265 1.894.808 2.588.547.698 1.236 1.037 2.107 1.037.73 0 1.407-.21 2.011-.625.607-.417 1.075-.912 1.395-1.468l.36-.63.082.784c.051.485.136.857.255 1.109.214.45.56.67 1.053.67.225 0 .403-.012.528-.035a2.96 2.96 0 0 0 .385-.112v-1.029c-.01.001-.018.004-.027.004-.101.014-.195.02-.277.02-.316 0-.538-.12-.658-.358-.1-.196-.152-.447-.152-.747V14.68c0-1.154-.318-1.979-.975-2.518-.69-.565-1.613-.851-2.739-.851-.963 0-1.82.31-2.546.92-.648.546-1 1.478-1.073 2.842h1.097c.078-.618.217-1.092.422-1.443.413-.716 1.107-1.08 2.062-1.08Zm-.81 11.014c-.542 0-1.018-.212-1.417-.632-.416-.44-.627-1.042-.627-1.796 0-.98.306-1.706.908-2.159.337-.256.817-.438 1.465-.552l1.02-.176c.3-.047.608-.13.917-.242a2.31 2.31 0 0 0 .726-.398l.38-.326v2.415c0 1.512-.517 2.616-1.542 3.281-.586.39-1.201.585-1.83.585Zm2.878-5.132a3.134 3.134 0 0 1-.482.217 5.359 5.359 0 0 1-.986.26l-1.015.174c-.576.102-1.01.261-1.287.471-.442.332-.655.85-.655 1.584 0 .547.143.963.438 1.274.314.33.677.49 1.111.49.551 0 1.093-.175 1.612-.516.851-.553 1.265-1.43 1.265-2.686v-1.268h-.001Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Help)">
        <i role="img" aria-label="Icon of LegacyHelp" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#legacy-help_svg__a)">
                    <path d="M16 4C9.372 4 4 9.372 4 16c0 6.627 5.372 12 12 12 6.627 0 12-5.373 12-12-.008-6.624-5.376-11.993-12-12Zm0 17.217a5.217 5.217 0 1 1 0-10.435 5.217 5.217 0 0 1 0 10.435Zm6.521-7.103 2.797-2.81c1.469 2.91 1.49 6.34.057 9.266l-2.825-2.815a6.764 6.764 0 0 0-.037-3.652l.008.01Zm1.967-4.174-2.634 2.635a6.836 6.836 0 0 0-2.627-2.539l2.645-2.645c1.011.69 1.893 1.55 2.608 2.544l.008.005Zm-4.022-3.368-2.843 2.843a6.766 6.766 0 0 0-3.378.034l-2.823-2.822a10.417 10.417 0 0 1 9.044-.055Zm-10.434.877 2.642 2.642a6.831 6.831 0 0 0-2.583 2.583L7.45 10.032a10.493 10.493 0 0 1 2.583-2.583Zm-3.405 3.973 2.822 2.822a6.766 6.766 0 0 0-.034 3.378l-2.843 2.844a10.417 10.417 0 0 1 .055-9.045Zm.764 10.45 2.64-2.653a6.83 6.83 0 0 0 2.538 2.627L9.935 24.48a10.508 10.508 0 0 1-2.544-2.608Zm3.913 3.446 2.81-2.797c1.19.347 2.454.36 3.652.037l2.812 2.814a10.406 10.406 0 0 1-9.274-.054Zm10.657-.767-2.635-2.642a6.845 6.845 0 0 0 2.583-2.583l2.642 2.643a10.488 10.488 0 0 1-2.582 2.582h-.008Z" fill="currentColor"></path>
                </g>
                <defs>
                    <clipPath id="legacy-help_svg__a">
                        <path fill="#fff" transform="translate(4 4)" d="M0 0h24v24H0z"></path>
                    </clipPath>
                </defs>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.People)">
        <i role="img" aria-label="Icon of LegacyPeople" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#legacy-people_svg__a)" fill="currentColor">
                    <path d="M19.704 28c.177 0 .372-.055.55-.146.692-.33.976-1.134.638-1.847 0 0-2.537-5.977-2.998-8.17-.178-.768-.284-2.797-.32-3.747 0-.33.178-.622.462-.713l5.678-1.755c.692-.183 1.1-1.005.922-1.718-.177-.713-.976-1.133-1.668-.95 0 0-5.252 1.754-7.15 1.754-1.845 0-7.062-1.718-7.062-1.718-.692-.183-1.473.146-1.704.859-.23.768.178 1.572.923 1.755l5.678 1.755c.284.09.515.383.461.712-.053.95-.142 2.998-.319 3.748-.461 2.193-2.999 8.17-2.999 8.17-.32.713 0 1.517.64 1.846.177.092.372.146.55.146.514 0 1.01-.292 1.206-.804l2.714-5.703 2.591 5.74c.23.493.692.786 1.207.786Z"></path>
                    <path d="M15.924 9.337c1.431 0 2.59-1.195 2.59-2.669 0-1.473-1.159-2.668-2.59-2.668-1.43 0-2.59 1.195-2.59 2.668 0 1.474 1.16 2.67 2.59 2.67Z"></path>
                </g>
                <defs>
                    <clipPath id="legacy-people_svg__a">
                        <path fill="#fff" transform="translate(7 4)" d="M0 0h17.744v24H0z"></path>
                    </clipPath>
                </defs>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.People2)">
        <i role="img" aria-label="Icon of LegacyPeople2" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.007 11.86c2.621 0 4.747-1.76 4.747-3.93S18.628 4 16.007 4c-2.622 0-4.747 1.76-4.747 3.93s2.125 3.93 4.747 3.93ZM27.363 18.411l-6.712-5.547c-.534-.46-1.306-.677-2.067-.573a3.342 3.342 0 0 0-.613 0h-3.94a3.098 3.098 0 0 0-.591 0c-.75-.113-1.51.075-2.056.508L4.64 18.41c-.897.79-.84 2.04.113 2.773.909.705 2.328.705 3.237 0l3.26-2.698v7.22c.01 1.26 1.237 2.285 2.77 2.294h3.952c1.522-.01 2.76-1.025 2.771-2.294v-7.22l3.26 2.698c.953.743 2.463.696 3.35-.094.862-.752.862-1.918.01-2.679Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Settings)">
        <i role="img" aria-label="Icon of LegacySettings" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m27.529 13.968-2.883-.566a10.203 10.203 0 0 0-.708-1.654l1.702-2.41a.642.642 0 0 0-.095-.755l-2.079-2.08a.645.645 0 0 0-.756-.094L20.3 8.063a7.11 7.11 0 0 0-1.653-.661l-.52-2.929c-.048-.236-.33-.473-.615-.473h-2.881c-.284 0-.568.237-.615.473l-.52 2.882c-.614.189-1.181.425-1.748.708L9.291 6.41c-.188-.19-.567-.142-.756.047l-2.03 2.078a.64.64 0 0 0-.095.757l1.7 2.456c-.33.52-.52 1.087-.708 1.654l-2.883.566c-.283.049-.519.285-.519.568v2.928c0 .284.236.52.519.568l2.883.567c.189.566.425 1.134.708 1.7l-1.653 2.409c-.142.237-.142.568.047.757l2.078 2.078c.19.19.52.236.757.047l2.457-1.653c.52.283 1.087.52 1.7.71l.52 2.881c.047.236.331.472.568.472h2.928c.283 0 .567-.236.614-.472l.52-2.928c.567-.19 1.134-.379 1.653-.662l2.41 1.607c.236.189.567.141.756-.048l2.03-2.079c.237-.19.237-.52.095-.756l-1.654-2.409c.285-.519.52-1.087.71-1.652l2.882-.568a.56.56 0 0 0 .472-.568v-2.928a.56.56 0 0 0-.471-.57ZM16 21.007c-2.74 0-5.007-2.267-5.007-5.007A5.01 5.01 0 0 1 16 10.992 4.98 4.98 0 0 1 21.01 16 5.01 5.01 0 0 1 16 21.007Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Settings2)">
        <i role="img" aria-label="Icon of LegacySettings2" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.89 6.885v.112a3.548 3.548 0 0 1 2.666 3.43 3.548 3.548 0 0 1-2.667 3.43v10.738a.888.888 0 0 1-.889.885.888.888 0 0 1-.89-.886V13.857a3.548 3.548 0 0 1-2.666-3.43 3.548 3.548 0 0 1 2.667-3.43v-.112c0-.489.398-.885.889-.885s.89.396.89.885Zm-2.668 3.543c0 .976.797 1.77 1.778 1.77.98 0 1.777-.794 1.777-1.77 0-.977-.796-1.772-1.777-1.772-.98 0-1.778.794-1.778 1.772ZM8.444 17.623a3.549 3.549 0 0 1 2.667 3.43 3.548 3.548 0 0 1-2.667 3.43v.112a.888.888 0 0 1-1.778 0v-.112A3.547 3.547 0 0 1 4 21.053a3.547 3.547 0 0 1 2.666-3.43V6.886c0-.489.398-.885.89-.885.49 0 .888.396.888.885v10.738Zm-2.667 3.43a1.778 1.778 0 0 0 3.556 0c0-.976-.797-1.77-1.778-1.77-.98 0-1.778.794-1.778 1.77ZM25.333 13.639A3.548 3.548 0 0 1 28 17.069a3.548 3.548 0 0 1-2.667 3.43v4.096a.888.888 0 0 1-.89.885.888.888 0 0 1-.889-.886v-4.096a3.547 3.547 0 0 1-2.665-3.43 3.547 3.547 0 0 1 2.666-3.43V6.886c0-.489.398-.885.889-.885.49 0 .89.396.89.885v6.754Zm-2.667 3.43c0 .976.797 1.77 1.778 1.77.98 0 1.778-.793 1.778-1.77s-.798-1.771-1.778-1.771-1.778.793-1.778 1.77Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Wheels)">
        <i role="img" aria-label="Icon of LegacyWheels" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.152 4c-1.317 0-2.383 1.011-2.383 2.259 0 1.247 1.066 2.258 2.383 2.258 1.315 0 2.383-1.011 2.383-2.258C16.535 5.01 15.467 4 14.152 4Zm-1.284 4.667c-1.403.002-1.662.84-1.662 1.525v8.058c0 .692.588 1.252 1.319 1.25l6.042-.026s2.08 2.985 3.122 4.476c.312.446.727.841 1.327.841.792 0 1.52-.612 1.434-1.358-.033-.293-.103-.57-.29-.833-.93-1.313-2.77-4.152-3.782-5.217-.257-.271-.612-.468-1.029-.467l-4.995.017v-5.016l3.562 2.333a1.162 1.162 0 0 0 1.565-.275c.355-.487.224-1.147-.29-1.483l-5.558-3.633c-.193-.127-.55-.192-.765-.192Zm13.772 2.258a.343.343 0 0 0-.238.091l-4.441 4.209h-6.297a.324.324 0 0 0-.334.316v.117c0 .177.148.317.334.317h6.473c.1 0 .198-.037.255-.092l4.573-4.333a.307.307 0 0 0 0-.45l-.088-.084a.343.343 0 0 0-.237-.09Zm-16.068 2.2C7.31 14.055 4.9 16.935 4.9 20.4c0 4.23 3.608 7.6 7.95 7.6 3.326 0 6.223-1.974 7.396-4.8l-1.196-1.709c-.542 2.715-3.072 4.81-6.2 4.81-3.534 0-6.314-2.68-6.314-5.901 0-2.485 1.66-4.643 4.037-5.5v-1.775Z" fill="currentColor"></path>
            </svg>
        </i>
    </label>
    <label class="icon-label">
        <input type="radio" name="@Model.Name" value="@((int)TriggerIcon.Wheels2)">
        <i role="img" aria-label="Icon of LegacyWheels2" class="icon-container">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#legacy-wheels2_svg__a)">
                    <path d="M24.492 4.123A6.094 6.094 0 0 0 23.345 4c-2.117 0-3.97 1.213-4.499 2.946a3.292 3.292 0 0 0-.088 1.51 1.246 1.246 0 0 0-.323-.172l-5.997-2.377c-.794-.322-1.706-.05-2.118.594l-2.557 4.16c-.412.668-.088 1.486.676 1.832.235.099.5.148.735.148.588 0 1.146-.272 1.44-.743l1.823-2.97 3.087 1.237-2.087 2.749h-.441C8.057 12.864 4 16.28 4 20.466s4.057 7.577 9.025 7.577c4.469 0 8.173-2.724 8.88-6.313v4.085c0 .867.851 1.584 1.88 1.584 1.03 0 1.883-.717 1.883-1.584v-5.869c0-.644-.47-1.213-1.147-1.46l-3.234-1.115c-.411-.792-1-1.51-1.706-2.129l1.735-2.303c.323-.42.5-.867.53-1.337.117.05.265.074.382.1.382.073.764.123 1.146.123 2.118 0 3.97-1.213 4.5-2.947.586-2.08-.913-4.21-3.382-4.755ZM13.084 25.517c-3.322 0-5.997-2.253-5.997-5.051 0-2.797 2.675-5.05 5.997-5.05 3.323 0 5.998 2.253 5.998 5.05 0 2.798-2.675 5.051-5.998 5.051Z" fill="currentColor"></path>
                </g>
                <defs>
                    <clipPath id="legacy-wheels2_svg__a">
                        <path fill="#fff" transform="translate(4 4)" d="M0 0h24v24H0z"></path>
                    </clipPath>
                </defs>
            </svg>
        </i>
    </label>
</div>

<script asp-location="Footer">
    $(function(){
        var inputs = $("#trigger-icon-container input[name='@Model.Name']");
        var currentValue = [...inputs]
            .find(radio => $(radio).val() == '@((int)Model.Value)') || {};
        currentValue.checked = true;
    });
</script>