@model AddressAttributeModel

@{
    //page title
    ViewBag.Title = T("Admin.Address.AddressAttributes.EditAttributeDetails").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addressattribute-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Address.AddressAttributes.EditAttributeDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Address.AddressAttributes.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="addressattribute-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("addressattribute-delete")