@model CheckoutConfirmModel
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutConfirmTop })
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
        <div class="section confirm-order">
            @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <div>
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                </div>
            }
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutConfirmBottom })
    <div class="section order-summary">
        @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
    </div>
    @if (string.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
        </div>
        <div class="terms-of-service">
            <input id="termsofservice" type="checkbox" name="termsofservice"/>
            <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
            @if (Model.TermsOfServicePopup)
            {
                <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                <script>
                    $(document).ready(function() {
                        $('#read-terms').on('click', function(e) {
                            e.preventDefault();
                            displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                        });
                    });
                </script>
            }
            else
            {
                <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
            }
        </div>
    }
</div>
