@model GiftCardModel

@{
    //page title
    ViewBag.Title = T("Admin.GiftCards.EditGiftCardDetails").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Gift cards");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.GiftCards.EditGiftCardDetails") 
            <small>@Html.ActionLink("(" + T("Admin.GiftCards.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")" />
            <span id="giftcard-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("giftcard-delete")