@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@model SocialModel

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = (storeContext.GetCurrentStoreAsync()).Id;
    var instagramUrl = await settingService.GetSettingByKeyAsync("pavilionthemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = await settingService.GetSettingByKeyAsync("pavilionthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = await settingService.GetSettingByKeyAsync("pavilionthemesettings.vimeourl", String.Empty, storeId, true);
    var linkedInUrl = await settingService.GetSettingByKeyAsync("pavilionthemesettings.linkedinurl", String.Empty, storeId, true);
    var tikTokUrl = await settingService.GetSettingByKeyAsync("pavilionthemesettings.tiktokurl", String.Empty, storeId, true);
}

<ul class="social-sharing">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a target="_blank" href="@Model.FacebookLink" rel="noopener noreferrer" aria-label="@T("Footer.FollowUs.Facebook")"></a></li>
    }
    @if (!string.IsNullOrEmpty(instagramUrl))
    {
        <li class="instagram"><a target="_blank" href="@instagramUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Instagram")"></a></li>
    }
    @if (!string.IsNullOrEmpty(pinterestUrl))
    {
        <li class="pinterest"><a target="_blank" href="@pinterestUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Pinterest")"></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a target="_blank" href="@Model.YoutubeLink" rel="noopener noreferrer" aria-label="@T("Footer.FollowUs.Youtube")"></a></li>
    }
    @if (!string.IsNullOrEmpty(vimeoUrl))
    {
        <li class="vimeo"><a target="_blank" href="@vimeoUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Vimeo")"></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" aria-label="@T("Footer.FollowUs.RSS")"></a></li>
    }
    @if (!string.IsNullOrEmpty(linkedInUrl))
    {
        <li class="linkedin"><a target="_blank" href="@linkedInUrl" rel="noopener noreferrer" aria-label="LinkedIn"></a></li>
    }
    @if (!string.IsNullOrEmpty(tikTokUrl))
    {
        <li class="tiktok"><a target="_blank" href="@tikTokUrl" rel="noopener noreferrer" aria-label="TikTok"></a></li>
    }
</ul>