@* adds promotion message near bottom *@

@model CheckoutPaymentMethodModel

@using Nop.Web.Models.Checkout
@using Nop.Web.Framework.Infrastructure
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-method-page");

    var error = httpContextAccessor.HttpContext.Session.GetString("PaymentMethodError");
    httpContextAccessor.HttpContext.Session.Remove("PaymentMethodError");
}
<style>
	.promotion-message {
		margin-bottom: 10px;
	}
	.promotion-message a {
		color: #336799;
	}
    #error-message {
        color: red;
        font-weight: bold;
        padding-bottom: 1em;
    }
</style>
<div class="page checkout-page payment-method-page">
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Payment })
    <div class="page-title">
        <h1>@T("Checkout.SelectPaymentMethod")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentMethodTop })
        <div class="section payment-method">
            <div id="error-message">
                @error
			</div>
            <form asp-route="CheckoutPaymentMethod" method="post">
                @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                    <div class="use-reward-points">
                        <input asp-for="UseRewardPoints"/>
                        <label asp-for="UseRewardPoints">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</label>
                        @if (Model.RewardPointsEnoughToPayForOrder)
                        {
                        <script asp-location="Footer">
                                $(document).ready(function() {
                                    $("#@Html.IdFor(model => model.UseRewardPoints)")
                                        .on('change', toggleUseRewardPoints);
                                    toggleUseRewardPoints();
                                });

                                function toggleUseRewardPoints() {
                                    if ($('#@Html.IdFor(model => model.UseRewardPoints)').is(':checked')) {
                                        $('#payment-method-block').hide();
                                    } else {
                                        $('#payment-method-block').show();
                                    }
                                }
                        </script>
                        }
                    </div>
                }
                @if (Model.PaymentMethods.Count > 0)
                {
                    <ul class="method-list" id="payment-method-block">
                        @for (var i = 0; i < Model.PaymentMethods.Count; i++)
                        {
                            var paymentMethod = Model.PaymentMethods[i];
                            var paymentMethodName = paymentMethod.Name;
                            if (!string.IsNullOrEmpty(paymentMethod.Fee))
                            {
                                paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                            }
                            <li>
                                <div class="method-name">
                                    @if (!string.IsNullOrEmpty(paymentMethod.LogoUrl))
                                    {
                                        <div class="payment-logo">
                                            <label for="paymentmethod_@(i)">
                                                <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                            </label>
                                        </div>
                                    }
                                    <div class="payment-details">
                                        <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                        <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                        @if (!string.IsNullOrEmpty(paymentMethod.Description))
                                        {
                                            <div class="payment-description">@paymentMethod.Description</div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @* added promotion message *@
                    <div class="promotion-message">
                        @Html.Raw(@httpContextAccessor.HttpContext.Session.GetString("TransDescription"))
                        <a href="https://www.abcwarehouse.com/abc-warehouse-credit-card" target="_blank">See Details</a>
					</div>
                    <div class="buttons">
                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" />
                    </div>
                }
                else
                {
                    <div class="message-error">
                        @T("Checkout.NoPaymentMethods")
                    </div>
                }
            </form>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentMethodBottom })
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @await Component.InvokeAsync("OrderSummary")
        </div>
    </div>
</div>
