@model BlogPostModel
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Blog posts");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails") - @Model.Title
            <small>@Html.ActionLink("(" + T("Admin.ContentManagement.Blog.BlogPosts.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")"/>
            <span id="blogpost-delete" class="btn bg-red">
                <i class="fa fa-trash"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("blogpost-delete")
