@model ConfigurationModel

@using Nop.Plugin.Misc.InfigoProductProvider.Models

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Current configuration</h5>
        <div class="card-text">
            <h6>@T("Plugins.Misc.InfigoProductProvider.ApiUserName"): </h6>
            <p>@Model.ApiUserName</p>
            <h6>@T("Plugins.Misc.InfigoProductProvider.ApiBase"): </h6>
            <p>@Model.ApiBase</p>
            <h6>@T("Plugins.Misc.InfigoProductProvider.ProductListUrl"): </h6>
            <p>@Model.ProductListUrl</p>
            <h6>@T("Plugins.Misc.InfigoProductProvider.ProductDetailsUrl"): </h6>
            <p>@Model.ProductDetailsUrl</p>
        </div>
    </div>
</div>
<form asp-controller="InfigoProductProvider" asp-action="Configure" method="post">
    <div class="form-group">
        <nop-label asp-for="ApiUserName"/>
        <input type="text" asp-for="ApiUserName" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ApiBase"/>
        <input type="text" asp-for="ApiBase" placeholder="Api base" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ProductListUrl"/>
        <input type="text" asp-for="ProductListUrl" placeholder="Product list url" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ProductDetailsUrl"/>
        <input type="text" asp-for="ProductDetailsUrl" placeholder="Product details url" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>