@model OrderSettingsModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Configuration.Settings.Order.BlockTitle.Common")
        </div>
        <div class="panel-body">
            <ul class="common-list">
                <li>
                    @T("Admin.Configuration.Settings.Order.ReturnRequestsDescription1")
                </li>
                <li>
                    @T("Admin.Configuration.Settings.Order.ReturnRequestsDescription2")
                </li>
            </ul>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.ReturnRequestsEnabled_OverrideForStore, model => model.ReturnRequestsEnabled, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ReturnRequestsEnabled)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ReturnRequestsEnabled)
                    @Html.ValidationMessageFor(model => model.ReturnRequestsEnabled)
                </div>
            </div>
            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.ReturnRequestNumberMask_OverrideForStore, model => model.ReturnRequestNumberMask, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ReturnRequestNumberMask)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ReturnRequestNumberMask)
                    @Html.ValidationMessageFor(model => model.ReturnRequestNumberMask)
                    <ul class="common-list">
                        <li>
                            @T("Admin.Configuration.Settings.Order.ReturnRequestNumberMask.Description.ID")
                        </li>
                        <li>
                            @T("Admin.Configuration.Settings.Order.ReturnRequestNumberMask.Description.YYYY")
                        </li>
                        <li>
                            @T("Admin.Configuration.Settings.Order.ReturnRequestNumberMask.Description.YY")
                        </li>
                        <li>
                            @T("Admin.Configuration.Settings.Order.ReturnRequestNumberMask.Description.MM")
                        </li>
                        <li>
                            @T("Admin.Configuration.Settings.Order.ReturnRequestNumberMask.Description.DD")
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.NumberOfDaysReturnRequestAvailable_OverrideForStore, model => model.NumberOfDaysReturnRequestAvailable, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.NumberOfDaysReturnRequestAvailable)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.NumberOfDaysReturnRequestAvailable)
                    @Html.ValidationMessageFor(model => model.NumberOfDaysReturnRequestAvailable)
                </div>
            </div>
            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    @Html.OverrideStoreCheckboxFor(model => model.ReturnRequestsAllowFiles_OverrideForStore, model => model.ReturnRequestsAllowFiles, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ReturnRequestsAllowFiles)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ReturnRequestsAllowFiles)
                    @Html.ValidationMessageFor(model => model.ReturnRequestsAllowFiles)
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ReturnRequestReasons")
    @await Html.PartialAsync("_ReturnRequestActions")
</div>