@model TaxSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EuVatEnabled_OverrideForStore" asp-input="EuVatEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EuVatEnabled" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EuVatEnabled" />
            <span asp-validation-for="EuVatEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="EuVatEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatEnabledForGuests_OverrideForStore" asp-input="EuVatEnabledForGuests" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatEnabledForGuests" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EuVatEnabledForGuests" />
                <span asp-validation-for="EuVatEnabledForGuests"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatShopCountryId_OverrideForStore" asp-input="EuVatShopCountryId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatShopCountryId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="EuVatShopCountryId" asp-items="Model.EuVatShopCountries" />
                <span asp-validation-for="EuVatShopCountryId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatAllowVatExemption_OverrideForStore" asp-input="EuVatAllowVatExemption" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatAllowVatExemption" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EuVatAllowVatExemption" />
                <span asp-validation-for="EuVatAllowVatExemption"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatAssumeValid_OverrideForStore" asp-input="EuVatAssumeValid" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatAssumeValid" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EuVatAssumeValid" />
                <span asp-validation-for="EuVatAssumeValid"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatUseWebService_OverrideForStore" asp-input="EuVatUseWebService" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatUseWebService" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EuVatUseWebService" />
                <span asp-validation-for="EuVatUseWebService"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EuVatEmailAdminWhenNewVatSubmitted_OverrideForStore" asp-input="EuVatEmailAdminWhenNewVatSubmitted" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EuVatEmailAdminWhenNewVatSubmitted" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EuVatEmailAdminWhenNewVatSubmitted" />
                <span asp-validation-for="EuVatEmailAdminWhenNewVatSubmitted"></span>
            </div>
        </div>
    </nop-nested-setting>
</div>