@model GdprConsentModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Settings.Gdpr.Consent.Edit").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("GDPR settings");
}

<form asp-controller="Setting" asp-action="EditGdprConsent" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Settings.Gdpr.Consent.Edit")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Gdpr">@T("Admin.Configuration.Settings.Gdpr.Consent.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="gdprconsent-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.GdprConsentDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateGdprConsent", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="gdprconsent-delete" asp-action="DeleteGdprConsent" />
