@model CountryModel

@if (Model.Id > 0)
{
    <div class="panel-body">
        @await Html.PartialAsync("Table", Model.StateProvinceSearchModel.Grid)
    </div>
    <div class="panel-footer">
        <div width="100%">
            <button type="submit" id="btnAddNewState"
                    onclick="javascript:OpenWindow('@(Url.Action("StateCreatePopup", "Country", new { countryId = Model.Id, btnId = "btnRefresh", formId = "country-form" }))', 800, 450, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Configuration.Countries.States.AddNew")
            </button>
            <input type="submit" id="btnRefresh" style="display: none" />
            <script>
                $(document).ready(function () {
                    $('#btnRefresh').click(function () {
                        //refresh grid
                        $('#@Model.StateProvinceSearchModel.Grid.Name').DataTable().ajax.reload();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Configuration.Countries.States.SaveBeforeEdit")
    </div>
}

<script>
    function renderPublished(data, type, row, meta) {
        return row.Published ? '<i class="fa fa-check true-icon"></i>' : '<i class="fa fa-close false-icon"></i>';
    }
    function renderColumnEdit(data, type, row, meta) {
        return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Country/StateEditPopup/")' + data + '?btnId=btnRefresh&formId=country-form\', 800, 400, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
    }
</script>