@using System.Web;

@model (int shoppingCartItemId, string attributeInfo);

@{
    // Need to check whether Edit is an option
    string controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    string actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var showEdit = (controllerName.Equals("ShoppingCart") && actionName.Equals("Cart")) ||
                   (controllerName.Equals("Checkout") && actionName.Equals("BillingAddress")) ||
                   (controllerName.Equals("Checkout") && actionName.Equals("ShippingAddress")) ||
                   (controllerName.Equals("CustomCheckout") && actionName.Equals("ShippingMethod"));

    var attributes = @Model.attributeInfo.Split("<br />");
    var deliveryPickupOptions = attributes.FirstOrDefault(a => a.Contains("Delivery/Pickup Options: "));
    if (deliveryPickupOptions != null)
    {
        // remove attribute name
        deliveryPickupOptions = deliveryPickupOptions.Substring(deliveryPickupOptions.IndexOf(':') + 2);
        // remove second price difference
        var braceIndex = deliveryPickupOptions.IndexOf('[') == -1 ? deliveryPickupOptions.Length : deliveryPickupOptions.IndexOf('[');
        deliveryPickupOptions = deliveryPickupOptions.Substring(0, braceIndex);
        deliveryPickupOptions = deliveryPickupOptions.Trim();
    }

    var haulaway = attributes.FirstOrDefault(a => a.Contains("Haul Away "));
    if (haulaway != null)
    {
        // remove attribute name
        haulaway = haulaway.Substring(haulaway.IndexOf(':') + 2);
        // remove second price difference
        var braceIndex = haulaway.IndexOf('[') == -1 ? haulaway.Length : haulaway.IndexOf('[');
        haulaway = haulaway.Substring(0, braceIndex);
        haulaway = haulaway.Trim();
    }

    var pickup = attributes.FirstOrDefault(a => a.Contains("Pickup: "));
    var available = attributes.FirstOrDefault(a => a.Contains("Available: "));
    if (pickup != null && available != null)
    {
        // remove attribute name
        pickup = pickup.Substring(pickup.IndexOf(':') + 2);
        available = available.Substring(available.IndexOf(':') + 2);
    }

    var warranty = attributes.FirstOrDefault(a => a.Contains("Warranty: "));
    if (warranty != null)
    {
        // remove attribute name
        warranty = warranty.Substring(warranty.IndexOf(':') + 2);
        // change format of price difference
        warranty = warranty.Replace('[', '(').Replace(']', ')').Remove(warranty.IndexOf('+'), 1);
        warranty = warranty.Trim();
    }
}

@if (attributes.Any())
{
    <div class="abc-cart-attribute-info">
        @if (deliveryPickupOptions != null)
        {
            <div class="abc-cart-attribute-info__section">
                <h4>Delivery/Pickup Options</h4>
                <p>@Html.Raw(@deliveryPickupOptions)</p>
                @if (haulaway != null)
                {
                    <p>@haulaway</p>
                }
                @if (pickup != null && available != null)
                {
                    <p>@pickup: @available</p>
                }
            </div>
        }

        @if (warranty != null)
        {
            <div class="abc-cart-attribute-info__section">
                <h4>Warranty</h4>
                <p>@Html.Raw(@warranty)</p>
            </div>
        }

        @if (showEdit)
        {
            <a onclick="editCartItemAsync(@Model.shoppingCartItemId)">EDIT</a>
        }
    </div>
}

