@model TopMenuModel.CategoryLineModel

<li @if (Model.Level == 0) { <text> class="root-category-items" </text>  }>
    @if (Model.Category.SubCategories.Count > 0)
    {
        <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">@Model.Category.Name</a>
        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>@T("SevenSpikes.Themes.Common.BackSublist")</span>
                </li>
                @foreach (var subCategory in Model.Category.SubCategories)
                {
                    var categoryLineModel = new TopMenuModel.CategoryLineModel
                    {
                        Category = subCategory
                    };
                    @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                }
            </ul>
        </div>
    }
    else
    {
        if (Model.Category.NumberOfProducts.HasValue)
        {
            <a href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">@Model.Category.Name @T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)</a>
        }
        else
        {
            <a href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">@Model.Category.Name</a>
        }
    }
</li>
