@using Nop.Core
@using Nop.Services.Configuration
@* ABC: for shopping cart item count *@
@using Nop.Services.Orders
@using Nop.Core.Domain.Orders
@using Nop.Plugin.Misc.AbcCore;

@inject IStoreContext storeContext
@inject ISettingService settingService
@* ABC: custom inject *@
@inject IWorkContext workContext
@inject IShoppingCartService shoppingCartService

@{
    Layout = "_Root.Head";

    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) && actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var storeId = (await storeContext.GetCurrentStoreAsync()).Id;
    bool isLogoStickyOnMobileDevice = await settingService.GetSettingByKeyAsync("pavilionthemesettings.islogostickyonmobiledevice", false, storeId, true);
    string stickyLogoClass = isLogoStickyOnMobileDevice ? "mobile-sticky-logo" : string.Empty;

    // ABC: modifications
    var mobilePhoneNumber = await settingService.GetSettingByKeyAsync("coresettings.mobilephonenumber", "800-981-3866");
    var customer = await workContext.GetCurrentCustomerAsync();
    var shoppingCartItemCount = (await shoppingCartService.GetShoppingCartAsync(
        customer,
        ShoppingCartType.ShoppingCart
    )).Count();

    var primaryColor = await HtmlHelpers.GetPavilionPrimaryColorAsync();

    Html.AddCssFileParts("~/Themes/Pavilion/Content/css/black-friday.css");
}

<style>
    .mobile-header-content-row {
        background-color: #@primaryColor;
    }
</style>

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

<div class="master-wrapper-page @stickyLogoClass">
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div id="mobile-header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>
            <div class="shopping-cart-link">
                <a href="/cart">
                    <span>@T("ShoppingCart")</span>
                    @if (@shoppingCartItemCount > 0)
                    {
                        <div class="mobile-cart-qty">@shoppingCartItemCount</div>
                    }
                </a>
            </div>
        </div>
    </div>
    @* ABC: search bar for mobile *@
    <div class="mobile-header-content-row">
        <div class="mobile-menu" onClick="toggleMobileMenu()">
            <span>Menu</span>
        </div>
        @await Component.InvokeAsync("SearchBox")
    </div>

    @* ABC: moved header to below *@
    @await Html.PartialAsync("_Header")
    <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
    </script>
    <div class="overlayOffCanvas"></div>

    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
		@await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_color_squares" })

        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @if (isHomePage && storeId != 8)
    {
		@await Component.InvokeAsync("Widget", new { widgetZone = "homepage_content_after" })
    }

    @await Component.InvokeAsync("Footer")
</div>

@* ABC: move the search box if required  *@
<script>
    $(document).ready(function() {
        const isMobile = window.innerWidth <= 1000;

        if (isMobile) {
            $("#small-search-box-form").appendTo(".mobile-header-content-row");
        } else {
            $("#small-search-box-form").appendTo(".store-search-box");
        }
    });
</script>

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
