@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="section-head">
        <h2>@T("Account.PasswordRecovery")</h2>
    </div>
    <div class="page-body section-width">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
            <div class="buttons">
                <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="px_register_input">
                            <div class="inputs">
                                <div class="px_input_field">
                                    <span class="pi-padlock1 px_icon"></span>
                                    <input asp-for="NewPassword" placeholder="NewPassword" />
                                </div>
                                <nop-required />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                       
                        <div class="px_register_input">
                            <div class="inputs">
                                <div class="px_input_field">
                                    <span class="pi-padlock1 px_icon"></span>
                                    <input asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword"/>
                                </div>
                                <nop-required />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" name="set-password" class="button-1 new-password-button primary-btn">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                </div>
            </form>
        }
    </div>
</div>