<<<<<<< HEAD
<<<<<<< HEAD
﻿@model AccountActivationModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <h1>@T("Account.AccountActivation")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
        <div class="buttons">
            <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
        </div>
    </div>
=======
=======
=======
<<<<<<< HEAD
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿@model AccountActivationModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <h1>@T("Account.AccountActivation")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
        <div class="buttons">
            <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
        </div>
    </div>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
﻿@model AccountActivationModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <h1>@T("Account.AccountActivation")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
        <div class="buttons">
            <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
        </div>
    </div>
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
</div>