@model CustomerBackInStockSubscriptionsModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Framework;
@using Nop.Web.Models.Customer;
@{    
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="account-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.BackInStockSubscriptions")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @if (Model.Subscriptions.Count > 0)
        {
            @T("Account.BackInStockSubscriptions.Description")
            <br />
            <br />
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#selectall').click(function () {
                        $('.backinstock-subscriptions-box .rowcheckbox').attr('checked', $(this).is(':checked')).change();
                    });

                    $('.backinstock-subscriptions-box .rowcheckbox').live('change', function (e) {
                        var numChkBoxes = $('.backinstock-subscriptions-box .rowcheckbox').length;
                        var numChkBoxesChecked = $('.backinstock-subscriptions-box .rowcheckbox:checked').length;
                        $('#selectall').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    });
                });
            </script>        
            using (Html.BeginRouteForm("CustomerBackInStockSubscriptions", FormMethod.Post))
            {
            <div class="backinstock-subscriptions-box">
                <table class="data-table">
                    <col width="1" />
                    <col />
                    <thead>
                        <tr>
                            <th class="a-center">
                                <input type="checkbox" id="selectall" />
                            </th>
                            <th class="a-center">
                                @T("Account.BackInStockSubscriptions.ProductColumn")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Subscriptions.Count; i++)
                        {
                            var item = Model.Subscriptions[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td class="a-center">
                                    <input type="checkbox" name="biss@(item.Id)" class="rowcheckbox" />
                                </td>
                                <td class="a-left">
                                    @Html.RouteLink(item.ProductName, "Product", new { productId = item.ProductId, SeName = item.SeName })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.PagerModel.TotalPages > 1)
                {
                    <div class="bissgridpagerstyle">
                        @Html.Pager(Model.PagerModel)
                    </div>
                }
                <div class="clear">
                </div>
                <div class="buttons">
                    <input type="submit" value="@T("Account.BackInStockSubscriptions.DeleteSelected")" class="deleteselectedbissbutton" />
                </div>
            </div>
            }
        }
        else
        {
            @T("Account.BackInStockSubscriptions.NoSubscriptions")
        }
    </div>
</div>
