@model Nop.Web.Models.Customer.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_MobileRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <div class="account-page">
        <div class="page-title">
            <h1>@T("Account.ChangePassword")</h1>
        </div>
        <div class="clear">
        </div>
        <div class="body">
            <div class="customer-pass-recovery">
                <div>
                    @Html.ValidationSummary(false)
                    <br />
                    @Model.Result
                </div>
                <div class="clear">
                </div>
                <div class="section-body">
                    @Html.LabelFor(model => model.OldPassword)
                    @Html.EditorFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                    @Html.LabelFor(model => model.NewPassword)
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    @Html.LabelFor(model => model.ConfirmNewPassword)
                    @Html.EditorFor(model => model.ConfirmNewPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
                <div class="clear">
                </div>
                <div class="button">
                    <input type="submit" value="@T("Account.ChangePassword.Button")" />
                </div>
            </div>
        </div>
    </div>
}