@model Nop.Web.Models.Customer.CustomerForumSubscriptionsModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Framework;
@{    
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.ForumSubscriptions").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="account-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ForumSubscriptions")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @if (Model.ForumSubscriptions.Count > 0)
        {
            @T("Account.ForumSubscriptions.Description")
            <br />
            <br />
            <script type="text/javascript">
                $(window).bind('load', function () {
                    var cbHeader = $(".cbHeader input");
                    var cbRowItem = $(".cbRowItem input");
                    cbHeader.bind("click", function () {
                        cbRowItem.each(function () { this.checked = cbHeader[0].checked; })
                    });
                });
            </script>            
            using (Html.BeginForm("forumsubscriptions", "customer", FormMethod.Post))
            {
            <div class="forum-subscriptions-box">
                <table class="data-table">
                    <col width="1" />
                    <col />
                    <thead>
                        <tr>
                            <th class="a-center">
                                <span class="cbHeader">
                                    <input type="checkbox" id="selectall" /></span>
                            </th>
                            <th class="a-center">
                                @T("Account.ForumSubscriptions.InfoColumn")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ForumSubscriptions.Count; i++)
                        {
                            var item = Model.ForumSubscriptions[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td class="a-center">
                                    <span class="cbRowItem">
                                        <input type="checkbox" name="fs@(item.Id)" /></span>
                                </td>
                                <td class="a-left">
                                    @if (item.TopicSubscription)
                                    {
                                        @Html.RouteLink(item.Title, "TopicSlug", new { Id = item.ForumTopicId, slug = item.Slug })
                                    }
                                    else
                                    {
                                        @Html.RouteLink(item.Title, "ForumSlug", new { Id = item.ForumId, slug = item.Slug })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.PagerModel.TotalPages > 1)
                {
                    <div class="fsgridpagerstyle">
                        @Html.Pager(Model.PagerModel)
                    </div>
                }
                <div class="clear">
                </div>
                <div class="buttons">
                    <input type="submit" value="@T("Account.ForumSubscriptions.DeleteSelected")" class="deleteselectedfsbutton" />
                </div>
            </div>
            }
        }
        else
        {
            @T("Account.ForumSubscriptions.NoSubscriptions")
        }
    </div>
</div>
