@model Nop.Web.Models.Customer.CustomerNavigationModel
@using Nop.Web.Models.Customer
<ul data-role="listview" data-inset="true" data-filter="false">
    @if (!Model.HideInfo)
    {
        <li><a href="@Url.RouteUrl("CustomerInfo")" @(Model.SelectedTab == CustomerNavigationEnum.Info ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.CustomerInfo")</a></li>
    }
    @if (!Model.HideAddresses)
    {
        <li><a href="@Url.RouteUrl("CustomerAddresses")" @(Model.SelectedTab == CustomerNavigationEnum.Addresses ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.CustomerAddresses")</a></li>
    }
    @if (!Model.HideOrders)
    {
        <li><a href="@Url.RouteUrl("CustomerOrders")" @(Model.SelectedTab == CustomerNavigationEnum.Orders ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.CustomerOrders")</a></li>
    }
    @if (!Model.HideReturnRequests)
    {
        <li><a href="@Url.RouteUrl("CustomerReturnRequests")" @(Model.SelectedTab == CustomerNavigationEnum.ReturnRequests ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.CustomerReturnRequests")</a></li>
    }
    @if (!Model.HideDownloadableProducts)
    {
        <li><a href="@Url.RouteUrl("CustomerDownloadableProducts")" @(Model.SelectedTab == CustomerNavigationEnum.DownloadableProducts ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.DownloadableProducts")</a></li>
    }
    @if (!Model.HideBackInStockSubscriptions)
    {
        <li><a href="@Url.RouteUrl("CustomerBackInStockSubscriptions")" @(Model.SelectedTab == CustomerNavigationEnum.BackInStockSubscriptions ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.BackInStockSubscriptions")</a></li>
    }
    @if (!Model.HideRewardPoints)
    {
        <li><a href="@Url.RouteUrl("CustomerRewardPoints")" @(Model.SelectedTab == CustomerNavigationEnum.RewardPoints ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.RewardPoints")</a></li>
    }
    @if (!Model.HideChangePassword)
    {
        <li><a href="@Url.RouteUrl("CustomerChangePassword")" @(Model.SelectedTab == CustomerNavigationEnum.ChangePassword ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.ChangePassword")</a></li>
    }
    @if (!Model.HideAvatar)
    {
        <li><a href="@Url.RouteUrl("CustomerAvatar")" @(Model.SelectedTab == CustomerNavigationEnum.Avatar ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.Avatar")</a></li>
    }
    @if (!Model.HideForumSubscriptions)
    {
        <li><a href="@Url.RouteUrl("CustomerForumSubscriptions")" @(Model.SelectedTab == CustomerNavigationEnum.ForumSubscriptions ? Html.Raw(" class=\"ui-btn-active\"") : null) >@T("Account.ForumSubscriptions")</a></li>
    }
</ul>
