@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {
                
            <fieldset class="form-fields">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.NewPassword):</dt>
                    <dd>
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.ConfirmNewPassword):</dt>
                    <dd>
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </dd>
                </dl>
            </fieldset>
            <div class="clear">
            </div>
            <div class="buttons">
                <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
            </div>
            }
        }
    </div>
</div>
