@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Framework;
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                <strong>
                    @Model.Result
                </strong>
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.NewPassword):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ConfirmNewPassword):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    </td>
                </tr>
            </table>
            }
        }
    </div>
</div>
