@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <fieldset class="form-fields">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Email):</dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </dd>
                </dl>
            </fieldset>
            <div class="clear">
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        }
    </div>
</div>
