<<<<<<< HEAD
<<<<<<< HEAD
﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>        
    </div>
=======
=======
=======
<<<<<<< HEAD
﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>        
    </div>
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>        
    </div>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
</div>