@model CustomerReturnRequestsModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="page account-page return-request-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerReturnRequests")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @foreach (var item in Model.Items)
        {
            <fieldset class="request-item">
                <legend class="title">@string.Format(T("Account.CustomerReturnRequests.Title").Text, item.Id, item.ReturnRequestStatus)</legend>
                <div class="info">
                    <div class="product">
                        @T("Account.CustomerReturnRequests.Item") <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="View details">@item.ProductName</a>
                        x @item.Quantity
                    </div>
                    <div class="reason">
                        @string.Format(T("Account.CustomerReturnRequests.Reason").Text, item.ReturnReason)
                    </div>
                    <div class="action">
                        @string.Format(T("Account.CustomerReturnRequests.Action").Text, item.ReturnAction)
                    </div>
                    <div class="date">
                        @string.Format(T("Account.CustomerReturnRequests.Date").Text, item.CreatedOn.ToString())
                    </div>
                    @if (!String.IsNullOrEmpty(item.Comments))
                    {
                        <div class="comments-label">
                            @T("Account.CustomerReturnRequests.Comments")
                        </div>
                        <div class="comments">
                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(item.Comments, false, true, false, false, false, false))
                        </div>
                    }
                </div>
            </fieldset>
            <div class="clear">
            </div>
        }
    </div>
</div>
