@model UserAgreementModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml"; 
}
@using Nop.Web.Framework;
<script type="text/javascript">
    $(document).ready(function () {

        $("#agreementagree").click(toggleContinueButton);

        toggleContinueButton();
    });

    function toggleContinueButton() {
        if ($('#agreementagree').is(':checked')) {
            $('#continuedownloading').removeAttr('disabled');
        } else {
            $('#continuedownloading').attr('disabled', 'disabled');
        }
    }
</script>
<div class="user-agreement-page">
    <div class="page-title">
        <h1>@T("DownloadableProducts.UserAgreement")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @Html.Raw(Model.UserAgreementText)
        <div>
            <input id="agreementagree" type="checkbox" name="agreementagree" value="@T("DownloadableProducts.IAgree")" />
        </div>
        <div>
            <input type="submit" id="continuedownloading" class="button-1 user-agreement-button" value="@T("Common.Continue")" onclick="setLocation('@Url.RouteUrl("GetDownload", new { opvId = Model.OrderProductVariantGuid, agree = true })')" />
        </div>
    </div>
</div>
