@model Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.Models.AuthModel

<div class="google-authenticator-conteiner">
    <div class="instruction">
        @Html.Raw(T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Instruction"))
    </div>
    <div class="table-wrapper">
        <table @*class="data-table"*@>
            <colgroup>
                <col/>
                <col width="80%"/>
            </colgroup>
            <tbody>
                <tr @(Html.Raw(" class=\"ever\""))>
                    <td class="qr-code">
                        <div class="qr-code-conteiner">
                            
                            <div class="qr-code-image">
                                <img src="@(Model.QrCodeImageUrl)" />
                            </div>
                        </div>
                    </td>
                    <td class="manual-code">
                        <div class="manual-code-setup">
                            <ul class="instruction" style="margin-bottom:20px">
                                <li>@Html.Raw(T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.InstructionManual"))</li>
                            </ul>
                            <ul class="account-info">
                                <li>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Account") @(Model.Account)</li>
                                <li>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Key") @(Model.ManualEntryQrCode)</li>
                                <li>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.TypeKey")</li>
                            </ul>
                        </div>
                    </td>
                    
                </tr>
        </table>
    </div>

    <form asp-controller="Authentication" asp-action="RegisterGoogleAuthenticator" method="post">
        <div>
            <input asp-for="SecretKey" type="hidden" />
        </div>
        <div class="card-body">
            <div class="inputs">
                <label asp-for="Code" asp-postfix=":"></label>
                <input asp-for="Code" />
                <span asp-validation-for="Code"></span>
            </div>
            <div class="buttons">
                <button type="submit" name="save-info-button" class="button-1 save-customer-info-button">@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.SendCode")</button>
            </div>
        </div>
    </form>
</div>
