@model Nop.Plugin.Payments.MercadoPago.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentPagSeguro" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h3>Mercado Pago Plugin</h3>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PublicKey_OverrideForStore" asp-input="PublicKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PublicKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicKey" />
                        <span asp-validation-for="PublicKey"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessToken_OverrideForStore" asp-input="AccessToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessToken" />
                        <span asp-validation-for="AccessToken"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PublicKeySandbox_OverrideForStore" asp-input="PublicKeySandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PublicKeySandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicKeySandbox" />
                        <span asp-validation-for="PublicKeySandbox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessTokenSandbox_OverrideForStore" asp-input="AccessTokenSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessTokenSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessTokenSandbox" />
                        <span asp-validation-for="AccessTokenSandbox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentMethodDescription_OverrideForStore" asp-input="PaymentMethodDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentMethodDescription" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PaymentMethodDescription" />
                        <span asp-validation-for="PaymentMethodDescription"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PassPurchasedItems_OverrideForStore" asp-input="PassPurchasedItems" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PassPurchasedItems" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PassPurchasedItems" />
                        <span asp-validation-for="PassPurchasedItems"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsSandbox_OverrideForStore" asp-input="IsSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsSandbox" />
                        <span asp-validation-for="IsSandbox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>