@{
    var gridPageSize = 5;
}

<div id="bestsellers-byquantity-grid" class="bestsellers-list"></div>

<script>
    //row index
    var rowNumber_BriefByQuantity = 0;
    function onBriefByQuantityDataBound(data) {
        return rowNumber_BriefByQuantity = 0;
    }
    function onBriefByQuantityIncrease(max) {
        if (rowNumber_BriefByQuantity === max)
            rowNumber_BriefByQuantity = 0;
        ++rowNumber_BriefByQuantity;
    }

    $(document).ready(function () {
        $("#bestsellers-byquantity-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("BestsellersBriefReportByQuantityList", "Order"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            dataBound: onBriefByQuantityDataBound,
            scrollable: false,
            columns: [{
                field: "ProductName",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.Name")"
            }, {
                field: "TotalQuantity",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")",
                template: '# onBriefByQuantityIncrease(4) # <span class="report-item ' +
                    '# if(rowNumber_BriefByQuantity == 1) {# yellow #} #' +
                    '# if(rowNumber_BriefByQuantity == 2) {# blue #} #' +
                    '# if(rowNumber_BriefByQuantity == 3) {# red #} #' +
                    '# if(rowNumber_BriefByQuantity == 4) {# green #} #' +
                    '">#=TotalQuantity#</span>'
            }, {
                field: "TotalAmount",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")"
            }, {
                field: "ProductId",
                title: "@T("Admin.Common.View")",
                width: 100,
                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">@T("Admin.Common.View")</a>'
            }]
        });
    });
</script>
