@model CountryReportModel
@{
    //page title
    ViewBag.Title = T("Admin.SalesReport.Country").Text;
}

@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
        @T("Admin.SalesReport.Country")
    </div>
    <div class="options">
    </div>
</div>
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StartDate):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.StartDate)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EndDate):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.EndDate)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.OrderStatusId):
        </td>
        <td class="adminData">
            @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.PaymentStatusId):
        </td>
        <td class="adminData">
            @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="search-countryreport" class="k-button" value="@T("Admin.SalesReport.Country.RunReport")" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="countryreport-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#countryreport-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("CountryReportList", "Order"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        scrollable: false,
                        columns: [{
                            field: "CountryName",
                            title: "@T("Admin.SalesReport.Country.Fields.CountryName")"
                        }, {
                            field: "TotalOrders",
                            title: "@T("Admin.SalesReport.Country.Fields.TotalOrders")"
                        },{
                            field: "SumOrders",
                            title: "@T("Admin.SalesReport.Country.Fields.SumOrders")"
                        }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {

                    $('#search-countryreport').click(function () {
                        var grid = $('#countryreport-grid').data('kendoGrid');
                        grid.dataSource.read();
                        return false;
                    });

                });

                function additionalData() {
                    var data = {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#OrderStatusId').val(),
                        PaymentStatusId: $('#PaymentStatusId').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

            </script>
        </td>
    </tr>
</table>