@model IncompleteOrdersChartModel

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-hourglass-start"></i>
            @T("Admin.Dashboard.IncompleteOrders")
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-responsive chart-pie">
                    <canvas id="incomplete-order-statistics" height="203"></canvas>

                    <script>
                        $(document).ready(function () {
                                var iOConfig = {
                                    type: 'pie',
                                    data: {
                                        datasets: [
                                            {
                                                data: [
                                                    '@Model.UnpaidOrders.Count',
                                                    '@Model.NotYetShippedOrders.Count',
                                                    '@Model.IncompleteOrders.Count'
                                                ],
                                                backgroundColor: [
                                                    "#F7464A",
                                                    "#46BFBD",
                                                    "#FDB45C"
                                                ]
                                            }
                                        ],
                                        labels: [
                                            '@Model.UnpaidOrders.ItemName',
                                            '@Model.NotYetShippedOrders.ItemName',
                                            '@Model.IncompleteOrders.ItemName'
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        tooltips: {
                                            bodyFontSize: 14
                                        },
                                    hover: {
                                        onHover: function () {
                                            if (this.active[0]) {
                                                $('#incomplete-order-statistics').css('cursor', 'pointer');
                                            } else {
                                                $('#incomplete-order-statistics').css('cursor', 'default');
                                            }
                                        }
                                    },
                                    onClick: function () {
                                        if (this.active[0]) {
                                            switch (this.active[0]._model.label) {
                                                case '@Model.UnpaidOrders.ItemName':
                                                    setLocation('@Html.Raw(Model.UnpaidOrders.ViewLink)');
                                                    break;
                                                case '@Model.NotYetShippedOrders.ItemName':
                                                    setLocation('@Html.Raw(@Model.NotYetShippedOrders.ViewLink)');
                                                    break;
                                                case '@Model.IncompleteOrders.ItemName':
                                                    setLocation('@Html.Raw(@Model.IncompleteOrders.ViewLink)');
                                                    break;
                                            }
                                        }
                                    }
                                }
                            };

                            var iOCtx = document.getElementById("incomplete-order-statistics").getContext("2d");
                            window.incompleteOrderStatistics = new Chart(iOCtx, iOConfig);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>