<table class="adminContent">
    <tr>
        <td>
            <div id="incomplete-order-report-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#incomplete-order-report-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("OrderIncompleteReportList", "Order"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Item",
                            title: "@T("Admin.SalesReport.Incomplete.Item")"
                        }, {
                            field: "Total",
                            title: "@T("Admin.SalesReport.Incomplete.Total")",
                            width: 150
                        }, {
                            field: "Count",
                            title: "@T("Admin.SalesReport.Incomplete.Count")",
                            width: 150,
                            template: '#=Count# - <a href="#=ViewLink#">@T("Admin.SalesReport.Incomplete.View")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>