@model ShipmentModel
@{
    //page title
    ViewBag.Title = T("Admin.Orders.Shipments.ViewDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(document).ready(function () {
            toggleShippedDate(false);
            toggleDeliveryDate(false);
        });

        function toggleShippedDate(editmode) {
            if (editmode) {
                $('#lblShippedDate').hide();
                $('#divShippedDate').show();
                $('#btnEditShippedDate').hide();
                $('#btnSaveShippedDate').show();
                $('#btnCancelShippedDate').show();
            }
            else {
                $('#lblShippedDate').show();
                $('#divShippedDate').hide();
                $('#btnEditShippedDate').show();
                $('#btnSaveShippedDate').hide();
                $('#btnCancelShippedDate').hide();
            }
        }

        function toggleDeliveryDate(editmode) {
            if (editmode) {
                $('#lblDeliveryDate').hide();
                $('#divDeliveryDate').show();
                $('#btnEditDeliveryDate').hide();
                $('#btnSaveDeliveryDate').show();
                $('#btnCancelDeliveryDate').show();
            }
            else {
                $('#lblDeliveryDate').show();
                $('#divDeliveryDate').hide();
                $('#btnEditDeliveryDate').show();
                $('#btnSaveDeliveryDate').hide();
                $('#btnCancelDeliveryDate').hide();
            }
        }
    </script>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Orders.Shipments.ViewDetails") - @Model.Id
            <small>@Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = Model.OrderId })</small>
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("PdfPackagingSlip", new {shipmentId = Model.Id})" class="btn btn-default">@T("Admin.Orders.Shipments.PrintPackagingSlip")</a>
            <span id="shipment-delete" class="btn btn-default">@T("Admin.Common.Delete")</span>
        </div>
    </div>

    <div class="content">
        @Html.ValidationSummary(false)

        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.OrderId)
                            </div>
                            <div class="col-sm-9">
                                <p>
                                    <a href="@Url.Action("Edit", "Order", new {Id = Model.OrderId})">@Model.OrderId - @T("Admin.Common.View")</a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.TrackingNumber)
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    @Html.NopEditorFor(model => model.TrackingNumber)
                                    <span class="input-group-btn">
                                        <input type="submit" name="settrackingnumber" value="@T("Admin.Orders.Shipments.TrackingNumber.Button")" class="btn btn-info btn-flat" />
                                        @if (!string.IsNullOrEmpty(Model.TrackingNumberUrl))
                                        {
                                            <a href="@Model.TrackingNumberUrl" target="_blank" class="tracking-url">@T("Admin.Orders.Shipments.TrackingNumber.ViewOnline")</a>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.AdminComment)
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    @Html.NopEditorFor(model => model.AdminComment)
                                    <span class="input-group-btn">
                                        <input type="submit" name="setadmincomment" value="@T("Admin.Orders.Shipments.AdminComment.Button")" class="btn btn-info btn-flat" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.TotalWeight)
                            </div>
                            <div class="col-sm-9">
                                <p>@Model.TotalWeight</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.ShippedDate)
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group input-group-short">
                                    <p id="lblShippedDate" class="input-group-text">@Model.ShippedDate</p>
                                    @if (Model.ShippedDateUtc.HasValue)
                                    {
                                        <div id="divShippedDate" style="display: inline-block;">
                                            @Html.NopEditorFor(model => model.ShippedDateUtc)
                                            @T("Admin.Orders.Shipments.ShippedDate.EnterUtc")&nbsp;&nbsp;
                                        </div>
                                    }
                                    <div class="input-group-btn">
                                        @if (Model.CanShip)
                                        {
                                            <input type="submit" name="setasshipped" value="@T("Admin.Orders.Shipments.ShippedDate.Button")" id="setasshipped" class="btn btn-info" />
                                        }
                                        @if (Model.ShippedDateUtc.HasValue)
                                        {
                                            <input type="submit" value="@T("Admin.Common.Edit")" onclick="toggleShippedDate(true);return false; " id="btnEditShippedDate" class="btn bg-light-blue" />
                                            <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveShippedDate" name="saveshippeddate" class="btn bg-light-blue" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                                            <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleShippedDate(false);return false; " id="btnCancelShippedDate" class="btn bg-teal" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.DeliveryDate)
                            </div>

                            <div class="col-sm-9">
                                <div class="input-group input-group-short">
                                    <p id="lblDeliveryDate" class="input-group-text">@Model.DeliveryDate</p>
                                    @if (Model.DeliveryDateUtc.HasValue)
                                    {
                                        <div id="divDeliveryDate" style="display: inline-block;">
                                            @Html.NopEditorFor(model => model.DeliveryDateUtc)
                                            @T("Admin.Orders.Shipments.DeliveryDate.EnterUtc")&nbsp;&nbsp;
                                        </div>
                                    }
                                    <div class="input-group-btn">
                                        @if (Model.CanDeliver)
                                        {
                                            <input type="submit" name="setasdelivered" value="@T("Admin.Orders.Shipments.DeliveryDate.Button")" id="setasdelivered" class="btn btn-info" />
                                        }
                                        @if (Model.DeliveryDateUtc.HasValue)
                                        {

                                            <input type="submit" value="@T("Admin.Common.Edit")" onclick=" toggleDeliveryDate(true);return false; " id="btnEditDeliveryDate" class="btn bg-light-blue" />
                                            <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveDeliveryDate" name="savedeliverydate" class="btn bg-light-blue" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                                            <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleDeliveryDate(false);return false; " id="btnCancelDeliveryDate" class="btn bg-teal" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Orders.Shipments.Products")
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ProductName")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.SKU")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.Warehouse")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ItemWeight")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ItemDimensions")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.QtyShipped")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td style="width: 40%; text-align: left;">
                                            <div>
                                                <em><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></em>
                                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                {
                                                    <p>
                                                        @Html.Raw(item.AttributeInfo)
                                                    </p>
                                                }
                                                @if (!String.IsNullOrEmpty(item.RentalInfo))
                                                {
                                                    <p>
                                                        @Html.Raw(item.RentalInfo)
                                                    </p>
                                                }
                                            </div>
                                        </td>
                                        <td style="width: 15%;">
                                            <div>
                                                @item.Sku
                                            </div>
                                        </td>
                                        <td style="width: 15%;">
                                            <div>
                                                @item.ShippedFromWarehouse
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            @item.ItemWeight
                                        </td>
                                        <td style="width: 10%;">
                                            @item.ItemDimensions
                                        </td>
                                        <td style="width: 10%;">
                                            @item.QuantityInThisShipment
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @if (Model.ShipmentStatusEvents.Count > 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @T("Admin.Orders.Shipments.ShipmentStatusEvents")
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            @T("Admin.Orders.Shipments.ShipmentStatusEvents.Event")
                                        </th>
                                        <th>
                                            @T("Admin.Orders.Shipments.ShipmentStatusEvents.Location")
                                        </th>
                                        <th>
                                            @T("Admin.Orders.Shipments.ShipmentStatusEvents.Country")
                                        </th>
                                        <th>
                                            @T("Admin.Orders.Shipments.ShipmentStatusEvents.Date")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ShipmentStatusEvents)
                                    {
                                        <tr>
                                            <td style="width:40%;">
                                                <div>
                                                    @item.EventName
                                                </div>
                                            </td>
                                            <td style="width:20%;">
                                                <div>
                                                    @item.Location
                                                </div>
                                            </td>
                                            <td style="width:20%;">
                                                <div>
                                                    @item.Country
                                                </div>
                                            </td>
                                            <td style="width:20%;">
                                                <div>
                                                    @if (item.Date.HasValue)
                                                    {
                                                        @item.Date.Value.ToString("D")
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@Html.DeleteConfirmation("DeleteShipment", "shipment-delete")
