@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model OrderModel.UploadLicenseModel

@using Telerik.Web.Mvc.UI;

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Orders.Products.License.UploadFile")
        </div>
        <div class="options">
        </div>
    </div>
    
    @Html.ValidationSummary(false)
    
if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
}

    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.OrderProductVariantId)
    @Html.EditorFor(model => model.LicenseDownloadId)
    <input type="submit" name="uploadlicense" value="@T("Admin.Common.Save")" id="uploadlicense" class="adminButton" />
    if (Model.LicenseDownloadId > 0)
    {
    <input type="submit" name="deletelicense" value="@T("Admin.Common.Delete")" id="deletelicense" class="adminButton" />    
    }
}