@model ProductsGroupAdminModel

@{
	Layout = AdminViewLocations.AdminLayoutViewPath;

	NopHtml.SetActiveMenuItemSystemName("SevenSpikes.SmartProductCollections.Admin.Submenus.ManageGroups");

	string titleInputPlaceholder = T("SevenSpikes.SmartProductCollections.Admin.ProductsGroup.Title.Placeholder").ToString();
}

<link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.SmartProductCollections/Areas/Admin/Content/Styles/spc.adminstyles.css" />

<script src="~/js/admin.table.js" asp-location="Footer"></script>

<form method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("SevenSpikes.SmartProductCollections.admin.submenus.managegroups")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.SmartProductCollections.Admin.ProductGroup.BackToList") + ")", "ManageGroups")</small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (Model.Id > 0)
            {
                <span id="products-group-delete" class="btn bg-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>

    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />

    <section class="content">
		<div class="form-horizontal">
			@await Html.TrialMessageAsync(Model.Settings.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
			<div class="cards-group">
				<div class="card card-default">
					<div class="card-body">
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="Published" />
							</div>
							<div class="col-md-9">
								<nop-editor asp-for="Published" />
							</div>
						</div>
						@(await Html.LocalizedEditorAsync<ProductsGroupAdminModel, ProductsGroupLocalizedAdminModel>("products-group-localized-title",
                    @<text>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Title" />
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Locales[item].Title, new { @class = "k-textbox", placeholder = titleInputPlaceholder })
                            <span asp-validation-for="@Model.Locales[item].Title"></span>
                        </div>
                    </div>
                        <div>
                            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                        </div>
                    </text>,
                    @<text>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Title" />
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox", placeholder = titleInputPlaceholder })
                            <span asp-validation-for="Title"></span>
                        </div>
                    </div>
                    </text>))

						<div class="form-group row widget-zone-dropdown-wrapper">
							<div class="col-md-3">
								<nop-label asp-for="WidgetZone" />
							</div>
							<div class="col-md-9">
								<nop-select asp-for="WidgetZone" asp-items="Model.SupportedWidgetZones" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="Store" />
							</div>
							<div class="col-md-9">
								<nop-select asp-for="Store" asp-items="Model.AvailableStores" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="NumberOfProductsPerItem" />
							</div>
							<div class="col-md-9">
								<nop-editor asp-for="NumberOfProductsPerItem" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="DisplayOrder" />
							</div>
							<div class="col-md-9">
								<nop-editor asp-for="DisplayOrder" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-products-tab-builder-holder">
				@if (Model.Id > 0)
				{
					<div class="product-collections-administration">
						@await Html.PartialAsync(AdminViews.ProductGroupItems, Model)
					</div>
					<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="products-group-delete" />
				}
				else
				{
					<div class="ss-info">
						@T("SevenSpikes.SmartProductCollections.Admin.ProductGroup.SaveBeforeEdit")
					</div>
				}
			</div>
		</div>
        </section>
</form>

