@model DashboardModel

@using Nop.Services.Security

@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
}

@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
        <small>@T("Admin.Dashboard.StoreStatistics")</small>
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-10">
            @Html.Widget("admin_dashboard_top")
            @if (!Model.IsLoggedInAsVendor && canManageOrders)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@T("Admin.SalesReport.Average")</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("OrderAverageReport", "Order")
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.IsLoggedInAsVendor)
            {
                if (canManageOrders || canManageCustomers || canManageProducts)
                {
                    <div class="row">
                        @if (canManageOrders)
                        {
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">@T("Admin.SalesReport.Incomplete")</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("OrderIncompleteReport", "Order")
                                    </div>
                                </div>
                            </div>
                        }

                        @if (canManageCustomers)
                        {
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            @T("Admin.Customers.Reports.RegisteredCustomers")
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("ReportRegisteredCustomers", "Customer")
                                    </div>
                                </div>
                            </div>
                        }

                        @if (canManageProducts)
                        {
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            @T("Admin.SearchTermReport")
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("PopularSearchTermsReport", "Common")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }

            @if (canManageOrders)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    @T("Admin.SalesReport.BestSellers.ByQuantity")
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("BestsellersBriefReportByQuantity", "Order")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    @T("Admin.SalesReport.BestSellers.ByAmount")
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("BestsellersBriefReportByAmount", "Order")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2">
            @if (!Model.IsLoggedInAsVendor)
            {
                @Html.Action("NopCommerceNews", "Home")
            }
        </div>
        @Html.Widget("admin_dashboard_bottom")
    </div>
</div>
