@model DashboardModel

@using Nop.Services.Security

@{
    Html.AppendCssFileParts("~/Administration/Content/ionicons/css/ionicons-2.0.1.min.css");

    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
}

@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-10">
            @Html.Widget("admin_dashboard_top")

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>
                            <p>Total Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="@Url.Content("~/Admin/Order/List/")" class="small-box-footer">
                            More info 
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53</h3>
                            <p>Total Customers</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="@Url.Content("~/Admin/Customer/List/")" class="small-box-footer">
                            More info 
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>
                            <p>Return requests</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Content("~/Admin/ReturnRequest/List/")" class="small-box-footer">
                            More info 
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>
                            <p>Low stock products</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="@Url.Content("~/Admin/Product/LowStockReport/")" class="small-box-footer">
                            More info
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>



            @if (!Model.IsLoggedInAsVendor && canManageOrders)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@T("Admin.SalesReport.Average")</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("OrderAverageReport", "Order")
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.IsLoggedInAsVendor)
            {
                if (canManageOrders || canManageCustomers || canManageProducts)
                {
                    <div class="row">
                        @if (canManageOrders)
                        {
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">@T("Admin.SalesReport.Incomplete")</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("OrderIncompleteReport", "Order")
                                    </div>
                                </div>
                            </div>
                        }

                        @if (canManageCustomers)
                        {
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            @T("Admin.Customers.Reports.RegisteredCustomers")
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("ReportRegisteredCustomers", "Customer")
                                    </div>
                                </div>
                            </div>
                        }

                        @if (canManageProducts)
                        {
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            @T("Admin.SearchTermReport")
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @Html.Action("PopularSearchTermsReport", "Common")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }

            @if (canManageOrders)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    @T("Admin.SalesReport.BestSellers.ByQuantity")
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("BestsellersBriefReportByQuantity", "Order")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    @T("Admin.SalesReport.BestSellers.ByAmount")
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @Html.Action("BestsellersBriefReportByAmount", "Order")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2">
            @if (!Model.IsLoggedInAsVendor)
            {
                @Html.Action("NopCommerceNews", "Home")
            }
        </div>
        @Html.Widget("admin_dashboard_bottom")
    </div>
</div>
