@model SyndicationFeed
@using System.ServiceModel.Syndication;
@using Nop.Core.Domain.Common;
@{
    var hideAdvertisements = EngineContext.Current.Resolve<CommonSettings>().HideAdvertisementsOnAdminArea;
}
<div class="box box-info">
    <div class="box-header with-border clearfix">
        <div class="box-title">
            <i class="fa fa-newspaper-o"></i>
            @T("Admin.NopCommerceNews")
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            @*<button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>*@
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            @for (var i = 0; i < 3; i++)
            {
                if (Model.Items.Count() > i)
                {
                    var item = Model.Items.ElementAt(i);
                    if (item != null)
                    {
                        <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading clearfix">
                                    @if (item.Links.Count > 0)
                                    {
                                        <a class="pull-left" href='@(item.Links[0].Uri.OriginalString)'>@item.Title.Text</a>
                                    }
                                    else
                                    {
                                        <div class="pull-left">@item.Title.Text</div>
                                    }
                                    @*<div class="pull-right">@item.PublishDate.ToString("d")</div>*@
                                </div>
                                <div class="panel-body">
                                    @Html.Raw(item.Summary.Text)
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
    @*<div class="box-footer">
        <button id="nopcommerceNewsHideAdv" class="btn bg-aqua">
            @(hideAdvertisements ? T("Admin.NopCommerceNews.ShowAdv") : T("Admin.NopCommerceNews.HideAdv"))
        </button>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#nopcommerceNewsHideAdv').click(function () {
                    var postData = {
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("NopCommerceNewsHideAdv", "Home"))",
                        data: postData,
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to change setting.');
                        }
                    });
                });
            });
        </script>
    </div>*@
</div>
