@model SyndicationFeed

@using System.ServiceModel.Syndication;
@using Nop.Core.Domain.Common;

@{
    var hideAdvertisements = EngineContext.Current.Resolve<CommonSettings>().HideAdvertisementsOnAdminArea;
}

<div class="box">
    <div class="box-header with-border clearfix">
        <div class="box-title">
            @T("Admin.NopCommerceNews")
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            @*<button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>*@
        </div>
    </div>
    <div class="box-body">
        <div class="panel-group">
            @foreach (var item in Model.Items)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @if (item.Links.Count > 0)
                        {
                            <a href='@(item.Links[0].Uri.OriginalString)'>@item.Title.Text</a>
                        }
                        else
                        {
                            @item.Title.Text
                        }
                        <br/>
                        @item.PublishDate.ToString("d")
                    </div>
                    <div class="panel-body">
                        @Html.Raw(item.Summary.Text)
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="box-footer">
        <a id="nopcommerceNewsHideAdv" href="#">@(hideAdvertisements ? T("Admin.NopCommerceNews.ShowAdv") : T("Admin.NopCommerceNews.HideAdv"))</a>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#nopcommerceNewsHideAdv').click(function () {
                    var postData = {
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("NopCommerceNewsHideAdv", "Home"))",
                        data: postData,
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to change setting.');
                        }
                    });
                });
            });
        </script>
    </div>
</div>
