@model CategoryCollectionsModel

@{
    var numberOfProductsClass = "products-" + Model.Settings.NumberOfProducts;
}

@foreach (var categoryGroup in Model.CategoryGroups)
{
    <div class="spc spc-categories @Model.Settings.CategoryImagesOrientation @numberOfProductsClass"
         notloaded
         data-categorygroupid="@categoryGroup.Id"
         data-getcategorygroupinfourl="@Url.RouteUrl("PrepareCategoryGroupSPC")"
         data-getItemProductsUrl="@Url.RouteUrl("GetProductsForItemSPC")">
        <div class="loading-overlay">
            <span>@T("SevenSpikes.SmartProductCollections.Public.Loading")</span>
        </div>
    </div>
}