@model SpecificationAttributeOptionModel
@{
    Html.AddScriptParts("~/Scripts/farbtastic.js");
    Html.AddCssFileParts("~/Content/farbtastic/farbtastic.css");
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.SpecificationAttributeId)
@{
    //pre-set some color (required for farbtastic)
    if (String.IsNullOrEmpty(Model.ColorSquaresRgb))
    {
        Model.ColorSquaresRgb = "#FFFFFF";
    }
}

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#@Html.FieldIdFor(model => model.EnableColorSquaresRgb)").click(toggleEnableColorSquaresRgb);
        toggleEnableColorSquaresRgb();
    });

    function toggleEnableColorSquaresRgb() {
        if ($('#@Html.FieldIdFor(model => model.EnableColorSquaresRgb)').is(':checked')) {
            $('#pnlColorSquaresRgb').show();
        } else {
            $('#pnlColorSquaresRgb').hide();
        }
    }
</script>
@(Html.LocalizedEditor<SpecificationAttributeOptionModel, SpecificationAttributeOptionLocalizedModel>("specificationattribute-localized",
@<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Locales[item].Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Locales[item].Name)
            @Html.ValidationMessageFor(model => model.Locales[item].Name)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </td>
    </tr>
</table>
,
@<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
</table>
))
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EnableColorSquaresRgb):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.EnableColorSquaresRgb)
            @Html.ValidationMessageFor(model => model.EnableColorSquaresRgb)
        </td>
    </tr>
    <tr id="pnlColorSquaresRgb">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ColorSquaresRgb):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ColorSquaresRgb)
            <div id="color-picker"></div>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#color-picker').farbtastic('#@Html.FieldIdFor(model => model.ColorSquaresRgb)');
                });
            </script>
            @Html.ValidationMessageFor(model => model.ColorSquaresRgb)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DisplayOrder):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </td>
    </tr>
</table>

