@model SpecificationAttributeModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.SpecificationAttributes.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Specification attributes");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "specificationattribute-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Attributes.SpecificationAttributes.AddNew") 
            <small>@Html.ActionLink("(" + T("Admin.Catalog.Attributes.SpecificationAttributes.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn bg-blue" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}