@model Nop.Web.MVC.Areas.Admin.Models.LanguageModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Admin/Content/images/ico-configuration.png")" />
            @T("Edit language details") - @Model.Name @Html.ActionLink("(" + T("back to language list") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="Save" class="t-button" /> <span id="language-delete" class="t-button">Delete</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("language-delete")