@model Nop.Admin.Models.CategoryModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Nop/Admin/Content/images/ico-catalog.png")" />
            @T("Admin.Catalog.Categories.AddNew") - @Html.ActionLink("(" + T("Admin.Catalog.Categories.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="t-button" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}