@model Nop.Admin.Models.ProductVariantModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Nop/Content/images/ico-catalog.png")" />
            @T("Admin.Catalog.Products.Variants.EditProductVariantDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Catalog.Products.Variants.BackToProduct") + ")", "List", "Product", new { Id = Model.ProductId })
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
            <span id="productvariant-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("productvariant-delete")