@model FilterFacetModel
@using Microsoft.AspNetCore.Mvc
@if (Model.SolrConnectionStatus && Model.NumberOfProductFound != 0)
{
    if (!Model.IsAjaxRequest)
    {
        Html.AppendCssFileParts("~/lib_npm/jquery-ui-dist/jquery-ui.min.css");
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        if (Model.SupportRtl)
        {
            if (!string.IsNullOrEmpty(Model.ThemeRtlFileName))
            {
                Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/" + Model.ThemeRtlFileName);
            }
            Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/nopaccelerate-style.rtl.min.css");
            Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/jquery.ui.slider-rtl.css");
            Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/jquery.ui.slider-rtl.js");
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.ThemeFileName))
            {
                Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/" + Model.ThemeFileName);
            }
            Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/nopaccelerate-style.min.css");
        }

        Layout = null;
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/facet.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/custom.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/jquery.ui.touch-punch.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/jquery.history.js");

        Html.AppendCssFileParts("~/Plugins/NopAcceleratePlus.Core/Content/css/jquery.mCustomScrollbar.css");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/NopAcceleratePlus.Core/Content/js/jquery.mCustomScrollbar.concat.min.js");

    }

    var rotateClassName = string.Empty;
    var facetOpenStyle = string.Empty;
    if (!Model.IsFacetOpen)
    {
        rotateClassName = "rotate";
        facetOpenStyle = "display: none;";
    }

    if (!string.IsNullOrEmpty(Model.CanonicalURL))
    {
        Html.AddCanonicalUrlParts(Model.CanonicalURL);
    }
    @if (Model.NoIndexMetaTag)
    {
        Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex\" />");
    }
    @if (Model != null)
    {
        if (!Model.IsAjaxRequest)
        {
            <div class="block nopAcc-plus-filter nopAcc-plus-mobile">
                <span class="nopAccPlus-mob-filter title">@T("Plugins.NopAcceleratePlus.Search.Button.Refine")</span>
            </div>
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('@Model.SortBySelector').off("change");
                    $('@Model.PageSizeSelector').off("change");
                    $('@Model.PaginationSelector').off("change");
                });
            </script>
        }
        var CurrencySymbol = @Model.PriceFilter.CurrencySymbol;
        <div class="nopAcc-filter nopAcc-plus-mobile sidenav" data-getfilteredproductsurl="@Url.RouteUrl("XcellenceIT.Plugin.NopAcceleratePlus.Search.GetFilteredSolrProducts")">
            <div class="data-producthtml" style="display:none">
                @Html.Raw(Model.ProductHtmlData)
                <div id="nopAccplus-facetdata" data-currentcategoryid="@Model.FacetParameters.CurrentCategoryId" data-childcategoryIds="@Model.FacetParameters.ChildCategoryIds" data-manufacturerid="@Model.FacetParameters.ManufacturerId" data-vendorid="@Model.FacetParameters.VendorId" data-producttagid="@Model.FacetParameters.ProductTagId" data-infinitescroll="@Model.FacetParameters.InfiniteScroll" data-infinitescrolltill="@Model.FacetParameters.InfiniteScrollTill" data-enableajaxrequestfacet="@Model.EnableAjaxRequestFacet" data-sortbyselector="@Model.SortBySelector" data-pagesizeselector="@Model.PageSizeSelector" data-paginationselector="@Model.PaginationSelector"
                     data-defaultviewmode="@Model.DefaultViewMode" data-productgridselector="@Model.ProductGridSelector" data-productlistselector="@Model.ProductListSelector" data-refinebuttonselector="@Model.RefineButtonSelector" data-resouceforless="@Model.ResourceStringForLess" data-resouceformore="@Model.ResourceStringForMore" data-shownoofproductsfound="@Model.ShowNoOfProductsFound" data-numberofproductfound="@Model.NumberOfProductFound" data-numberofproductfoundstring="@Model.NumberOfProductFoundString"
                     data-minprice="@Model.PriceFilter.MinPrice" data-maxprice="@Model.PriceFilter.MaxPrice" data-selectedminprice="@Model.PriceFilter.SelectedMinPrice" data-selectedmaxprice="@Model.PriceFilter.SelectedMaxPrice" data-seoprice="@NopAccPlusConstant.SEO_Price" data-pagebodyselector="@Model.PageBodySelector" data-featuredproductgridselector="@Model.FeaturedProductGridSelector" data-viewmodeselector="@Model.ViewModeSelector" data-productreplaceselector="@Model.ProductReplaceSelector"
                     data-enablescrolltotop="@Model.EnableScrollToTop" data-enablescrolltotopfacetapplies="@Model.EnableScrollToTopFacetApplies" data-searchpagescrollfacetselector="@Model.SearchPageScrollFacetSelector" data-backtotoplabelstring="@Model.BackToTopLabelString"
                     data-enablesearchwithin="@Model.EnableSearchWithin" data-searchwithinselector="@Model.SearchWithinSelector" data-searchtermempty="@Model.SearchTermEmpty" data-placeholderforsearchwithin="@Model.PlaceHolderForSearchWithin" data-ajaxrequest="@Model.IsAjaxRequest" data-defaultpagesize="@Model.DefaultPageSize" data-scrolltotopheight="@Model.ScrollToTopHeight" data-mobileviewscreensize="@Model.MobileViewScreenSize">
                    <div class="search-infinite-next" style="display:none;">
                        <button class="search-infinite-next-btn" onclick="showNext()">@T("Plugins.NopAcceleratePlus.Solr.Search.Scroll.More")</button>
                    </div>
                </div>

                @if (Model.SpellcheckSuggestion.suggestion != null)
                {
                    @Html.Raw(Model.SpellcheckSuggestionString)
                }
            </div>

            <div class="product-filters-mobile-title">
                <a href="javascript:void(0)" class="closebtn">&times;</a>
            </div>
            @if (Model.TagsvalueList != null && Model.TagsvalueList.Count != 0)
            {
                <div class="selected-Option @(!string.IsNullOrEmpty(@Model.ClearAllURL) ? "block filter-block acc_active" : "block filter-block")">
                    @if (!string.IsNullOrEmpty(@Model.ClearAllURL))
                    {
                        <a data-facetURL="@Model.ClearAllURL" class="nopAccPlus-clear-all nopAcc-facet-filter clearFilterOptions">@T("Plugins.NopAcceleratePlus.Core.Field.Facet.ClearAll")</a>
                    }
                    <div class="title">
                        <a class="toggleControl">@T("Plugins.NopAcceleratePlus.Core.Field.Facet.SelectedOptions")</a>
                        <div class="acc_icon_expand @(!string.IsNullOrEmpty(@Model.ClearAllURL) ? "rotate" : @rotateClassName)"></div>

                    </div>
                    <div class="filtersGroupPanel selected-filters">
                        @foreach (var tagsvalue in Model.TagsvalueList)
                        {
                            <div class="nopAccPlus-selected-category">
                                <label class="nopAccPlus-selected-title">@tagsvalue.Title :</label>
                                <ul class="checkbox-list">
                                    @foreach (var tag in tagsvalue.TagsValueList)
                                    {
                                        <li class="checkbox-item">
                                            <div data-facetURL="@tag.URL" class="nopAccPlus-selected-tag nopAcc-facet-filter"><span>@tag.Name</span></div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }
            @if ((Model.PriceFilter.MinPrice != 0 || Model.PriceFilter.MaxPrice != 0) && (Model.EnablePriceRangeFilter == true) && (Model.NumberOfProductFound != 0))
            {
                <div class="@(!string.IsNullOrEmpty(@Model.PriceFilter.ClearPriceurl) ? "block filter-block nopAccePlus-price-range-filter acc_active" : "block filter-block nopAccePlus-price-range-filter")">
                    @if (!string.IsNullOrEmpty(Model.PriceFilter.ClearPriceurl))
                    {
                        <a class="nopAccPlus-clear-all nopAcc-facet-filter clearFilterOptions" data-facetURL="@Model.PriceFilter.ClearPriceurl">@T("Plugins.NopAcceleratePlus.Core.Field.Facet.Clear")</a>
                    }
                    <div class="title">
                        <a class="toggleControl">@T("Plugins.NopAcceleratePlus.Core.Field.Facet.PriceRange")</a>
                        <div class="acc_icon_expand @(!string.IsNullOrEmpty(@Model.PriceFilter.ClearPriceurl) ? "rotate" : @rotateClassName)"></div>

                    </div>
                    <div class="filtersGroupPanel price-filter" style="@(!string.IsNullOrEmpty(@Model.PriceFilter.ClearPriceurl) ? "" : @facetOpenStyle)">
                        <div class="price-label">
                            <label class="float-l">@Model.MinPrice</label>
                            <label class="float-r">@Model.MaxPrice</label>
                        </div>
                        <div id="nopAccPlus-priceSlider"></div>
                    </div>
                </div>
            }
            @foreach (var parent in Model.FilterFacetList)
            {
                @if (parent.FilterFacetValueList.Count > 0)
                {
                    <div class="@(!string.IsNullOrEmpty(@parent.ClearURL) ? "block filter-block acc_active" : "block filter-block")">
                        @if (!string.IsNullOrEmpty(@parent.ClearURL))
                        {
                            <a class="nopAccPlus-clear-all nopAcc-facet-filter clearFilterOptions" data-facetURL="@parent.ClearURL">@T("Plugins.NopAcceleratePlus.Core.Field.Facet.Clear")</a>
                        }
                        <div class="title">
                            <a class="toggleControl">@parent.Title</a>
                            <div class="acc_icon_expand @(!string.IsNullOrEmpty(@parent.ClearURL) ? "rotate" : @rotateClassName)"></div>
                        </div>
                        <div class="filtersGroupPanel filtersCheckboxPanel content-d3" style="@(!string.IsNullOrEmpty(@parent.ClearURL) ? "" : @facetOpenStyle)">

                            @if (parent.FilterFacetValueList.Count > Model.FacetSearchBoxCount && parent.Title != T("Plugins.NopAcceleratePlus.Core.Field.ProductRatingSeoName").Text && parent.Title != T("Plugins.NopAcceleratePlus.Core.Field.PriceSlotSEOName").Text)
                            {
                                <input type="text" id="nopAccPlus-myInput-@(@parent.Group + "-" + parent.Title.Replace(" ", ""))" onkeyup="nopAccPlus_seeMoreFunction('@(parent.Group + "-" + parent.Title.Replace(" ", ""))')" placeholder="@string.Format(T("Plugins.NopAcceleratePlus.Core.Facet.Textbox.PlaceHolder.SearchFor").ToString(), parent.Title)" title="@string.Format(T("Plugins.NopAcceleratePlus.Core.Facet.Textbox.Title.TitleIn").ToString(), parent.Title)" class="nopAccPlus-myInputClass">
                            }
                            <ul id="@(@parent.Group + "-" + parent.Title.Replace(" ", ""))" class="checkbox-list">
                                @{
                                    var index = 0;
                                }
                                @if (parent.Title == T("Plugins.NopAcceleratePlus.Core.Field.ProductRatingSeoName").ToString())
                                {
                                    @foreach (var child in parent.FilterFacetValueList)
                                    {
                                        var className = string.Empty;
                                        if (child.IsChecked)
                                        {
                                            className = "checked";
                                        }
                                        <li class="checkbox-item @className">
                                            @if (child.IsChecked)
                                            {
                                                <input class="nopAcc-facet-filter" type="checkbox" name="@child.Name" value="@child.Name" data-facetURL="@child.URL" checked>
                                            }
                                            else
                                            {
                                                <input class="nopAcc-facet-filter" type="checkbox" name="@child.Name" value="@child.Name" data-facetURL="@child.URL">
                                            }
                                            @{
                                                var lenght = NopAccPlusConstant.FACETFIELD_ProductRatingFacetField.Length + 2;
                                                var value = child.Name.Substring(lenght, 1);
                                                var percentageCount = int.Parse(value) * 20;
                                            }
                                            <label class="nopAcc-facet-filter filter-item-name rating-anchor" rel="nofollow" data-facetURL="@child.URL">
                                                <div class="product-rating-box" title="@child.Name">
                                                    <div class="rating">
                                                        <div id="ratingpercentage" style="width: @percentageCount%"></div>
                                                    </div>
                                                    @if (value != "5")
                                                    {
                                                        <div>@T("Plugins.NopAcceleratePlus.Core.Facet.AndUp") (@child.Count)</div>
                                                    }
                                                    else
                                                    {
                                                        <div>(@child.Count)</div>
                                                    }
                                                </div>
                                            </label>
                                        </li>
                                    }
                                }
                                else
                                {
                                    @foreach (var child in parent.FilterFacetValueList)
                                    {
                                        var className = string.Empty;
                                        if (child.IsChecked)
                                        {
                                            className = "checked";
                                        }
                                        if (index < Model.FacetSearchBoxCount || !Model.EnableFacetShowMoreOptions || parent.Title == T("Plugins.NopAcceleratePlus.Core.Field.PriceSlotSEOName").Text)
                                        {
                                            <li class="nopAccPlus-Visiable checkbox-item nopAccPlus-Show @(child.ColorSquaresRgb != null ? "color-checkbox-item" : "") @className">
                                                @if (child.IsChecked)
                                                {
                                                    <input class="nopAcc-facet-filter @(child.ColorSquaresRgb != null ? "color-rgb" : "")" type="checkbox" name="@child.Name" value="@child.Name" data-facetURL="@child.URL" checked>
                                                }
                                                else
                                                {
                                                    <input class="nopAcc-facet-filter @(child.ColorSquaresRgb != null ? "color-rgb" : "")" type="checkbox" name="@child.Name" value="@child.Name" data-facetURL="@child.URL">
                                                }
                                                @if (child.ColorSquaresRgb != null)
                                                {
                                                    <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                        <span class="attribute-squares color-squares">
                                                            <span class="attribute-square-container" title="@child.Name">
                                                                <span class="attribute-square" style="background-color: @child.ColorSquaresRgb">&nbsp;@child.Name</span>
                                                            </span>
                                                        </span>
                                                        @child.Name (@child.Count)
                                                    </label>
                                                }
                                                else
                                                {
                                                    if (parent.Title != @T("Plugins.NopAcceleratePlus.Core.Field.StockAvailabilitySeoName").ToString())
                                                    {
                                                        <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                            @child.Name (@child.Count)
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                            @child.Name
                                                        </label>
                                                    }
                                                }
                                            </li>
                                        }
                                        else
                                        {
                                            var ShowHideclassName = string.Empty;
                                            if (Model.EnableFacetShowMoreOptions)
                                            {
                                                ShowHideclassName = "nopAccPlus-Hide";
                                            }
                                            else
                                            {
                                                ShowHideclassName = "nopAccPlus-Show";
                                            }
                                            <li class="nopAccPlus-NoVisiable checkbox-item @(child.ColorSquaresRgb != null ? "color-checkbox-item" : "") @ShowHideclassName @className">
                                                @if (child.IsChecked)
                                                {
                                                    <input class="nopAcc-facet-filter @(child.ColorSquaresRgb != null ? "color-rgb" : "")" type="checkbox" name="@child.Name" value="@child.Name" checked data-facetURL="@child.URL">
                                                }
                                                else
                                                {
                                                    <input class="nopAcc-facet-filter filter-item-name @(child.ColorSquaresRgb != null ? "color-rgb" : "")" type="checkbox" name="@child.Name" value="@child.Name" data-facetURL="@child.URL">
                                                }
                                                @if (child.ColorSquaresRgb != null)
                                                {
                                                    <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                        <span class="attribute-squares color-squares">
                                                            <span class="attribute-square-container" title="@child.Name">
                                                                <span class="attribute-square" style="background-color: @child.ColorSquaresRgb">&nbsp;@child.Name</span>
                                                            </span>
                                                        </span>
                                                        @child.Name (@child.Count)
                                                    </label>
                                                }
                                                else
                                                {
                                                    if (parent.Title != @T("Plugins.NopAcceleratePlus.Core.Field.StockAvailabilitySeoName").ToString())
                                                    {
                                                        <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                            @child.Name (@child.Count)
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="nopAcc-facet-filter filter-item-name" data-facetURL="@child.URL" rel="nofollow">
                                                            @child.Name
                                                        </label>
                                                    }
                                                }
                                            </li>

                                        }
                                        index = index + 1;
                                    }
                                }
                            </ul>
                            @if (parent.FilterFacetValueList.Count > Model.FacetSearchBoxCount && Model.EnableFacetShowMoreOptions && parent.Title != T("Plugins.NopAcceleratePlus.Core.Field.ProductRatingSeoName").Text && parent.Title != T("Plugins.NopAcceleratePlus.Core.Field.PriceSlotSEOName").Text)
                            {
                                var moreProducts = parent.FilterFacetValueList.Count - Model.FacetSearchBoxCount;
                                <div class="nopAccPlus-showMore"><span>@moreProducts @T("Plugins.NopAcceleratePlus.Core.Facet.More")</span></div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    }
}
else
{
     if (!Model.SolrConnectionStatus)
    {
        <style>
            h4.nopAccPlus-WarningMessage {
                text-align: center;
                color: red;
                padding: 5px 0px;
                font-size: 12px;
                font-family: monospace;
            }
        </style>
        <script asp-location="Footer">
        $(document).ready(function () {
            $("<h4 class='nopAccPlus-WarningMessage'>" + "@T("Plugins.NopAcceleratePlus.Solr.Connection.Warning").ToString()" + "</h4>").insertAfter(".admin-header-links");
        });
        </script>
    }
}