@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    <div class="admin-header-links">
        <ul>
            @if (Model.IsCustomerImpersonated)
            {
                <li><span class="impersonate">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)
                    - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                </span></li>
            }
            @if (Model.DisplayAdminLink)
            {
                <li><a href="@Url.Content("~/admin")" class="administration">@T("Account.Administration")</a>
                </li>
            }
        </ul>
    </div>
}