@model HeaderLinksModel
@using Nop.Web.Models.Common;
@Html.Widget("mobile_header_links_before")
<div data-role="navbar">
    <ul>
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerMyAccount")" class="account" data-role="button">@Model.CustomerEmailUsername</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout" data-role="button">@T("Account.Logout")</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register" data-role="button">@T("Account.Register")</a></li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login" data-role="button">@T("Account.Login")</a></li>
        }
    </ul>
</div>
<div data-role="navbar">
    <ul>
        @if (Model.ShoppingCartEnabled)
        {
            <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart" data-role="button">@T("ShoppingCart")
                @T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</a></li>
        }
        @if (Model.WishlistEnabled)
        {
            <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist" data-role="button">@T("Wishlist")
                @T("Wishlist.HeaderQuantity", Model.WishlistItems)</a></li>
        }
    </ul>
</div>
@Html.Widget("mobile_header_links_after")
