@model Nop.Web.Models.Common.InfoBlockModel
@*TODO localize all labels*@
<div class="block block-info">
    <div class="title">
        Infortmation
    </div>
    <div class="clear">
    </div>
    <div class="listbox">
        <ul>
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">About us</a></li>
            @if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            @*TODO enbale/disable links for forums based on settings 
TODO add URLs for forums*@
            <li><a href="#">Forums</a></li>
            @if (Model.RecentlyAddedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
            }
            @if (Model.RecentlyViewedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
            }
            @if (Model.CompareProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>            
            }
            <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">Shipping &
                Returns</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })">Privacy Notice</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofUse" })">Conditions
                of Use</a></li>
        </ul>
    </div>
</div>
