@model Nop.Web.Models.Common.InfoBlockModel

<div class="block block-info">
    <div class="title">
        @T("Information")
    </div>
    <div class="clear">
    </div>
    <div class="listbox">
        <ul>
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">@T("AboutUs")</a></li>
            @if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            @if (Model.ForumEnabled)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            @if (Model.RecentlyAddedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
            }
            @if (Model.RecentlyViewedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
            }
            @if (Model.CompareProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>            
            }
            @if (Model.SitemapEnabled)
            {
                <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
            }
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">@T("ShippingReturns")</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })">@T("PrivacyNotice")</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofUse" })">@T("ConditionsOfUse")</a></li>
        </ul>
    </div>
</div>
