@model Nop.Web.Models.Common.MenuModel
@{
    var storeLocation = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
@*UNDONE localize*@
<ul class="topmenu">
    <li><a href="@storeLocation">Home page</a></li>
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li>
    }
    <li><a href="#">Search</a> </li>
    <li><a href="@Url.Action("myaccount", "customer")">My account</a></li>
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    <li><a href="#">Forums</a></li>
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
</ul>
