@model SolrSearchModel
@{
    //page title
    ViewBag.Title = T("XcellenceIT.Plugin.NopAcceleratePlus.Search.Title.SearchSetting").Text;
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.NopAcceleratePlus.Search.SearchSetting");
}
@inject Nop.Core.IWebHelper webHelper
<link href="~/Plugins/NopAcceleratePlus.Search/Content/css/admin-search-configure.min.css" rel="stylesheet" />
<nop-antiforgery-token />


@if (!@Model.IsLicenseActive)
{
    <style>
        #registerForm {
            padding: 25px;
            background: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            overflow: auto;
        }
    </style>
    <div class="col-sm-12 col-md-8 col-lg-8" style="padding-top: 110px;float: none;margin: 0 auto;">
        <div id="registerForm">
            <div class="content-header clearfix" style="padding:0">
                <h1 class="float-left">
                    @T("Plugins.NopAcceleratePlus.Search.Fields.NopAccelerateSearch")
                </h1>
            </div>
            <div>
                @Html.Raw(@Model.RegistrationForm)
            </div>
        </div>
    </div>
}
else
{
    <form asp-controller="NopAcceleratePlusSearch" asp-action="SearchSetting" method="post">
        <div class="content-header clearfix">@Html.Raw(@Model.LicenseInformation)</div>
        <div class="content-header clearfix">
            <h1 class="float-left">
                @T("Plugins.NopAcceleratePlus.Search.Fields.NopAccelerateSearch") - @T("Plugins.NopAcceleratePlus.Search.Fields.SearchSetting")
            </h1>
            <h1 class="float-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
            </h1>
        </div>
        <div class="content-header clearfix">
            @await Component.InvokeAsync("StoreScopeConfiguration")
        </div>
        <div asp-validation-summary="All"></div>
        <div class="content search-setting-page">
            <div class="form-horizontal">
                <nop-tabs id="performanceconfiguration">
                    <nop-tab asp-name="tab-search" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabsearch")" asp-default="true">
                        <div class="cards-group">
                            <div class="card card-default">
                                <div class="card-body">

                                    <!--Restart Application Setting -->
                                    <div class="form-group row" style="display:none">
                                        <div class="col-md-2">
                                            <nop-editor asp-for="RestartApplicationForSearch" />
                                        </div>
                                    </div>
                                    <!--Enable Search -->
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            @*<nop-override-store-checkbox asp-for="EnableSearch_OverrideForStore" asp-input="EnableSearch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                            <nop-label asp-for="EnableSearch" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="EnableSearch" />
                                        </div>
                                    </div>


                                    <!--Ajax Request status -->
                                    <div class="form-group row" id="pnlenableAjaxRequest">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableAjaxRequestFacet_OverrideForStore" asp-input="EnableAjaxRequestFacet" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableAjaxRequestFacet" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="EnableAjaxRequestFacet" />
                                        </div>
                                    </div>

                                    <!--Infinite Scrolling -->
                                    <div class="form-group row" id="pnlenableinfinitescrolling">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableInfiniteScrolling_OverrideForStore" asp-input="EnableInfiniteScrolling" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableInfiniteScrolling" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableInfiniteScrolling" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="InfiniteScrollingTillPage_OverrideForStore" asp-input="InfiniteScrollingTillPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="InfiniteScrollingTillPage" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="InfiniteScrollingTillPage" />
                                            <span asp-validation-for="InfiniteScrollingTillPage"></span>
                                        </div>
                                    </div>

                                    <!--Show no of Products Found -->
                                    <div class="form-group row" id="pnlshownoofproductsfound">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="ShowNoOfProductsFound_OverrideForStore" asp-input="ShowNoOfProductsFound" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="ShowNoOfProductsFound" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="ShowNoOfProductsFound" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nop-tab>
                    <nop-tab asp-name="tab-boost" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabboost")">
                        <div class="cards-group">
                            <div class="card card-default">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div>
                                                <p>You can define the custom search term boost (also known as weight) for certain field higher than other fields to determine the correct order of search results. This boost is used by Apache Solr to determine score and relative ranking of the results for a given term.</p>
                                                <p>Select a Boost value from a scale of 1 to 10, 10 being the highest boost given to a field.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="SearchOperator_OverrideForStore" asp-input="SearchOperator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchOperator" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-select asp-for="SearchOperator" asp-items="Model.AvailableSearchOperators" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="SearchMinimumDiv">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="SearchMinimumMatch_OverrideForStore" asp-input="SearchMinimumMatch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchMinimumMatch" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchMinimumMatch" />
                                            <span asp-validation-for="SearchMinimumMatch"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnName_OverrideForStore" asp-input="EnableSearchOnName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnName" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnName" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnName_OverrideForStore" asp-input="SearchWeightOnName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnName" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnShortDesc_OverrideForStore" asp-input="EnableSearchOnShortDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnShortDesc" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnShortDesc" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnShortDesc_OverrideForStore" asp-input="SearchWeightOnShortDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnShortDesc" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnShortDesc" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnFullDesc_OverrideForStore" asp-input="EnableSearchOnFullDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnFullDesc" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnFullDesc" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnFullDesc_OverrideForStore" asp-input="SearchWeightOnFullDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnFullDesc" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnFullDesc" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnCategoryName_OverrideForStore" asp-input="EnableSearchOnCategoryName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnCategoryName" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnCategoryName" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnCategoryName_OverrideForStore" asp-input="SearchWeightOnCategoryName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnCategoryName" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnCategoryName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnManufacturerName_OverrideForStore" asp-input="EnableSearchOnManufacturerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnManufacturerName" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnManufacturerName" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnManufacturerName_OverrideForStore" asp-input="SearchWeightOnManufacturerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnManufacturerName" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnManufacturerName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnProductTagName_OverrideForStore" asp-input="EnableSearchOnProductTagName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnProductTagName" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnProductTagName" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnProductTagName_OverrideForStore" asp-input="SearchWeightOnProductTagName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnProductTagName" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnProductTagName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnSku_OverrideForStore" asp-input="EnableSearchOnSku" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnSku" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnSku" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnSku_OverrideForStore" asp-input="SearchWeightOnSku" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnSku" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnSku" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnGTIN_OverrideForStore" asp-input="EnableSearchOnGTIN" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnGTIN" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnGTIN" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnGTIN_OverrideForStore" asp-input="SearchWeightOnGTIN" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnGTIN" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnGTIN" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnManufacturerPartNumber_OverrideForStore" asp-input="EnableSearchOnManufacturerPartNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnManufacturerPartNumber" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnManufacturerPartNumber" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnManufacturerPartNumber_OverrideForStore" asp-input="SearchWeightOnManufacturerPartNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnManufacturerPartNumber" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnManufacturerPartNumber" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnProductAttribute_OverrideForStore" asp-input="EnableSearchOnProductAttribute" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnProductAttribute" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnProductAttribute" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnProductAttribute_OverrideForStore" asp-input="SearchWeightOnProductAttribute" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnProductAttribute" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnProductAttribute" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnProductAttributeValue_OverrideForStore" asp-input="EnableSearchOnProductAttributeValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnProductAttributeValue" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnProductAttributeValue" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnProductAttributeValue_OverrideForStore" asp-input="SearchWeightOnProductAttributeValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnProductAttributeValue" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnProductAttributeValue" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnSpecificationAttribute_OverrideForStore" asp-input="EnableSearchOnSpecificationAttribute" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnSpecificationAttribute" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnSpecificationAttribute" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnSpecificationAttribute_OverrideForStore" asp-input="SearchWeightOnSpecificationAttribute" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnSpecificationAttribute" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnSpecificationAttribute" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnSpecificationAttributeValue_OverrideForStore" asp-input="EnableSearchOnSpecificationAttributeValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnSpecificationAttributeValue" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnSpecificationAttributeValue" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnSpecificationAttributeValue_OverrideForStore" asp-input="SearchWeightOnSpecificationAttributeValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnSpecificationAttributeValue" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnSpecificationAttributeValue" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnMetaDescription_OverrideForStore" asp-input="EnableSearchOnMetaDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnMetaDescription" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnMetaDescription" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnMetaDescription_OverrideForStore" asp-input="SearchWeightOnMetaDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnMetaDescription" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnMetaDescription" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnMetaKeywords_OverrideForStore" asp-input="EnableSearchOnMetaKeywords" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnMetaKeywords" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnMetaKeywords" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnMetaKeywords_OverrideForStore" asp-input="SearchWeightOnMetaKeywords" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnMetaKeywords" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnMetaKeywords" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnMetaTitle_OverrideForStore" asp-input="EnableSearchOnMetaTitle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnMetaTitle" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnMetaTitle" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnMetaTitle_OverrideForStore" asp-input="SearchWeightOnMetaTitle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnMetaTitle" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnMetaTitle" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="EnableSearchOnSlugName_OverrideForStore" asp-input="EnableSearchOnSlugName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="EnableSearchOnSlugName" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="EnableSearchOnSlugName" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="SearchWeightOnSlugName_OverrideForStore" asp-input="SearchWeightOnSlugName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="SearchWeightOnSlugName" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="SearchWeightOnSlugName" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="HighRelevancyForInStock_OverrideForStore" asp-input="HighRelevancyForInStock" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="HighRelevancyForInStock" />
                                        </div>
                                        <div class="col-md-3">
                                            <nop-editor asp-for="HighRelevancyForInStock" />
                                        </div>
                                        <div class="col-md-4">
                                            <nop-override-store-checkbox asp-for="WeightOnHighRelevancyForInStock_OverrideForStore" asp-input="WeightOnHighRelevancyForInStock" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="WeightOnHighRelevancyForInStock" />
                                        </div>
                                        <div class="col-md-2">
                                            <nop-editor asp-for="WeightOnHighRelevancyForInStock" />
                                            <span asp-validation-for="WeightOnHighRelevancyForInStock"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </nop-tab>
                    <nop-tab asp-name="tab-shorting" asp-title="@T("Plugins.NopAcceleratePlus.Core.tabsorting")">@await Html.PartialAsync("~/Plugins/NopAcceleratePlus.Search/Views/Admin/_SortingSearchSetting.cshtml", Model)</nop-tab>
                </nop-tabs>

            </div>

            @await Component.InvokeAsync("NopAcceleratePlusSearchVersion")
        </div>

    </form>
    <script>
    $(document).ready(function () {

        restartApplication();
        $("#@Html.IdFor(model => model.EnableSearch)").click(toggleEnableSearch);
        toggleEnableSearch();

        function restartApplication() {
            if ($('#@Html.IdFor(model => model.RestartApplicationForSearch)').is(':checked')) {
				$("#restart-application").click()
            }
        }

        function toggleEnableSearch() {
        if ($('#@Html.IdFor(model => model.EnableSearch)').is(':checked')) {
            $('#pnlenableinfinitescrolling').show();
            $('#pnlshownoofproductsfound').show();
            $('#pnlenableAjaxRequest').show();
            //This take second li of tab for show tab-boost tab
            $("#performanceconfiguration ul li:eq(1)").show();

        } else {
            $('#pnlenableinfinitescrolling').hide();
            $('#pnlshownoofproductsfound').hide();
            $('#pnlenableAjaxRequest').hide();
            //This take second li of tab for hide tab-boost tab
            $("#performanceconfiguration ul li:eq(1)").hide();
        }
        }
        $("#@Html.IdFor(model => model.EnableAjaxRequestFacet)").click(toggleEnableAjaxRequestFacet);

        function toggleEnableAjaxRequestFacet() {
        if ($('#@Html.IdFor(model => model.EnableAjaxRequestFacet)').is(':checked') === false) {
            if ($('#@Html.IdFor(model => model.EnableInfiniteScrolling)').is(':checked') === true) {
                $('#@Html.IdFor(model => model.EnableInfiniteScrolling)').click();
            }
            $('#@Html.IdFor(model => model.EnableInfiniteScrolling)').prop("checked", false);
        }
    }

        MinimumCheck();

        function MinimumCheck() {
            if (($('#SearchOperator').val() == 'MSM')) {
                $('#SearchMinimumDiv').show();
            } else {
                $('#SearchMinimumDiv').hide();
            }
        }
        $("#SearchOperator").change(function () {
            MinimumCheck();
        });

        $('input[type=checkbox]').each(function () {
            var item = $(this)[0].id;
            if (item != 'EnableSearch' && !item.includes('OverrideForStore')) {
                if ($(this).prop("checked") == false) {
                    $(this).parent().next().hide();
                    $(this).parent().next().next().hide();
                }
                else if ($(this).prop("checked") == true) {
                    $(this).parent().next().show();
                    $(this).parent().next().next().show();
                }
            }
        });

        $('input[type="checkbox"]').click(function () {
            var item = $(this)[0].id;
            if (item != 'EnableSearch' && !item.includes('OverrideForStore')) {
                if ($(this).prop("checked") == false) {
                    $(this).parent().next().hide();
                    $(this).parent().next().next().hide();
                }
                else if ($(this).prop("checked") == true) {
                    $(this).parent().next().show();
                    $(this).parent().next().next().show();
                }
            }
        });
        $('input[type="submit"]').click(function (e) {
            $("#InfiniteScrollingTillPage").removeAttr("disabled");
        });
    });
    </script>
}

