@model ProductReviewModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.ProductReviews.EditProductReviewDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product reviews");
}

<form asp-controller="ProductReview" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductReviews.EditProductReviewDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.ProductReviews.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (!Model.IsLoggedInAsVendor)
            {
                //this button is not visible to vendors
                <span id="productreview-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductReviewDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //this button is not visible to vendors
    <nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="productreview-delete" />
}
