@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body panel-body from-panel">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
            <div class="buttons">
                <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" asp-for="NewPassword" asp-postfix=":"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-6 col-md-4">
                            <input class="form-control col-sm-6 col-md-4" asp-for="NewPassword" />
                        </div>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-6 col-md-4">
                            <input class="form-control col-sm-6 col-md-4" asp-for="ConfirmNewPassword" />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-3 col-md-9">
                        <button type="submit" name="set-password" class="btn btn-primary new-password-button">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
