@model NewsletterBoxModel
@using Nop.Web.Models.Newsletter;
<div class="newsletter">
    <div class="title">
        <strong>@T("Newsletter.Title")</strong>
    </div>
    <div class="newsletter-subscribe" id="newsletter-subscribe-block">
        <div class="newsletter-email">
            @Html.TextBoxFor(x => x.NewsletterEmail, new { id = "newsletter-email", @class = "newsletter-subscribe-text" })
            <input type="button" value="@T("Newsletter.Options.Subscribe")" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button" />
        </div>
        <div class="newsletter-validation">
            <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(x => x.NewsletterEmail)
        </div>
        @if (Model.AllowToUnsubscribe)
        {
            <div class="newsletter-remove-email">
                <input type="button" value="@T("Newsletter.Options.Unsubscribe")" id="newsletter-unsubscribe-button" class="button-1 newsletter-unsubscribe-button" />
            </div>
        }
    </div>
    <div class="newsletter-result" id="newsletter-result-block"></div>

    <script type="text/javascript">
        function newsletter_subscribe(subscribe) {
            
            var email = $("#newsletter-email").val();
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: { "subscribe": subscribe, "email": email },
                success: function(data) {
                    subscribeProgress.hide();
                    $("#newsletter-result-block").html(data.Result);
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').show();
                    } else {
                        $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletter-subscribe-button').click(function () {
                newsletter_subscribe('true');
            });
            $('#newsletter-unsubscribe-button').click(function () {
                newsletter_subscribe('false');
            });
        });
    </script>
</div>
