<<<<<<< HEAD
<<<<<<< HEAD
﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    NopHtml.AppendPageCssClassParts("html-newsletter-page");
}
<div class="page newsletter-page">
    <div class="page-title">
        <h1>@T("Newsletter.Title")</h1>
    </div>
    <div class="page-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>
=======
=======
=======
<<<<<<< HEAD
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    NopHtml.AppendPageCssClassParts("html-newsletter-page");
}
<div class="page newsletter-page">
    <div class="page-title">
        <h1>@T("Newsletter.Title")</h1>
    </div>
    <div class="page-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    NopHtml.AppendPageCssClassParts("html-newsletter-page");
}
<div class="page newsletter-page">
    <div class="page-title">
        <h1>@T("Newsletter.Title")</h1>
    </div>
    <div class="page-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
