@model CustomerAttributeModel

@if (Model.Id > 0)
{
    /*TODO display the following warning if values are not supported by selected attribute control type - 'Values are not required for this attribute control type' */

    <div class="panel-body">
        @await Html.PartialAsync("Table", Model.CustomerAttributeValueSearchModel.Grid)
    
        <script>
            function renderColumnEdit(data, type, row, meta) {
                return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/CustomerAttribute/ValueEditPopup/")' + data + '?btnId = btnRefresh&formId=customerattribute-form\', 800, 400, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
            }
        </script>    
    </div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("ValueCreatePopup", "CustomerAttribute", new { customerAttributeId = Model.Id, btnId = "btnRefresh", formId = "customerattribute-form" }))', 800, 400, true); return false;" class="btn btn-primary">
            @T("Admin.Customers.CustomerAttributes.Values.AddNew")
        </button>
        <input type="submit" id="btnRefresh" style="display: none" />
        <script>
            $(document).ready(function () {
                $('#btnRefresh').click(function () {
                    //refresh grid
                     $('#@Model.CustomerAttributeValueSearchModel.Grid.Name').DataTable().ajax.reload();

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Customers.CustomerAttributes.Values.SaveBeforeEdit")
    </div>
}
