@model IList<SystemWarningModel>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-warnings.gif")" alt="" />
        @T("Admin.System.Warnings")
    </div>
</div>
<div class="system-warnings">
    <ul>
        @foreach (var warning in Model)
        {
            <li>
                @switch (warning.Level)
                {
                    case SystemWarningLevel.Pass:
                        {
                    <span class="pass">@warning.Text</span>
                        }
                        break;
                    case SystemWarningLevel.Warning:
                        {
                    <span class="warning">@warning.Text</span>
                        }
                        break;
                    case SystemWarningLevel.Fail:
                        {
                    <span class="fail">@warning.Text</span>
                        }
                        break;
                }
            </li>
        }
    </ul>
</div>
