@model ProductModel

<div class="panel-group">
    <p>
        @T("Admin.Catalog.Products.ProductAttributes.Hint")
    </p>
    @if (Model.Id > 0)
    {
        if (Model.AvailableProductAttributes.Count > 0)
        {
            <div id="productattribute-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-attributes", @T("Admin.Catalog.Products.ProductAttributes.Attributes"), true, "tab-attributes")
                    @Html.RenderBootstrapTabHeader("tab-attribute-combinations", @T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-attributes", await Html.PartialAsync("_CreateOrUpdate.ProductAttributes.Info"), true, "tab-attributes")
                    @Html.RenderBootstrapTabContent("tab-attribute-combinations", await Html.PartialAsync("_CreateOrUpdate.ProductAttributes.Combinations"))
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @T("Admin.Catalog.Products.ProductAttributes.NoAttributesAvailable")
                </div>
            </div>
        }
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Catalog.Products.ProductAttributes.SaveBeforeEdit")
            </div>
        </div>
    }
</div>