@model ProductAttributeMappingModel

@if (Model.Id > 0)
{
    <div class="panel-body">
        @await Html.PartialAsync("Table", Model.ProductAttributeValueSearchModel.Grid)
    
        <script>
            function renderColumnEdit(data, type, row, meta) {
                return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Product/ProductAttributeValueEditPopup/")' + data + '?btnId=btnRefresh&formId=productattribute-form\', 800, 750, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
            }
        </script>
    </div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("ProductAttributeValueCreatePopup", "Product", new { productAttributeMappingId = Model.Id, btnId = "btnRefresh", formId = "productattribute-form" }))', 800, 750, true);return false;" class="btn btn-primary">
            @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.AddNew")
        </button>
        <input type="submit" id="btnRefresh" style="display: none"/>
        <script>
            $(document).ready(function() {
                $('#btnRefresh').click(function() {
                    //refresh grid
                    $('#@Model.ProductAttributeValueSearchModel.Grid.Name').DataTable().ajax.reload();

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.SaveBeforeEdit")
    </div>
}