@model ProductTagModel

<div class="card-body">
    <div class="cards-group">
        @(await Html.LocalizedEditorAsync<ProductTagModel, ProductTagLocalizedModel>("producttag-seo-localized",
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].MetaTitle" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.Locales[item].MetaTitle" />
                    <span asp-validation-for="@Model.Locales[item].MetaTitle"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].MetaKeywords" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.Locales[item].MetaKeywords" />
                    <span asp-validation-for="@Model.Locales[item].MetaKeywords"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].MetaDescription" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="@Model.Locales[item].MetaDescription"></nop-textarea>
                    <span asp-validation-for="@Model.Locales[item].MetaDescription"></span>
                </div>
            </div>
            <div>
                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
            </div>
        </div>
            ,
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="MetaTitle" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MetaTitle" />
                    <span asp-validation-for="MetaTitle"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="MetaKeywords" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MetaKeywords" />
                    <span asp-validation-for="MetaKeywords"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="MetaDescription" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="MetaDescription"></nop-textarea>
                    <span asp-validation-for="MetaDescription"></span>
                </div>
            </div>
        </div>))
    </div>

</div>