@model ProductTagModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.ProductTags.EditTagDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Product tags");
}

<form asp-controller="Product" asp-action="EditProductTag" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.ProductTags.EditTagDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="ProductTags">@T("Admin.Catalog.ProductTags.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-floppy-disk"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="producttag-delete" class="btn bg-red">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductTagDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateProductTag", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="producttag-delete" asp-action="ProductTagDelete" /> 