@model ProductModel
@using Nop.Core.Domain.Catalog

@{
	ViewBag.PageTitle = T("Admin.Catalog.Products.EditProductDetails").Text;
	NopHtml.SetActiveMenuItemSystemName("Products");
}

<form asp-controller="Product" asp-action="Edit" method="post" id="product-form">
	<div class="content-header clearfix">
		<h1 class="float-left">
			@T("Admin.Catalog.Products.EditProductDetails") - @Model.Name
			<small>
				<i class="fas fa-arrow-circle-left"></i>
				<a asp-action="List">@T("Admin.Catalog.Products.BackToList")</a>
			</small>
		</h1>
		<div class="float-right">
			@await Component.InvokeAsync(typeof(MultistorePreviewViewComponent), Model)

			<button type="submit" name="save" class="btn btn-primary">
				<i class="far fa-floppy-disk"></i>
				@T("Admin.Common.Save")
			</button>
			<button type="submit" name="save-continue" class="btn btn-primary">
				<i class="far fa-floppy-disk"></i>
				@T("Admin.Common.SaveContinue")
			</button>
			<button type="button" name="copyproduct" class="btn bg-olive" data-toggle="modal" data-target="#copyproduct-window">
				<i class="far fa-clone"></i>
				@T("Admin.Catalog.Products.Copy")
			</button>

			<!-- ✅ SEO Button -->
			<button type="button" id="btnGenerateSeo" data-product-id="@Model.Id" class="btn btn-info">Generate SEO</button>


			<input type="text" id="SearchEngineName" name="SearchEngineName" />
			<input type="text" id="MetaKeywords" name="MetaKeywords" />
			<input type="text" id="MetaDescription" name="MetaDescription" />
			<input type="text" id="MetaTitle" name="MetaTitle" />


			<span id="product-delete" class="btn btn-danger">
				<i class="far fa-trash-can"></i>
				@T("Admin.Common.Delete")
			</span>

			@await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductDetailsButtons, additionalData = Model })
		</div>
	</div>
	@await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="product-delete" />

@if (!Model.IsLoggedInAsVendor)
{
	@await Html.PartialAsync("_ProductEditorSettingsModal", Model)
}

<div id="copyproduct-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="copyproduct-window-title">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="copyproduct-window-title">@T("Admin.Catalog.Products.Copy")</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form asp-controller="Product" asp-action="CopyProduct" method="post">
				<div class="form-horizontal">
					<div class="modal-body">
						<input asp-for="CopyProductModel.Id" type="hidden" />
						<div class="form-group row">
							<div class="col-md-4">
								<nop-label asp-for="CopyProductModel.Name" />
							</div>
							<div class="col-md-8">
								<nop-editor asp-for="CopyProductModel.Name" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<nop-label asp-for="CopyProductModel.Published" />
							</div>
							<div class="col-md-8">
								<nop-editor asp-for="CopyProductModel.Published" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">
							<i class="far fa-clone"></i>
							@T("Admin.Catalog.Products.Copy")
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



@section Scripts {
	<script>
		$(document).ready(function () {
			$('#btnGenerateSeo').click(function () {
				var productId = $(this).data('product-id');

				$.ajax({
					url: '/Admin/Product/GenerateSeo?id=' + productId,
					type: 'GET',
					success: function (response) {
						console.log("SEO Data:", response);

						// Ab yaha form fields me value set kar sakte ho
						$('#SeName').val(response.seName);
						$('#MetaKeywords').val(response.metaKeywords);
						$('#MetaDescription').val(response.metaDescription);
						$('#MetaTitle').val(response.metaTitle);
					},
					error: function (xhr) {
						alert("SEO generate karte waqt error aaya.");
					}
				});
			});
		});
	</script>
}




@* @section Scripts {
	<script>
		// Jab "Generate SEO" button pe click hoga
		$(document).ready(function () {
			$('#btnGenerateSeo').click(function () {
				const productId = '@Model.Id';

				$.ajax({
					url: '/Admin/Seo/Generate', // Controller ka action
					type: 'POST',
					data: { productId: productId },
					success: function (response) {
						// SEO fields me response set karo
						$('#MetaKeywords').val(response.metaKeywords);
						$('#MetaDescription').val(response.metaDescription);
						$('#MetaTitle').val(response.metaTitle);

						alert('✅ SEO fields generate ho gayi!');
					},
					error: function () {
						alert('❌ SEO generate karne me error aayi!');
					}
				});
			});
		});
	</script>
} *@
