@using Nop.Core.Domain.Catalog;
@using Nop.Web.Components;
@using Nop.Web.Framework.Mvc.Routing;
@using Nop.Web.Models.ShoppingCart;
@model ShoppingCartModel

@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax

@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //var model = (ShoppingCartModel)ViewBag.product;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<style>
    a {
        text-decoration: none;
        color: inherit;
    }

    .Scanstyle {
        height: 37px;
        border: 0;
        background-color: #4ab2f1;
        padding: 0 15px;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 1%;
        padding: 0px 23px;
    }


    /* ----------- iPad Air ----------- */

    @@media screen and (min-device-width: 820px) and (max-device-width: 1180px) {

        .searchBtnStyle {
            margin-right: -2%;
            text-align: center;
        }

        #Specification {
            display: none;
        }

        .Scanstyle {
            height: 37px;
            border: 0;
            background-color: #4ab2f1;
            padding: 0 15px;
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 1%;
            width: 94px
        }
    }

    /* ----------- iPad Mini ----------- */

    @@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {


        .SpecificationStyle {
            display: none;
        }

        .Scanstyle {
            height: 37px;
            border: 0;
            background-color: #4ab2f1;
            padding: 0 15px;
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 1%;
            width: 94px
        }

        .searchBtnStyle {
            margin-right: -2%;
            text-align: center;
        }
    }

    .searchBtnStyle {
        display: grid;
        margin-right: -42%;
        text-align: center;
    }

    .ScantextBox {
        margin: 0 -5px 0 0;
        display: flex;
        width: auto;
    }

    .search-box input.search-box-text {
        width: auto;
        text-align: left;
    }

    #ScanInput {
        padding: 18px;
    }

</style>



<div class="header">
    <h2> New Order </h2>
    <div>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <div id="small-search-box-form" style="display:flex">

                        <input type="text" class="ScantextBox" id="ScanInput" autocomplete="off" name="myTextValue" value="" placeholder="Scan" aria-label="Scan Product" />

                        <button id="ScanButton" onclick="handleChange()" class="Scanstyle">Scan</button>


                    </div>
                </div>

                <div class="col-sm-6" style="display:none">
                    <div class="search-box test">
                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                    </div>
                </div>

                <div class="col-sm-6 searchBtnStyle">
                    <div class="search-box" id="small-search-box-form">
                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                    </div>

                </div>
            </div>
        </div>
    </div>
    <form asp-action="Neworder" asp-controller="Pos" asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
        <div class="page shopping-cart-page">
            <div class="page-title">
            </div>
            <div class="container">
                <div class="row">
                    @if (Model.Items.Count() > 0)
                    {
                        <table class="cart table table-bordered">
                            <colgroup>
                                @if (Model.ShowSku)
                                {
                                    <col width="1" />
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <col width="1" />
                                }
                                <col width="1" />
                                @if (Model.ShowVendorName)
                                {
                                    <col width="1" />
                                }
                                <col width="1" />
                                <col width="1" />
                                <col width="1" />
                                @if (Model.IsEditable)
                                {
                                    <col width="1" />
                                }
                            </colgroup>
                            <thead class="hidden-xs">
                                <tr class="border border-1 cart-header-row">
                                    <th>
                                        SKU
                                    </th>
                                    <th class="picture">
                                        Image
                                    </th>
                                    <th class="products-title">
                                        Product(s)
                                    </th>
                                    <th class="border border-1">
                                        Price
                                    </th>
                                    <th class="border border-1">
                                        Qty.
                                    </th>
                                    <th class="end">
                                        Total
                                    </th>
                                    @if (Model.IsEditable)
                                    {
                                        <th>
                                            Remove
                                        </th>
                                    }

                                </tr>
                            </thead>
                            @foreach (var item in Model.Items)
                            {
                                <tr style="border: 1px solid #ddd;">
                                    @if (Model.ShowSku)
                                    {
                                        <td class="sku">
                                            <label class="td-title" style="font-weight:bold">SKU :</label>
                                            <span class="sku-number">@item.Sku</span>
                                        </td>
                                    }
                                    @if (Model.ShowProductImages)
                                    {
                                        <td class="product-picture">
                                            <a href="@(Url.RouteUrl<Product>(new { SeName = item.ProductSeName }))"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                    }
                                    <td class="product">
                                        @{
                                            var pname = item.ProductName;
                                            var testpname = pname.Substring(0, 12);
                                        }
                                        <a href="@(Url.RouteUrl<Product>(new { SeName = item.ProductSeName }))">@testpname...</a>
                                        @*<a href="@(Url.RouteUrl<Product>(new { SeName = item.ProductSeName }))" class="product-name">@item.ProductName</a>*@

                                        @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="SpecificationStyle">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                        {
                                            <div class="recurring-info">
                                                @Html.Raw(item.RecurringInfo)
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (Model.IsEditable && item.AllowItemEditing)
                                        {
                                            var editCartItemUrl = Url.RouteUrl<Product>(new { SeName = item.ProductSeName }, webHelper.GetCurrentRequestProtocol());
                                            editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid", item.Id.ToString());
                                            <div class="edit-item">
                                                <a href="@editCartItemUrl">Edit</a>
                                            </div>
                                        }
                                        @if (item.Warnings.Count > 0)
                                        {
                                            <div class="message-error">
                                                <ul>
                                                    @foreach (var warning in item.Warnings)
                                                    {
                                                        <li>@Html.Raw(warning)</li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                    @if (Model.ShowVendorName)
                                    {
                                        <td class="vendor">
                                            <label class="td-title">Vendor name</label>
                                            <span class="vendor-name">@item.VendorName</span>
                                        </td>
                                    }
                                    <td class="unit-price">
                                        <label class="td-title" style="font-weight:bold">Price :</label>
                                        <span class="product-unit-price">@item.UnitPrice</span>
                                    </td>
                                    <td class="quantity">
                                        <label class="td-title" for="itemquantity@(item.Id)" style="font-weight:bold">Qty :</label>
                                        @if (Model.IsEditable)
                                        {
                                            if (item.AllowedQuantities.Count > 0)
                                            {
                                                <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                    @foreach (var qty in item.AllowedQuantities)
                                                    {
                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" aria-label="Quantity" />
                                            }
                                        }
                                        else
                                        {
                                            <span class="product-quantity">@item.Quantity</span>
                                        }
                                    </td>
                                    <td class="subtotal">
                                        <label class="td-title" style="font-weight:bold">Total :</label>
                                        <span class="product-subtotal">@item.SubTotal</span>
                                        @if (!string.IsNullOrEmpty(item.Discount))
                                        {
                                            <div class="discount">
                                                (You save: {0}, item.Discount)
                                            </div>
                                            if (item.MaximumDiscountedQty.HasValue)
                                            {
                                                <div class="discount-additional-info">
                                                    (Discounted qty: {0}, item.MaximumDiscountedQty.Value)
                                                </div>
                                            }
                                        }
                                    </td>
                                    @if (Model.IsEditable)
                                    {
                                        <td class="remove-from-cart">
                                            @if (item.DisableRemoval)
                                            {
                                                <text>&nbsp;</text>
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" aria-label="Remove" />
                                                <button type="button" name="updatecart" class="remove-btn" onclick="$('#removefromcart@(item.Id)').attr('checked', true); $('#updatecart').click();"></button>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <br />
                        <div class="no-data">
                            <p>Your Shopping Cart is empty!</p>
                        </div>

                    }
                    @if (Model.IsEditable)
                    {
                        <div class="update-continue-button">
                            <div class="common-buttons" style="background-color: white;">

                                <div class="update-cart"><button type="submit" name="updatecart" id="updatecart" class="btn btn-default update-cart-button">UpdateCart</button></div>

                                <div class="update-cart"> <button type="button" class="box-button btn btn-primary" onclick="location.href='@Url.Action("StartCheckout","Pos")'"> Checkout </button></div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </form>
</div>






<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>

    function handleChange() {
        var myInputValue = $("#ScanInput").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Scan", "Pos")",
            data: { myInputValue: myInputValue },
            success: function (result) {
                console.log(result);
                window.location.reload();
            }
        });
    }

</script>