@using Nop.Core.Domain.Customers;

@using Nop.Core.Domain.Orders;
@using Nop.Services.Customers;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

@inject ICustomerService _customerService
@model IEnumerable<Order>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*we remove the default InputTagHelper to prevent the checkbox duplicating: https://stackoverflow.com/questions/42544961/asp-net-core-custom-input-tag-helper-rendering-duplicate-checkboxes*@
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.InputTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@addTagHelper *, MiniProfiler.AspNetCore.Mvc

@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.13.1/b-2.3.3/fc-4.2.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.css" />*@


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
<script src="~/js/admin.table.js" asp-location="Footer"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .gotocart {
        border: 0;
        background-color: #4ab2f1;
        padding: 9px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        align-items: center;
        display: inline-flex;
    }

    .inputbutton {
        height: 36px;
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<h2> Search By </h2>
<br />
<div class="container">
    <form asp-controller="Pos">
        <input type="radio" id="OrderNumber" name="Search1" class="OrderNumberClass" value="OrderNumber">
        <label for="OrderNumber">Order Number</label>

        <input type="radio" id="CustomerName" name="Search2" class="CustomerNameClass" value="CustomerName">
        <label for="CustomerName">Customer Name</label>

        <input type="radio" id="CustomerEmail" name="Search3" class="CustomerEmailClass" value="CustomerEmail">
        <label for="CustomerEmail">Customer Email</label>

        <br /><br />

        <input type="text" class="inputbutton" id="SearchValue" name="SearchValue">
        <button asp-action="OrderList" asp-controller="Pos" type="submit" class="gotocart" id="searchvalue">Search Order</button>
    </form>
    <br />


</div>

<div>
</div>

<hr />

<form asp-controller="Pos">

    @if (Model.Count() != 0)
    {
        <div style="text-align: center">
            <table id="myTable" class="table" width="100%">
                <thead class=>
                    <tr class="border border-1 cart-header-row">
                        <th>
                            Order Number
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Order Status
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            Shipping Status
                        </th>
                        <th>
                            Created on
                        </th>
                        <th>
                            Total Amount
                        </th>
                        <th>
                            Order Details
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="border border-1 cart-header-row">
                            <td>
                                @item.CustomOrderNumber
                            </td>
                            <td>
                                @{
                                    var customerdetails = _customerService.GetCustomerByIdAsync(item.CustomerId).Result;
                                    var name = customerdetails.FirstName;
                                }
                                @name
                            </td>
                            <td>
                                @item.OrderStatus
                            </td>
                            <td>
                                @item.PaymentStatus
                            </td>
                            <td>
                                @item.ShippingStatus
                            </td>
                            <td>
                                @item.CreatedOnUtc.Date.ToShortDateString()
                            </td>
                            <td>
                                @item.OrderTotal
                            </td>
                            <td>
                                <div style="text-align: center">
                                    <button style="border:none;background:none" asp-action="Details" asp-controller="Pos" asp-route-orderId="@item.Id"><i class="fa-sharp fa-solid fa-circle-info fa-xl" style="color: #009dff;"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    else
    {
        <p>No Records Found</p>
    }

</form>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "responsive": true,
            "scrolly": "450px",
            "scrollX": true,
            "scrollCollapse": true,
            "paging": true,
            "lengthChange": false,
            "pageLength": 5,
            "order": [[0, 'desc']],
            "searching": false,
            "language": {
                "zeroRecords": "No Record Found"
            },
            'autoWidth': true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>


<script>
    var OrderNumberField = document.getElementById("OrderNumber");
    var CustomerNameField = document.getElementById("CustomerName");
    var CustomerEmailField = document.getElementById("CustomerEmail");
    var SearchBoxField = document.getElementById("SearchValue");


    OrderNumberField.onclick = function () {
        CustomerNameField.checked = false;
        CustomerEmailField.checked = false;
        SearchBoxField.type = "number";
    }

    CustomerNameField.onclick = function () {
        OrderNumberField.checked = false;
        CustomerEmailField.checked = false;
        SearchBoxField.type = "text";

    }


    CustomerEmailField.onclick = function () {
        CustomerNameField.checked = false;
        OrderNumberField.checked = false;
        SearchBoxField.type = "email";

    }
</script>

