@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="title">
            <strong>@T("SevenSpikes.Themes.Voyage.FeaturedCategories")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item">
                        <div class="wrapper picture-wrapper">
                            <div class="picture">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = "voyage_homepage_subcategories", additionalData = item.Id })
                        </div>
                        <div class="wrapper text-wrapper">
                            <h2 class="category-title">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    @item.Name
                                </a>
                            </h2>
                            <a class="view-all" href="@Url.RouteUrl("Category", new { SeName = item.SeName })"><span>@T("SevenSpikes.Themes.Voyage.ViewAll")</span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}